<?php // -*-php-*-
// $Id: ratings.tmpl 7956 2011-03-03 17:08:31Z vargenau $
?>
<!-- Ratings -->
<?php if (!$WikiTheme->DUMP_MODE) {
  $loader = new WikiPluginLoader();
  printXML($loader->expandPI("<"."?plugin RateIt show=top imgPrefix=BStar ?".">", $request, $dbi->_markup));
} ?>
