/*
 *
 * the Savannah Project
 * Copyright 2002 (c) Mathieu Roy <yeupou@gnu.org>
 * See the ChangeLog file for a detailed list of changes
 *
 *  http://savannah.gnu.org 
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
 *
 * $Id$
 *
*/

/* general stuff */
BODY { 
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
  background: #314f4f;
  font-family: arial,helvetica;
  font-size: small;
  color: #f5deb3;
}

A { text-decoration: none; color: #fff3e0;}
a:hover { background: #f5deb3;  text-decoration: none; color: #314f4f; }
a:active { color: #00618e; }

.smaller { font-size: smaller; }
.small { font-size: small; }
.xsmall { font-size: xx-small; }
.center { text-align: center; }
.left { text-align: left; }
.error { font-weight: bold; color: #980000; }
.bold { font-weight: bold; }

PRE,TT { font-family: courier,sans-serif; }
HR { width: 99%; } 
input { background-color: #314f4f; color: #fff3e0; }
select { background-color: #314f4f; color: #fff3e0; }
option { background-color: #314f4f; color: #fff3e0; }
textarea { background-color:  #314f4f; color: #fff3e0; }

.footer { font-size: x-small; }
.standardtable {  width: 99%; border-spacing: 0; border: 0; }

/* content frame specific */
.contenttable { vertical-align: top; width: 99%; border-spacing: 0; border: 0; }

/* left menu specific */
.menutable { background-color: #314f4f; vertical-align: top; width: 150px; border-spacing: 0; border: 0; font-size: small; }
.menutitle { border: thin outset #314f4f; vertical-align: top; font-weight: bold; text-align: left; }
.menuitem { border: thin outset #314f4f; vertical-align: top; text-align: right; }
.menusearch { font-size: xx-small; } 

/* classic box */
.boxtable { width: 99%; vertical-align: top; border-spacing: 1px; border: 0; }
.boxtitle { border: thin outset #314f4f; font-weight: bold; text-align: center; text-transform: capitalize;  }
      /* if there's a link in boxtitle, we use sortbutton */
      .sortbutton { color: #ffffff; }
      /*.sortbutton:hover { color: #917400; }*/
.boxitem { text-align: left; }

.boxitemalt { background-color: #507777; text-align: left; }



/* priority  */
.priora { background-color: #000000; }
.priorb { background-color: #2b0000; }
.priorc { background-color: #3a0000; }
.priord { background-color: #510000; }
.priore { background-color: #660000; }
.priorf { background-color: #7c0000; }
.priorg { background-color: #930000; }
.priorh { background-color: #a50000; }
.priori { background-color: #bf0000; }

/* page specific */
  /* index.php */
  .indexcenter { vertical-align: top; width: 65%; }
  .indexright { vertical-align: top; width: 35%; }



.tabs { }
.tabselect { color: #f5deb3; }
.tabselect:hover { }
        .titlebar { }
        .develtitle {  }
        .legallink {  }



/* This is the original Sourceforge css.. we let this stuff here until this savaannah css is fully used */

SPAN.center { text-align: center; }
SPAN.boxspace { font-size: 2pt; }
SPAN.alignright { text-align: right }
SPAN.maintitlebar { }
SPAN.titlebar { }


