<VirtualHost _default_:80>
	ServerName	gforge.company.com
	DocumentRoot	/opt/gforge/www
	ErrorDocument 404 /404.php
	
	<Directory "/opt/gforge/www">
		Options	Indexes FollowSymLinks Multiviews
		Order	allow,deny
		allow from all
	</Directory>

	<Location "/projects">
		ForceType application/x-httpd-php
	</Location>

	<Location "/users">
		ForceType application/x-httpd-php
	</Location>

	#
	#       mailman settings - may have to adjust
	#
	ScriptAlias	/mailman	/usr/lib/mailman/cgi-bin
	Alias	/pipermail	/var/lib/mailman/archives/public

	<Directory "/usr/lib/mailman/cgi-bin">
		Options	Indexes FollowSymLinks Multiviews
		Order	allow,deny
		allow from all
	</Directory>

	<Directory "/var/lib/mailman/archives/public">
		Options	Indexes FollowSymLinks Multiviews
		Order	allow,deny
		allow from all
	</Directory>

	#
	#	SVN Repository
	#
	<Location /svn>
		DAV svn
		SVNParentPath /var/lib/gforge/chroot/scmrepos/svn

		# how to authenticate a user
		AuthzSVNAccessFile /var/lib/gforge/svnroot-access
		AuthType Basic
		AuthName "Document repository"
		AuthUserFile /var/lib/gforge/svnroot-authfile
		# SVNIndexXSLT "/svnindex.xsl"
	
		# only authenticated users may access the repository
		Require valid-user
	</Location>

	php_value	include_path ".:/opt/gforge/www/include/:/opt/gforge:/etc/gforge/"

	Alias /scripts/jquery/ /opt/gforge/lib/vendor/jquery/
	Alias /scripts/jquery-tipsy/ /opt/gforge/lib/vendor/jquery-tipsy/
	Alias /scripts/prototype/ /opt/gforge/lib/vendor/prototype/
	Alias /scripts/scriptaculous/ /opt/gforge/lib/vendor/scriptaculous/
	Alias /scripts/yui/ /opt/gforge/lib/vendor/yui/build/

	Include "/etc/gforge/httpd.d/*.conf"
</VirtualHost>
