system_name=MyForge
domain_name=gforge.company.com
server_admin=webmaster@gforge.company.com
db_host=
db_port=5432
db_name=alexandria
db_user=www
db_password=
ip_address=10.GF.OR.GE
scm_host=cvs.gforge.company.com
shell_host=shell.gforge.company.com
users_host=users.gforge.company.com
lists_host=lists.gforge.company.com
jabber_host=jabber.gforge.company.com
upload_host=upload.gforge.company.com
download_host=download.gforge.company.com
ftpuploadhost=upload.gforge.company.com
ftpuploaddir=/path/to/frs/upload
newsadmin_groupid=2
statsadmin_groupid=3
peerrating_groupid=4
template_project=5
admin_login=admin
admin_password=
skill_list=Ada;C;C++;HTML;LISP;Perl;PHP;Python;SQL
default_trove_cat=18
ldap_host=ldap.gforge.company.com
ldap_base_dn=dc=gforge,dc=company,dc=com
ldap_web_add_password=
sys_path_to_mailman=/usr/lib/mailman
cgidir=/path/to/cgidir
cronolog_path=/usr/bin/cronolog
sys_sendmail_path=/usr/sbin/sendmail
sys_path_to_jpgraph=/path/to/jpgraph
sys_path_to_scmweb=/usr/share/gforge/bin/
gforge_chroot=
gforge_etc=/etc/gforge
sys_custom_path=/path/to/gforge/etc/custom
groupdir=/home/groups
homedir=/home
cvsdir=/cvsroot
svndir=/svnroot
uploaddir=/path/to/uploads/
sys_urlroot=/path/to/gforge/www/
sys_jabber_pass=
usr_share_gforge=/opt/gforge
usr_lib_gforge=/path/to/usr/share/gforge
var_lib_gforge=/var/lib/gforge
var_log_gforge=/path/to/var/log/gforge
sys_show_source=0
sys_force_login=0
sys_session_key=foobar
sys_session_expire=60 * 60 * 24 * 7
sys_show_contact_info=1
sys_themeroot=/path/to/gforge/www/themes/
sys_theme=gforge
sys_lang=English
sys_default_timezone=GMT
sys_default_country_code=US
sys_account_manager_type=UNIX
sys_use_jabber=0
sys_use_auth_ldap=1
sys_ldap_auth_port=389
sys_ldap_auth_version=3
sys_ldap_auth_dn=dc=gforge,dc=company,dc=com
sys_scm_tarballs_path=/path/to/var/lib/gforge/scmtarballs
sys_scm_snapshots_path=/path/to/var/lib/gforge/scmsnapshots
sys_use_scm=true
sys_use_tracker=true
sys_use_forum=true
sys_use_pm=true
sys_use_docman=true
sys_use_news=true
sys_use_mail=true
sys_use_survey=true
sys_use_frs=true
sys_use_fti=false
sys_use_ftp=false
sys_use_trove=true
sys_use_snippet=false
sys_use_shell=true
sys_use_ratings=true
sys_use_ssl=false
sys_use_people=false
sys_use_ftpuploads=false
sys_use_diary=true
sys_use_bookmarks=true
sys_use_project_tags=true
sys_use_project_full_list=true
sys_use_gateways=true
sys_use_project_vhost=false
sys_use_project_database=false
sys_use_project_multimedia=false
sys_use_private_project=true
sys_project_reg_restricted=true
sys_user_reg_restricted=false
sys_require_accept_conditions=false
sys_require_unique_email=false
sys_localinc=/path/to/local.inc
sys_jabber_pass=
sys_plugins_path=/usr/share/gforge/plugins/
sys_sslcrt=
sys_sslkey=
noreply_to_bitbucket=true
sys_simple_dns=true
sys_apache_user=www-gforge
sys_apache_group=www-gforge
sys_forum_return_domain=gforge.company.com
sys_block_anonymous_downloads=false
sys_urlprefix=/
dovhost=true
