# 01common begin
<Files .htaccess>
  order allow,deny
  deny from all
</Files>

#NameVirtualHost *:80
# This is magic for virtual hosting!
UseCanonicalName Off

<Directory ~ "/CVS/">
  ## block web access to CVS directories.
  deny from all
</Directory>
# 01common end
# 05maindirauth begin
<Directory /opt/gforge/www>
  Options Indexes FollowSymlinks
  AllowOverride All
  order allow,deny
  allow from all
  php_admin_value include_path "/path/to/gforge/etc/custom:/etc/gforge:/opt/gforge:/opt/gforge/www/include:/opt/gforge/plugins:/usr/share/php:."
  php_admin_value default_charset "UTF-8"
  # php_flag register_globals "Off"
  ###
  ### safe PHP settings
  ##
  # report E_ALL errors
  php_admin_value error_reporting 2047

  # don't echo error to user
  php_admin_value display_errors 0

  # do log the errors in ErrorLog! why even ask?
  php_admin_value log_errors 1

  # don't report to syslog! apparently you can't undef error_log to force it to go to
  # apache's error_log. So make sure error_log isn't defined in php.ini (/etc/php5/apache/php.ini)
  ##php_admin_value error_log ''
</Directory>
# 05maindirauth end
# 060maindirhttp.vhost begin
<VirtualHost *:80>
	ServerName gforge.company.com
	ServerAlias www.gforge.company.com
	ServerAdmin webmaster@gforge.company.com
	DocumentRoot /opt/gforge/www
	#
	# Apache 1.3
	# User www-gforge
	# Group www-gforge
	#
	# Apache 2 apache2-mpm-perchild
	# AssignUserID www-gforge www-gforge
	# Apache 2
	# <IfModule mod_suexec.c>
	#	SuexecUserGroup www-gforge www-gforge
	# </IfModule>
# 060maindirhttp.vhost end
# 06maindirhttp begin
	DirectoryIndex index.html index.php
	<IfModule mod_userdir.c>
		UserDir disabled
	</IfModule>

	php_admin_value default_charset "UTF-8"

	<Directory /opt/gforge/www>
		Include   /etc/gforge/httpd.secrets
	</Directory>

	ScriptAliasMatch ^/plugins/([^/]*)/cgi-bin/(.*) /opt/gforge/plugins/$1/cgi-bin/$2

	# Projects and Users script
	<Location /projects>
		ForceType application/x-httpd-php
	</Location>
	<Location /users>
		ForceType application/x-httpd-php
	</Location>

	# 404 Error document
	ErrorDocument 404 /404.php

	# FusionForge without the DNS delegation
	# Project home pages are in a virtual /www/<group> location
	#	AliasMatch ^/www/([^/]*)/(.*) /home/groups/$1/htdocs/$2
	#	ScriptAliasMatch ^/([^/]*)/cgi-bin/(.*) /home/groups/$1/cgi-bin/$2
	#	<Directory /home/groups>
	#		Options Indexes FollowSymlinks
	#		AllowOverride All
	#		order allow,deny
	#		allow from all
	#	</Directory>

        Alias /fckeditor/ /usr/share/fckeditor/
        <Directory "/usr/share/fckeditor/">
            Options Indexes MultiViews FollowSymLinks
            AllowOverride None
            Order allow,deny
	    allow from all
        </Directory>

	RedirectMatch 301 ^(/plugins/mediawiki/wiki/[-a-zA-Z0-9_]*)/*$ $1/index.php
	AliasMatch ^/plugins/mediawiki/wiki/[-a-zA-Z0-9_]*/api.php /opt/gforge/www/plugins/mediawiki/api.php
	AliasMatch ^/plugins/mediawiki/wiki/[-a-zA-Z0-9_]*/index.php /opt/gforge/www/plugins/mediawiki/index.php
	AliasMatch ^/plugins/mediawiki/wiki/([-a-zA-Z0-9_]*)/images/(.*) /var/lib/gforge/plugins/mediawiki/projects/$1/images/$2

        Alias /anonscm/ /var/lib/gforge/chroot/scmrepos/

        <DirectoryMatch /var/lib/gforge/chroot/scmrepos/[^/]*>
            Options -Indexes
        </DirectoryMatch>
        <DirectoryMatch /var/lib/gforge/chroot/scmrepos/[^/]*/.*>
            Options +Indexes
        </DirectoryMatch>

	<Proxy http://127.0.0.1:8081/*>
	    Allow from all
	</Proxy>

	<Location /scm/loggerhead/>
	    ProxyPass http://127.0.0.1:8081/
	    ProxyPassReverse http://127.0.0.1:8081/
	</Location>
# 06maindirhttp end
# 06zmaindirhttp.vhost begin
	Alias / /opt/gforge/www/
	LogFormat "%h %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" fusionforge
	CustomLog "|/usr/bin/cronolog /path/to/var/log/gforge/%Y/%m/%d/fusionforge.log" fusionforge

	# Ensure that we don't try to use SSL on SSL Servers
	<IfModule apache_ssl.c>
		SSLDisable
	</IfModule>

        RewriteEngine on
        RewriteCond %{REQUEST_METHOD} ^(TRACE|TRACK)
        RewriteRule .* - [F]
</VirtualHost>
# 06zmaindirhttp.vhost end
# 200list.vhost begin
<VirtualHost *:80>
	ServerName lists.gforge.company.com
# 200list.vhost end
# 20list begin
	AddHandler cgi-script .cgi

	ScriptAlias /cgi-bin/mailman/ /var/lib/mailman/cgi-bin/
	ScriptAlias /mailman/ /var/lib/mailman/cgi-bin/

	Alias /pipermail /var/lib/mailman/archives/public
	<Directory /var/lib/mailman/archives/public>
		AllowOverride Options
		Options FollowSymLinks
	</Directory>

	Alias /images/mailman /usr/share/images/mailman
	<Location /images/mailman>
		order allow,deny
		allow from all
	</Location>
# 20list end
# 20zlist.vhost begin
	RedirectMatch permanent ^/$ http://lists.gforge.company.com/mailman/listinfo
	LogFormat "%h %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" fusionforge
	CustomLog "|/usr/bin/cronolog /path/to/var/log/gforge/%Y/%m/%d/fusionforge-lists.log" fusionforge
	# Ensure that we don't try to use SSL on SSL Servers
	<IfModule apache_ssl.c>
    		SSLDisable
	</IfModule>

	RewriteEngine on
	RewriteCond %{REQUEST_METHOD} ^(TRACE|TRACK)
	RewriteRule .* - [F]
</VirtualHost>
# 20zlist.vhost end
# 40project.vhost begin
<VirtualHost *:80>
	ServerName gforge.company.com
	ServerAlias *.gforge.company.com
	VirtualDocumentRoot /home/groups/%1/htdocs
        VirtualScriptAlias /home/groups/%1/cgi-bin
	DirectoryIndex index.html index.php
	php_admin_value default_charset "UTF-8"
	php_admin_value include_path "/path/to/gforge/etc/custom:/etc/gforge:/opt/gforge:/opt/gforge/www/include:."
	Alias /themes-gforge/ /usr/share/gforge/www/themes/
        <Directory /home/groups>
		Options Indexes FollowSymlinks
		AllowOverride All
		order allow,deny
		allow from all
	</Directory>
	LogFormat "%h %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" fusionforge
	CustomLog "|/usr/bin/cronolog /path/to/var/log/gforge/%Y/%m/%d/fusionforge-project-vhost.log" fusionforge
	# Ensure that we don't try to use SSL on SSL Servers
	<IfModule apache_ssl.c>
		SSLDisable
	</IfModule>
</VirtualHost>
# 40project.vhost end
# 55dnsalias.vhost begin
#This may be used 
#ServerPath /sub1/
#RewriteEngine On
#RewriteRule ^(/sub1/.*) /www/subdomain$1

# Other virtual hosts, as requested by users
Include /var/lib/gforge/etc/httpd.vhosts
# 55dnsalias.vhost end
# 61plugin-scmdarcs begin
<Directory /opt/gforge/plugins/scmdarcs/cgi-bin>
	SetEnv DARCSWEB_CONFPATH /etc/gforge/plugins/scmdarcs/
</Directory>
# 61plugin-scmdarcs end
# 61plugin-scmgit begin
<Directory /opt/gforge/plugins/scmgit/cgi-bin>
	SetEnv GITWEB_CONFIG /etc/gforge/plugins/scmgit/gitweb.conf
</Directory>
# 61plugin-scmgit end
# 99maindirhttp begin
#Alias / /opt/gforge/www/
DocumentRoot /opt/gforge/www
# 99maindirhttp end
