# PLEASE DO NOT REMOVE THIS LINE

SetEnv sys_localinc /path/to/local.inc

#RequestHeader unset GForgeDbhost
#RequestHeader append GForgeDbhost 

#RequestHeader unset GForgeDbport
#RequestHeader append GForgeDbport 5432

RequestHeader unset GForgeDbname
RequestHeader append GForgeDbname alexandria

RequestHeader unset GForgeDbuser
RequestHeader append GForgeDbuser www

RequestHeader unset GForgeDbpasswd
RequestHeader append GForgeDbpasswd 

RequestHeader unset GForgeLdapPasswd
RequestHeader append GForgeLdapPasswd 

RequestHeader unset GForgeJabberPasswd
RequestHeader append GForgeJabberPasswd 
