# PLEASE DO NOT REMOVE THIS LINE

$sys_default_domain = 'gforge.company.com' ;
$sys_scm_host = 'cvs.gforge.company.com' ;
$sys_download_host = 'download.gforge.company.com' ;
$sys_shell_host = 'shell.gforge.company.com' ;
$sys_users_host = 'users.gforge.company.com' ;
$sys_docs_host = 'gforge.company.com' ;
$sys_lists_host = 'lists.gforge.company.com' ;
$sys_dns1_host = 'ns1.gforge.company.com' ;
$sys_dns2_host = 'ns2.gforge.company.com' ;
$FTPINCOMING_DIR = '/usr/share/gforge/ftp/incoming' ;
$FTPFILES_DIR = '/usr/share/gforge/download' ;
$sys_urlroot='/usr/share/gforge/www/' ;
$sf_cache_dir = '/var/cache/gforge' ;
$sys_name = 'MyForge' ;
$sys_themeroot = $sys_urlroot.'themes/' ;
$sys_news_group = '2' ;
$sys_dbhost = '' ;
$sys_dbname = 'alexandria' ;
$sys_dbuser = 'www' ;
$sys_dbpasswd = '' ;
$sys_ldap_base_dn = 'dc=gforge,dc=company,dc=com' ;
$sys_ldap_host = 'ldap.gforge.company.com' ;
$skill_list = 'Ada;C;C++;HTML;LISP;Perl;PHP;Python;SQL' ;
$admin_login = 'admin' ;
$admin_password = '' ;
$server_admin = 'webmaster@gforge.company.com' ;
$domain_name = 'gforge.company.com' ;
$newsadmin_groupid = '2' ;
$statsadmin_groupid = '3' ;
$peerrating_groupid = '4' ;
$noreply_to_bitbucket = 'true' ;
$sys_simple_dns = 'true';
$sys_ip_address = '10.GF.OR.GE';
$chroot_prefix = '';
$homedir_prefix = '/home';
$grpdir_prefix = '/home/groups';
$file_dir = '/var/lib/gforge';
$cvs_root = '/cvsroot';
$svn_root = '/svnroot';
