<?php
// PLEASE DO NOT REMOVE THIS LINE

// FusionForge Universal Site Modifications
// by David HM Spector <spector@zeitgeist.com>
//
// FusionForge global paths
//
$sys_etc_path='/etc/gforge';
$sys_share_path='/opt/gforge';
$sys_var_path='/var/lib/gforge';

//
// FusionForge hostnames
//
// Hostnames should be fully qualified domain names (FQDNs); using short names
// would be prettier but would stop you from distributing your implementation
// across multiple domains.
//
// Of course, if you have a lot of machines serving a particular purpose
// such as FTP or for shell accounts, the "hostname" here might be in
// reality an addr_list of machines that is serviced by a round-robin
// mechanism or something fancy like a local-director.
//
// The default FusionForge domain
// this is used where ever the "naked" form of the FusionForge domain
// might be used.  E.g., "mailto:admin@gforge.net"
$sys_default_domain = 'gforge.company.com';
$sys_forum_return_domain = "gforge.company.com";
//$sys_fallback_domain = 'gforge2.company.com';

// Machine used for downloading sources/packages
$sys_download_host = 'download.gforge.company.com';

// Machine(s) that host users' shell accounts
//  N.B. to the SourceForge Crew: What's the difference between the user
// host and the shell host?  They are clearly two different hostnames
// in the source code, but they seem to serve the same purpose..?
$sys_shell_host = 'shell.gforge.company.com';
$sys_users_host = 'users.gforge.company.com';

// Machine that hosts the FusionForge mailing lists (This could also be
// the mail host if you have enough horsepower & bandwidth)
$sys_lists_host = 'lists.gforge.company.com';

//
// SCM configuration
//

// Machine that hosts SCM
$sys_scm_host = 'cvs.gforge.company.com';
$sys_cvs_host=$sys_scm_host;

// Force the use of a single scm host instead of scm.project.domain.com
// Set to 1 to use scm.domain.com for all projects
// Set to 0 to use scm.project.domain.com
$sys_scm_single_host = 1;

// Path to tarballs directory
$sys_scm_tarballs_path="$sys_var_path/scmtarballs";

// Path to snapshots directory
$sys_scm_snapshots_path="$sys_var_path/scmsnapshots";

// Path to SCMWEB
$sys_path_to_scmweb="$sys_share_path/bin/";

//Databases, html/php/other paths
//server to use for updates and reads
//If this is null (i.e. ""), then gforge will use Unix sockets to connect
//to the database.
$sys_dbhost='';
$sys_dbname='alexandria';
$sys_dbuser='www';
// You can also specify a database port if you're using something other than 5432
$sys_dbport='5432';
$sys_server='pgsql';

//
// Passwords
//
$sys_dbpasswd='';
$sys_ldap_passwd='';
$sys_jabber_pass='';

//
// Account Management
//
// UNIX for classic account management
// LDAP for managing with ldap
// NIS not implemented
$sys_account_manager_type='UNIX';

// email address to send admin alerts to
$sys_admin_email = 'gforge@gforge.company.com';

// Path to sendmail program
$sys_sendmail_path='/usr/sbin/sendmail';

// Select unix_password cipher
// Normally there will be no reason to change this for Linux based systems
// Valid choices are MD5, DES, Blowfish, or Plain
// DO NOT CHANGE ON EXISTING INSTALL!!!

// If using usergroup_wrapper.php (for non-Linux systems)
// this value MUST be plain
$unix_cipher = 'MD5';

//
// LDAP configuration
//
// enable(1) or disable(0) ldap use altogether
$sys_ldap_host='ldap.gforge.company.com';
$sys_ldap_port=389;
$sys_ldap_version=3;
// this is dn under which all information stored
$sys_ldap_base_dn='dc=gforge,dc=company,dc=com';
// and this, how we do access it (add permission required)
$sys_ldap_bind_dn='cn=SF_robot,dc=gforge,dc=company,dc=com';
// admin dn - login dn which has permissions to delete entries
// NOT used by web code, only by support utilities
// note that password NOT stored here
$sys_ldap_admin_dn='cn=admin,dc=gforge,dc=company,dc=com';

//
// Jabber Configuration
//
$sys_use_jabber=0;
//messages from the system will be sent to this address
$sys_jabber_server='jabber.gforge.company.com';
$sys_jabber_port='5222';
// messages sent to jabber accounts will come from this user
// It is similar to the "From: noreply@gforge.org" used in emails
$sys_jabber_user='noreply';
if (!isset($sys_jabber_pass)) {
   $sys_jabber_pass='';
}
//
//	FEATURES
//	You can turn features on/off sitewide
//
$sys_use_scm=true;
$sys_use_tracker=true;
$sys_use_forum=true;
$sys_use_pm=true;
$sys_use_docman=true;
$sys_use_news=true;
$sys_use_mail=true;
$sys_use_survey=true;
$sys_use_frs=true;
$sys_use_fti=false;
$sys_use_ftp=false;
$sys_use_trove=true;
$sys_use_snippet=false;
$sys_use_ssl=false;
$sys_use_people=false;
$sys_use_shell=true;
$sys_use_private_project=true;
$sys_use_diary=true;
$sys_use_bookmarks=true;
$sys_use_project_tags=true;
$sys_use_project_full_list=true;
$sys_use_dav=false;

// This one exists purely for hysteric raisins
$sys_use_mwframe=false;

// Enable/Disable user ratings
$sys_use_ratings=true;
// Enable/Disable the ability to upload files using FTP in FRS
$sys_use_ftpuploads=false;
// Enable/Disable the ability to upload files using SCP/SFTP in FRS
$sys_use_manual_uploads=false;
// Enable/Disable the use of mail gateways for trackers and forums
$sys_use_gateways=true;

// Enable/Disable the ability to add additionnal vhost for a project
$sys_use_project_vhost=false;
// Enable/Disable the ability to have database for a project (backend not implemented)
$sys_use_project_database=false;
// Enable/Disable the ability to add images for a project (frontend not implemented)
$sys_use_project_multimedia=false;

//
//	Restricted project registration
//	If set to true, only a site admin can register projects
//
$sys_project_reg_restricted=true;

//
//  Auto approve project registration.
//
$sys_project_reg_autoapprove=false;
$sys_project_reg_autoapprove_user='admin';

//
//	Restricted user registration
//	If set to true, only a site admin can register users
//
$sys_user_reg_restricted=false;

// Require acceptance of terms and conditions
$sys_require_accept_conditions=false;
// Block anonymous downloads?
$sys_block_anonymous_downloads=false;
//
// Groups and Homes dir prefix
//
$homedir_prefix='/home';
$groupdir_prefix='/home/groups';
$cvsdir_prefix='/cvsroot';
$svndir_prefix='/svnroot';
$sys_chroot='';

//
// File Upload Configuration
//
// Create a directory, which is writable by your webserver, but not
// within its document root (does not fall under www/ in the tarball)
// Your php.ini file may have to be modified to allow writing outside
// the webserver's directory
//
$sys_upload_dir='/path/to/uploads/';
$sys_ftp_upload_dir='/path/to/frs/upload';
$sys_ftp_upload_host='upload.gforge.company.com';
//$sys_ftp_upload_chowner='{ftpuploadchowner}';
$sys_apache_user='www-gforge';
$sys_apache_group='www-gforge';

// Where the FusionForge files are placed
// *** IMPORTANT: sys_urlroot *MUST* be an ABSOLUTE FILEYSTEM PATH NAME
//             that points to the www directory of the FusionForge
//             installation.  If you use ANY form of relative path
//             you will break the html_image function in include/html.php
//
$sys_urlroot='/path/to/gforge/www/';
$sys_urlprefix='/';

// Name of the system as a whole (needed by various utils and titles)
$sys_name='MyForge';

// Mailman base installation directory
$sys_path_to_mailman='/usr/lib/mailman';

// session cookie settings
//
//	IMPORTANT - YOU MUST CHANGE "foobar" to a long, random number
//
$sys_session_key = 'foobar';
$sys_session_expire = 60 * 60 * 24 * 7;

// Require that user give unique (not yet existent in db) email upon
// registration
$sys_require_unique_email=false;
//
// Require that all email be copied to this address if present
$sys_bcc_all_email_address='';

// GUI modifications (menu colors, etc.)
//	See the top of the file include/html.php, this is where the menu colors
//	and colors used throughout FusionForge are defined.

// Themeing related vars... Some of this needs to change in the session stuff
// The theme base directory, everything else is handled by theme_sysinit()
$sys_themeroot='/path/to/gforge/www/themes/';
// If you want an other default theme or language
$sys_theme='gforge';
$sys_lang='English';
$sys_default_timezone='GMT';
$sys_default_country_code='US';

// Akamization of images
//	example: http://images.gforge.company.com
$sys_images_url='';
$sys_images_secure_url='';

// Groups
//	The FusionForge permission model is based on groups
//	certain parts of the site, like news, stats, etc
//	are based on special group_id numbers
//	group_id #1 is the super-user group of sitewide admins
$sys_news_group=2;
$sys_stats_group=3;
$sys_peer_rating_group=4;
$sys_template_group=5;
$default_trove_cat=18;

// JPGRAPH Package
$sys_path_to_jpgraph='/path/to/jpgraph';

// Show Source
//	Setting this to 1 will add a "Show Source" link to the bottom of each page
$sys_show_source=0;

// Force Login
$sys_force_login=0;

// Truetype font settings
//$gantt_title_font_family='FF_ARIAL';
//$gantt_title_font_style='FS_NORMAL';
//$gantt_title_font_size=12;
//$gantt_task_font_family='FF_ARIAL';
//$gantt_task_font_style='FS_NORMAL';
//$gantt_task_font_size=12;

// Place for customized files
$sys_custom_path=$sys_etc_path.'/custom';

// Gettext files (default: /usr/share/locale).
$sys_gettext_path=$sys_share_path.'/locales';

// Define the type of installation
//    * development: 
//    * integration: 
//    * staging: 
//    * production: normal mode.
$sys_install_type = 'production';

//
// Plugins configuration
//
// Path to plugins directory
$sys_plugins_path="$sys_share_path/plugins/";

// You can overwrite FusionForge's default role settings here
//$default_roles=array(
//	'Admin'=>array( 'projectadmin'=>'A', 'frs'=>'1', 'scm'=>'1', 'docman'=>'1', 'forumadmin'=>'2', 'forum'=>'2', 'trackeradmin'=>'2', 'tracker'=>'2', 'pmadmin'=>'2', 'pm'=>'2', 'webcal'=>'1' ),
//	'Senior Developer'=>array( 'projectadmin'=>'0', 'frs'=>'1', 'scm'=>'1', 'docman'=>'1', 'forumadmin'=>'2', 'forum'=>'2', 'trackeradmin'=>'2', 'tracker'=>'2', 'pmadmin'=>'2', 'pm'=>'2', 'webcal'=>'2' ),
//	'Junior Developer'=>array( 'projectadmin'=>'0', 'frs'=>'0', 'scm'=>'1', 'docman'=>'0', 'forumadmin'=>'0', 'forum'=>'1', 'trackeradmin'=>'0', 'tracker'=>'1', 'pmadmin'=>'0', 'pm'=>'1', 'webcal'=>'2' ),
//	'Doc Writer'=>array( 'projectadmin'=>'0', 'frs'=>'0', 'scm'=>'0', 'docman'=>'1', 'forumadmin'=>'0', 'forum'=>'1', 'trackeradmin'=>'0', 'tracker'=>'0', 'pmadmin'=>'0', 'pm'=>'0' , 'webcal'=>'2'),
//	'Support Tech'=>array( 'projectadmin'=>'0', 'frs'=>'0', 'scm'=>'0', 'docman'=>'1', 'forumadmin'=>'0', 'forum'=>'1', 'trackeradmin'=>'0', 'tracker'=>'2', 'pmadmin'=>'0', 'pm'=>'0' , 'webcal'=>'2')
//);

