[Desktop Entry]
Encoding=UTF-8
Name=Run testsuite
Exec=sh -c "/root/fusionforge/tools/VM-scripts/run-testsuite.sh ; echo Press Enter... ; read i"
Terminal=true
Type=Application
