<?php // -*-html-*-
  rcs_id('$Id: browse-footer.tmpl,v 1.2 2004/12/19 17:42:46 rurban Exp $');
?>
<div class="toolbar">
<?php if (empty($GLOBALS['HIDE_TOOLBARS'])) { ?>
  <?= Template('actionbar') ?>
  <?= $WikiTheme->getButtonSeparator() ?>
<?php } ?>
  <span class="editdate"><?= $WikiTheme->getOwnerMessage($page) ?>  <?= $WikiTheme->getLastModifiedMessage($revision) ?> <?= $WikiTheme->getAuthorMessage($revision) ?></span>
<br />
<a href="<?= PHPWIKI_BASE_URL ?>"><?=WIKI_NAME?></a> created with <a href="http://phpwiki.org/">PhpWiki</a> © 1998-2004 | <?= WikiLink(_("TermsOfUse")) ?>
</div>
