db_fget sourceforge/shared/domain_name seen || true
[ "$RET" = "false" ] && db_set sourceforge/shared/domain_name $(hostname -f)
db_input medium sourceforge/shared/domain_name || true
db_go || true

db_fget sourceforge/shared/server_admin seen || true
if [ "$RET" = "false" ] ; then
  db_get sourceforge/shared/domain_name || true
  db_set sourceforge/shared/server_admin "webmaster@$RET"
fi

db_input medium sourceforge/shared/server_admin || true
db_input low sourceforge/shared/system_name || true

db_go || true
