db_fget pkgname/shared/domain_name seen || true
if [ "$RET" = "false" ] ; then
   hostname=$(hostname -f 2>/dev/null) || hostname=localhost
   db_set pkgname/shared/domain_name $hostname
fi
db_input medium pkgname/shared/domain_name || true
db_go || true

db_fget pkgname/shared/server_admin seen || true
if [ "$RET" = "false" ] ; then
  db_get pkgname/shared/domain_name || true
  db_set pkgname/shared/server_admin "webmaster@$RET"
fi

db_input medium pkgname/shared/server_admin || true
db_input low pkgname/shared/system_name || true

db_go || true

vars="system_name domain_name server_admin"
update_mainconffile $vars
