db_get gforge/shared/domain_name || true
if [ -z "$RET" ] ; then
   hostname=$(hostname -f 2>/dev/null) || hostname=localhost
   db_set gforge/shared/domain_name $hostname
fi
db_input medium gforge/shared/domain_name || true
db_go || true

db_get gforge/shared/server_admin || true
if [ -z "$RET" ] ; then
  db_get gforge/shared/domain_name || true
  db_set gforge/shared/server_admin "webmaster@$RET"
fi

db_input medium gforge/shared/server_admin || true
db_input low gforge/shared/system_name || true

db_go || true

vars="system_name domain_name server_admin"
update_mainconffile $vars
