###
# Functions to handle the main Gforge configuration file
###
mainconffile=/etc/gforge/gforge.conf
# Update it for the variables received as parameters
init_debconf_from_mainconffile () {
    for i in $(grep -v "^ *#" $mainconffile \
	| cut -d= -f1 $mainconffile \
	| sort -u \
	| grep .) ; do
	update_onevar_from_mainconfile $i
    done
}
update_onevar_from_mainconfile () {
    key=$1
    update_onevar_from_mainconfile__retcode=0
    value=$(grep ^$key= $mainconffile | tail -1 | cut -d= -f2-)
    db_set gforge/shared/$key $value || update_onevar_from_mainconfile__retcode=$? || true
    case update_onevar_from_mainconfile__retcode in
	0)
	    echo "$key = $value injected into Debconf OK"
	    db_fset gforge/shared/$key seen true || true
	    ;;
	10)
	    echo "$key = $value not injected into Debconf (non-existing question maybe?)"
	    ;;
	*)
	    echo "Something wicked happened"
	    exit 1
	    ;;
    esac
}
create_mainconffile () {
    if [ ! -e $mainconffile ] ; then
        touch $mainconffile
        chmod 600 $mainconffile
    fi
}
