db_fget sourceforge/shared/ldap_host seen || true
if [ "$RET" = "false" ] ; then
    db_get sourceforge/shared/domain_name
    db_set sourceforge/shared/ldap_host $RET
fi

db_input medium sourceforge/shared/ldap_host || true
db_input medium sourceforge/shared/ldap_base_dn || true
get_pw sourceforge/shared/ldap_web_add_password medium
