db_fget gforge/shared/ldap_host seen || true
if [ "$RET" = "false" ] ; then
    db_get gforge/shared/domain_name
    db_set gforge/shared/ldap_host $RET
fi
db_input medium gforge/shared/ldap_host || true

db_fget gforge/shared/ldap_base_dn seen || true
if [ "$RET" = "false" ] ; then
    db_set gforge/shared/ldap_base_dn $(/usr/bin/ldapsearch -x -b '' -s base '(objectclass=*)' namingContexts | grep "namingContexts:" | cut -d" " -f2)
fi
db_input medium gforge/shared/ldap_base_dn || true

get_pw gforge/shared/ldap_web_add_password low
db_fget gforge/shared/ldap_web_add_password seen || true
if [ "$RET" = "false" ]; then
    db_set gforge/shared/ldap_web_add_password $(gen_random_pw)
    db_get gforge/shared/ldap_web_add_password || true
    echo "Since you asked not to see all the debconf questions, I generated a random"
    echo "password for the LDAP robot.  Use it if you want to have a peek at the"
    echo "database by hand.  It is '${RET}'.\n" ;
    db_fset gforge/shared/ldap_web_add_password seen true
fi
