* text=auto !eol
gforge-plugin-cvstracker/gforge-plugin-cvstracker.spec -text svneol=unset#application/octet-stream
gforge-plugin-cvstracker/rpm-specific/cron.d/gforge-plugin-cvstracker -text svneol=unset#application/octet-stream
gforge-plugin-scmcvs/rpm-specific/cron.d/gforge-plugin-scmcvs -text svneol=unset#application/octet-stream
gforge-plugin-scmcvs/rpm-specific/cronjobs/.keepme -text svneol=unset#application/octet-stream
gforge-plugin-scmcvs/rpm-specific/languages/.keepme -text svneol=unset#application/octet-stream
gforge-plugin-scmcvs/www/cvsweb/icons/back.gif -text
gforge-plugin-scmcvs/www/cvsweb/icons/binary.gif -text
gforge-plugin-scmcvs/www/cvsweb/icons/dir.gif -text
gforge-plugin-scmcvs/www/cvsweb/icons/miniback.gif -text
gforge-plugin-scmcvs/www/cvsweb/icons/minidir.gif -text
gforge-plugin-scmcvs/www/cvsweb/icons/minigraph.png -text
gforge-plugin-scmcvs/www/cvsweb/icons/minitext.gif -text
gforge-plugin-scmcvs/www/cvsweb/icons/text.gif -text
gforge-plugin-scmsvn/www/viewcvs/icons/back.gif svneol=native#unset
gforge-plugin-scmsvn/www/viewcvs/icons/forward.gif svneol=native#unset
gforge-plugin-scmsvn/www/viewcvs/icons/small/back.gif svneol=native#unset
gforge-plugin-scmsvn/www/viewcvs/icons/small/debian.jpg svneol=native#unset
gforge-plugin-scmsvn/www/viewcvs/icons/small/dir.gif svneol=native#unset
gforge-plugin-scmsvn/www/viewcvs/icons/small/text.gif svneol=native#unset
gforge-plugin-scmsvn/www/viewcvs/images/chalk.jpg svneol=native#unset
gforge-plugin-scmsvn/www/viewcvs/images/cvsgraph_16x16.png -text
gforge-plugin-scmsvn/www/viewcvs/images/cvsgraph_32x32.png -text
gforge-plugin-scmsvn/www/viewcvs/images/down.png -text
gforge-plugin-scmsvn/www/viewcvs/images/logo.png -text
gforge-plugin-scmsvn/www/viewcvs/images/up.png -text
gforge/backend/shell/apache.sh svneol=native#unset
gforge/contrib/cmd-line-prototype.tar.gz -text
gforge/db/20030701-gforge-3.0 -text svneol=unset#application/octet-stream
gforge/db/20031026-gforge-3.1 -text svneol=unset#application/octet-stream
gforge/db/20040108-gforge-3.21 -text svneol=unset#application/octet-stream
gforge/db/20040326-gforge-3.3 -text svneol=unset#application/octet-stream
gforge/db/20041025-gforge-4.0 -text svneol=unset#application/octet-stream
gforge/docs/architecture/stats/stats-process.sda svneol=native#unset
gforge/docs/docbook/build/.keepme -text svneol=unset#application/octet-stream
gforge/docs/docbook/docbook/entities/authors.ent -text svneol=unset#application/octet-stream
gforge/docs/docbook/docbook/entities/xinclude.ent -text svneol=unset#application/octet-stream
gforge/docs/images/sflogo2-105a.png -text
gforge/rpm-specific/custom/.keepme -text svneol=unset#application/octet-stream
gforge/rpm-specific/languages/.keepme -text svneol=unset#application/octet-stream
gforge/rpm-specific/scripts/gforge-config -text svneol=unset#application/octet-stream
gforge/www/favicon.ico svneol=native#unset
gforge/www/gfginstaller.png -text
gforge/www/images/blank.png -text
gforge/www/images/clear.png -text
gforge/www/images/debian-sf-icon.png -text
gforge/www/images/favicon.ico svneol=native#unset
gforge/www/images/gantt.png -text
gforge/www/images/gforge.jpg svneol=native#unset
gforge/www/images/ic/caret.png -text
gforge/www/images/ic/cfolder15.png -text
gforge/www/images/ic/check.png -text
gforge/www/images/ic/cvs16b.png -text
gforge/www/images/ic/docman16b.png -text
gforge/www/images/ic/forum20g.png -text
gforge/www/images/ic/forum20w.png -text
gforge/www/images/ic/ftp16b.png -text
gforge/www/images/ic/halfcheck.png -text
gforge/www/images/ic/home16b.png -text
gforge/www/images/ic/index.png -text
gforge/www/images/ic/mail16b.png -text
gforge/www/images/ic/mail16d.png -text
gforge/www/images/ic/mail16w.png -text
gforge/www/images/ic/manual16c.png -text
gforge/www/images/ic/msg.png -text
gforge/www/images/ic/notes16.png -text
gforge/www/images/ic/ofolder15.png -text
gforge/www/images/ic/pencil.png -text
gforge/www/images/ic/save.png -text
gforge/www/images/ic/support16b.jpg svneol=native#unset
gforge/www/images/ic/survey16b.png -text
gforge/www/images/ic/taskman16b.png -text
gforge/www/images/ic/taskman20g.png -text
gforge/www/images/ic/taskman20w.png -text
gforge/www/images/ic/tracker20g.png -text
gforge/www/images/ic/tracker20w.png -text
gforge/www/images/ic/trash-x.png -text
gforge/www/images/ic/trash.png -text
gforge/www/images/ic/write16w.png -text
gforge/www/images/ic/xmail16w.png -text
gforge/www/images/icon.png -text
gforge/www/images/msg.png -text
gforge/www/images/pow-gforge.png -text
gforge/www/images/sf-for-debian.png -text
gforge/www/images/t.png -text
gforge/www/images/t2.png -text
gforge/www/search/include/engines/DocsGroupSearchEngine.class -text svneol=unset#application/octet-stream
gforge/www/search/include/engines/ForumsGroupSearchEngine.class -text svneol=unset#application/octet-stream
gforge/www/search/include/engines/FrsGroupSearchEngine.class -text svneol=unset#application/octet-stream
gforge/www/search/include/engines/NewsGroupSearchEngine.class -text svneol=unset#application/octet-stream
gforge/www/search/include/engines/TasksGroupSearchEngine.class -text svneol=unset#application/octet-stream
gforge/www/search/include/engines/TrackersGroupSearchEngine.class -text svneol=unset#application/octet-stream
gforge/www/themes/gforge/images/box-grad.png -text
gforge/www/themes/gforge/images/box-topleft.png -text
gforge/www/themes/gforge/images/box-topright.png -text
gforge/www/themes/gforge/images/clear.png -text
gforge/www/themes/gforge/images/ic/adddoc12.png -text
gforge/www/themes/gforge/images/ic/caret.png -text
gforge/www/themes/gforge/images/ic/cfolder15.png -text
gforge/www/themes/gforge/images/ic/check.png -text
gforge/www/themes/gforge/images/ic/cvs16b.png -text
gforge/www/themes/gforge/images/ic/docman16b.png -text
gforge/www/themes/gforge/images/ic/forum20g.png -text
gforge/www/themes/gforge/images/ic/forum20w.png -text
gforge/www/themes/gforge/images/ic/ftp16b.png -text
gforge/www/themes/gforge/images/ic/halfcheck.png -text
gforge/www/themes/gforge/images/ic/home16b.png -text
gforge/www/themes/gforge/images/ic/index.png -text
gforge/www/themes/gforge/images/ic/mail16b.png -text
gforge/www/themes/gforge/images/ic/mail16d.png -text
gforge/www/themes/gforge/images/ic/mail16w.png -text
gforge/www/themes/gforge/images/ic/manual16c.png -text
gforge/www/themes/gforge/images/ic/msg.png -text
gforge/www/themes/gforge/images/ic/ofolder15.png -text
gforge/www/themes/gforge/images/ic/pencil.png -text
gforge/www/themes/gforge/images/ic/save.png -text
gforge/www/themes/gforge/images/ic/survey16b.png -text
gforge/www/themes/gforge/images/ic/taskman20g.png -text
gforge/www/themes/gforge/images/ic/taskman20w.png -text
gforge/www/themes/gforge/images/ic/tracker20g.png -text
gforge/www/themes/gforge/images/ic/tracker20w.png -text
gforge/www/themes/gforge/images/ic/trash-x.png -text
gforge/www/themes/gforge/images/ic/trash.png -text
gforge/www/themes/gforge/images/ic/write16w.png -text
gforge/www/themes/gforge/images/ic/xmail16w.png -text
gforge/www/themes/gforge/images/logo.png -text
gforge/www/themes/gforge/images/t.png -text
gforge/www/themes/gforge/images/t2.png -text
gforge/www/themes/gforge/images/tabs/bottomleft-inner.png -text
gforge/www/themes/gforge/images/tabs/bottomleft.png -text
gforge/www/themes/gforge/images/tabs/bottomright-inner.png -text
gforge/www/themes/gforge/images/tabs/bottomright.png -text
gforge/www/themes/gforge/images/tabs/topleft-dark.png -text
gforge/www/themes/gforge/images/tabs/topleft-inner-dark.png -text
gforge/www/themes/gforge/images/tabs/topleft-inner.png -text
gforge/www/themes/gforge/images/tabs/topleft.png -text
gforge/www/themes/gforge/images/tabs/topright-dark.png -text
gforge/www/themes/gforge/images/tabs/topright-inner-dark.png -text
gforge/www/themes/gforge/images/tabs/topright-inner.png -text
gforge/www/themes/gforge/images/tabs/topright.png -text
gforge/www/themes/gforge/images/theme-bottomtab-end-notselected.png -text
gforge/www/themes/gforge/images/theme-bottomtab-end-selected.png -text
gforge/www/themes/gforge/images/theme-bottomtab-notselected-bg.png -text
gforge/www/themes/gforge/images/theme-bottomtab-notselected-end.png -text
gforge/www/themes/gforge/images/theme-bottomtab-notselected-notselected.png -text
gforge/www/themes/gforge/images/theme-bottomtab-notselected-selected.png -text
gforge/www/themes/gforge/images/theme-bottomtab-selected-bg.png -text
gforge/www/themes/gforge/images/theme-bottomtab-selected-end.png -text
gforge/www/themes/gforge/images/theme-bottomtab-selected-notselected.png -text
gforge/www/themes/gforge/images/theme-top-blue.png -text
gforge/www/themes/gforge/images/theme-toptab-end-notselected.png -text
gforge/www/themes/gforge/images/theme-toptab-end-selected.png -text
gforge/www/themes/gforge/images/theme-toptab-notselected-bg.png -text
gforge/www/themes/gforge/images/theme-toptab-notselected-end.png -text
gforge/www/themes/gforge/images/theme-toptab-notselected-notselected.png -text
gforge/www/themes/gforge/images/theme-toptab-notselected-selected.png -text
gforge/www/themes/gforge/images/theme-toptab-selected-bg.png -text
gforge/www/themes/gforge/images/theme-toptab-selected-end.png -text
gforge/www/themes/gforge/images/theme-toptab-selected-notselected.png -text
gforge/www/themes/gforge/images/vert-grad.png -text
gforge/www/themes/osx/images/background.png -text
gforge/www/themes/osx/images/clear.png -text
gforge/www/themes/osx/images/ic/adddoc12.png -text
gforge/www/themes/osx/images/ic/caret.png -text
gforge/www/themes/osx/images/ic/cfolder15.png -text
gforge/www/themes/osx/images/ic/check.png -text
gforge/www/themes/osx/images/ic/cvs16b.png -text
gforge/www/themes/osx/images/ic/docman16b.png -text
gforge/www/themes/osx/images/ic/forum20g.png -text
gforge/www/themes/osx/images/ic/forum20w.png -text
gforge/www/themes/osx/images/ic/ftp16b.png -text
gforge/www/themes/osx/images/ic/halfcheck.png -text
gforge/www/themes/osx/images/ic/home16b.png -text
gforge/www/themes/osx/images/ic/index.png -text
gforge/www/themes/osx/images/ic/mail16b.png -text
gforge/www/themes/osx/images/ic/mail16d.png -text
gforge/www/themes/osx/images/ic/mail16w.png -text
gforge/www/themes/osx/images/ic/manual16c.png -text
gforge/www/themes/osx/images/ic/msg.png -text
gforge/www/themes/osx/images/ic/ofolder15.png -text
gforge/www/themes/osx/images/ic/pencil.png -text
gforge/www/themes/osx/images/ic/save.png -text
gforge/www/themes/osx/images/ic/survey16b.png -text
gforge/www/themes/osx/images/ic/taskman20g.png -text
gforge/www/themes/osx/images/ic/taskman20w.png -text
gforge/www/themes/osx/images/ic/tracker20g.png -text
gforge/www/themes/osx/images/ic/tracker20w.png -text
gforge/www/themes/osx/images/ic/trash-x.png -text
gforge/www/themes/osx/images/ic/trash.png -text
gforge/www/themes/osx/images/ic/write16w.png -text
gforge/www/themes/osx/images/ic/xmail16w.png -text
gforge/www/themes/osx/images/logo.png -text
gforge/www/themes/osx/images/logohover.png -text
gforge/www/themes/osx/images/point1.png -text
gforge/www/themes/osx/images/proj/cvs16b.png -text
gforge/www/themes/osx/images/proj/docman16b.png -text
gforge/www/themes/osx/images/proj/ftp16b.png -text
gforge/www/themes/osx/images/proj/home16b.png -text
gforge/www/themes/osx/images/proj/mail16b.png -text
gforge/www/themes/osx/images/proj/mail16d.png -text
gforge/www/themes/osx/images/proj/manual16c.png -text
gforge/www/themes/osx/images/proj/notes16.png -text
gforge/www/themes/osx/images/proj/survey16b.png -text
gforge/www/themes/osx/images/proj/taskman16b.png -text
gforge/www/themes/osx/images/rateit.png -text
gforge/www/themes/osx/images/tabs/deselect.png -text
gforge/www/themes/osx/images/tabs/leftblenddeselect.png -text
gforge/www/themes/osx/images/tabs/leftblendselect.png -text
gforge/www/themes/osx/images/tabs/leftdeselect.png -text
gforge/www/themes/osx/images/tabs/leftselect.png -text
gforge/www/themes/osx/images/tabs/rightblenddeselect.png -text
gforge/www/themes/osx/images/tabs/rightblendselect.png -text
gforge/www/themes/osx/images/tabs/rightdeselect.png -text
gforge/www/themes/osx/images/tabs/rightselect.png -text
gforge/www/themes/osx/images/tabs/ruledeselect.png -text
gforge/www/themes/osx/images/tabs/ruleselect.png -text
gforge/www/themes/osx/images/tabs/select.png -text
