htdocs/deb-repo/debidx.htm
htdocs/deb-repo/dists/hardy/3rd-party/binary-*
htdocs/deb-repo/dists/hardy/3rd-party/source
htdocs/deb-repo/dists/hardy/Release
htdocs/deb-repo/dists/hardy/Release.gpg
htdocs/deb-repo/dists/lenny/3rd-party/binary-*
htdocs/deb-repo/dists/lenny/3rd-party/source
htdocs/deb-repo/dists/lenny/Release
htdocs/deb-repo/dists/lenny/Release.gpg
htdocs/deb-repo/mkdebidx.log
htdocs/deb-repo/timestamp
src/www/scm/viewvc/viewvc.org/*.tar.gz
src/www/scm/viewvc/viewvc.org/*.zip
# Debian packaging:
/*.dsc
/*.tar.gz
/*.diff.gz
/*.build
/*.changes
/*.deb
/*.upload
/.pc
src/.pc
result/fusionforge-*.tar.bz2
# Emacs backup files
*~
