* text=auto !eol
gforge/backend/shell/apache.sh svneol=native#unset
gforge/docs/architecture/sf2.sda svneol=native#unset
gforge/docs/architecture/stats/stats-process.png svneol=native#unset
gforge/docs/architecture/stats/stats-process.sda svneol=native#unset
gforge/docs/architecture/tour/first0.png svneol=native#unset
gforge/docs/architecture/tour/first1.png svneol=native#unset
gforge/docs/architecture/tour/img0.jpg svneol=native#unset
gforge/docs/architecture/tour/img1.jpg svneol=native#unset
gforge/docs/architecture/tour/img2.jpg svneol=native#unset
gforge/docs/architecture/tour/index.png svneol=native#unset
gforge/docs/architecture/tour/last0.png svneol=native#unset
gforge/docs/architecture/tour/last1.png svneol=native#unset
gforge/docs/architecture/tour/next0.png svneol=native#unset
gforge/docs/architecture/tour/next1.png svneol=native#unset
gforge/docs/architecture/tour/prev0.png svneol=native#unset
gforge/docs/architecture/tour/prev1.png svneol=native#unset
gforge/docs/images/sflogo2-105a.png -text
gforge/docs/project_management/source_branching.sda svneol=native#unset
gforge/www/forum/forum-er-diagram.sda svneol=native#unset
gforge/www/images/404.png svneol=native#unset
gforge/www/images/OSDN-lc.png svneol=native#unset
gforge/www/images/anvil.png svneol=native#unset
gforge/www/images/anvildot.png svneol=native#unset
gforge/www/images/bg-blue1-rt.png svneol=native#unset
gforge/www/images/bg-blue1.png svneol=native#unset
gforge/www/images/binary-code.png svneol=native#unset
gforge/www/images/blackdot.png svneol=native#unset
gforge/www/images/blank.png -text
gforge/www/images/bug.png svneol=native#unset
gforge/www/images/cfolder.png svneol=native#unset
gforge/www/images/docs/developerperms.png svneol=native#unset
gforge/www/images/docs/groupmembers.png svneol=native#unset
gforge/www/images/favicon.ico svneol=native#unset
gforge/www/images/foundry/1872admin.png svneol=native#unset
gforge/www/images/foundry/1872logo.png svneol=native#unset
gforge/www/images/foundry/6770admin.png svneol=native#unset
gforge/www/images/foundry/6770logo.png svneol=native#unset
gforge/www/images/foundry/6771admin.png svneol=native#unset
gforge/www/images/foundry/6771logo.png svneol=native#unset
gforge/www/images/foundry/6772admin.png svneol=native#unset
gforge/www/images/foundry/6772logo.png svneol=native#unset
gforge/www/images/foundry/9571admin.png svneol=native#unset
gforge/www/images/foundry/9571logo.png svneol=native#unset
gforge/www/images/foundry/9572admin.png svneol=native#unset
gforge/www/images/foundry/9572logo.png svneol=native#unset
gforge/www/images/foundry/powered_by_va.png svneol=native#unset
gforge/www/images/foundry/sflogo4-steel.png svneol=native#unset
gforge/www/images/ic/anvil24.png svneol=native#unset
gforge/www/images/ic/bug-poo.png svneol=native#unset
gforge/www/images/ic/bug.png svneol=native#unset
gforge/www/images/ic/bug16b.png svneol=native#unset
gforge/www/images/ic/caret.png -text
gforge/www/images/ic/cfolder.png svneol=native#unset
gforge/www/images/ic/cfolder1.png svneol=native#unset
gforge/www/images/ic/cfolder15.png -text
gforge/www/images/ic/check.png -text
gforge/www/images/ic/check16b.png svneol=native#unset
gforge/www/images/ic/convert.png svneol=native#unset
gforge/www/images/ic/cvs16b.png -text
gforge/www/images/ic/docman.png svneol=native#unset
gforge/www/images/ic/docman16b.png -text
gforge/www/images/ic/env-be.png svneol=native#unset
gforge/www/images/ic/env-mac.png svneol=native#unset
gforge/www/images/ic/env-oth.png svneol=native#unset
gforge/www/images/ic/env-palm.png svneol=native#unset
gforge/www/images/ic/env-tux.png svneol=native#unset
gforge/www/images/ic/env-web1.png svneol=native#unset
gforge/www/images/ic/env-win.png svneol=native#unset
gforge/www/images/ic/env-x.png svneol=native#unset
gforge/www/images/ic/forge9.png svneol=native#unset
gforge/www/images/ic/ftp16b.png -text
gforge/www/images/ic/halfcheck.png -text
gforge/www/images/ic/home.png svneol=native#unset
gforge/www/images/ic/home16.png svneol=native#unset
gforge/www/images/ic/home16b.png -text
gforge/www/images/ic/index.png -text
gforge/www/images/ic/mail.png svneol=native#unset
gforge/www/images/ic/mail16b.png -text
gforge/www/images/ic/mail16c.png svneol=native#unset
gforge/www/images/ic/mail16d.png -text
gforge/www/images/ic/manual16b.png svneol=native#unset
gforge/www/images/ic/manual16c.png -text
gforge/www/images/ic/manual16d.png svneol=native#unset
gforge/www/images/ic/monitor16b.png svneol=native#unset
gforge/www/images/ic/news.png svneol=native#unset
gforge/www/images/ic/notes.png svneol=native#unset
gforge/www/images/ic/notes16.png -text
gforge/www/images/ic/ofolder.png svneol=native#unset
gforge/www/images/ic/ofolder1.png svneol=native#unset
gforge/www/images/ic/ofolder15.png -text
gforge/www/images/ic/paper16-p.png svneol=native#unset
gforge/www/images/ic/paper16.png svneol=native#unset
gforge/www/images/ic/patch.png svneol=native#unset
gforge/www/images/ic/pencil.png -text
gforge/www/images/ic/save.png -text
gforge/www/images/ic/save16.png svneol=native#unset
gforge/www/images/ic/save16b.png svneol=native#unset
gforge/www/images/ic/scissors.png svneol=native#unset
gforge/www/images/ic/search.png svneol=native#unset
gforge/www/images/ic/support.png svneol=native#unset
gforge/www/images/ic/support16b.jpg svneol=native#unset
gforge/www/images/ic/survey.png svneol=native#unset
gforge/www/images/ic/survey16b.png -text
gforge/www/images/ic/taskman16b.png -text
gforge/www/images/ic/trash-x.png -text
gforge/www/images/ic/trash.png -text
gforge/www/images/logo2border.png svneol=native#unset
gforge/www/images/mail16d.png svneol=native#unset
gforge/www/images/manual16c.png svneol=native#unset
gforge/www/images/msg.png -text
gforge/www/images/ofolder.png svneol=native#unset
gforge/www/images/osdn_logo_grey.png svneol=native#unset
gforge/www/images/others/cosource142x31.png svneol=native#unset
gforge/www/images/others/dmoz-cool1.png svneol=native#unset
gforge/www/images/others/gnome1.png svneol=native#unset
gforge/www/images/others/kde-logotp3.png svneol=native#unset
gforge/www/images/others/suse_g_sm.png svneol=native#unset
gforge/www/images/phorum/c.png svneol=native#unset
gforge/www/images/phorum/i.png svneol=native#unset
gforge/www/images/phorum/l.png svneol=native#unset
gforge/www/images/phorum/m.png svneol=native#unset
gforge/www/images/phorum/n.png svneol=native#unset
gforge/www/images/phorum/p.png svneol=native#unset
gforge/www/images/phorum/t.png svneol=native#unset
gforge/www/images/phorum/trans.png svneol=native#unset
gforge/www/images/rateit.png svneol=native#unset
gforge/www/images/ratesubmit.png svneol=native#unset
gforge/www/images/sflogo-88-1.png svneol=native#unset
gforge/www/images/sflogo2-105a.png svneol=native#unset
gforge/www/images/sflogo2-105b.png svneol=native#unset
gforge/www/images/sflogo2-steel.png svneol=native#unset
gforge/www/images/sourceforge-templogo.png svneol=native#unset
gforge/www/images/sourceforge.png svneol=native#unset
gforge/www/images/sourceforge2.png svneol=native#unset
gforge/www/images/steel3.jpg svneol=native#unset
gforge/www/images/t.png -text
gforge/www/images/t2.png -text
gforge/www/images/tab-bugs-lo.png svneol=native#unset
gforge/www/images/tab-bugs.png svneol=native#unset
gforge/www/images/tab-downloads-lo.png svneol=native#unset
gforge/www/images/tab-downloads.png svneol=native#unset
gforge/www/images/tab-forums-lo.png svneol=native#unset
gforge/www/images/tab-forums-t.png svneol=native#unset
gforge/www/images/tab-forums.png svneol=native#unset
gforge/www/images/tab-home-t.png svneol=native#unset
gforge/www/images/tab-home.png svneol=native#unset
gforge/www/images/tab-l-lo.png svneol=native#unset
gforge/www/images/tab-l.png svneol=native#unset
gforge/www/images/tab-lover.png svneol=native#unset
gforge/www/images/tab-lover2.png svneol=native#unset
gforge/www/images/tab-m.png svneol=native#unset
gforge/www/images/tab-r-lo.png svneol=native#unset
gforge/www/images/tab-r.png svneol=native#unset
gforge/www/images/tab-r2-lo.png svneol=native#unset
gforge/www/images/tab-r2.png svneol=native#unset
gforge/www/images/tab-rover.png svneol=native#unset
gforge/www/images/tab-summary-lo.png svneol=native#unset
gforge/www/images/tab-summary.png svneol=native#unset
gforge/www/images/tab-surveys-lo.png svneol=native#unset
gforge/www/images/tab-surveys.png svneol=native#unset
gforge/www/images/va-btn-small-light.png svneol=native#unset
gforge/www/images/valogo3.png svneol=native#unset
gforge/www/images/vatop-100x100.png svneol=native#unset
gforge/www/images/vatop-75x75.png svneol=native#unset
gforge/www/include/group-model-er-diagram.sda svneol=native#unset
gforge/www/people/people-er-diagram.sda svneol=native#unset
gforge/www/pm/pm-er-diagram.sda svneol=native#unset
gforge/www/snippet/snippet-er-diagram.sda svneol=native#unset
gforge/www/survey/survey-er-diagram.sda svneol=native#unset
gforge/www/themes/debian/images/bbar1.png svneol=native#unset
gforge/www/themes/debian/images/bleft1.png svneol=native#unset
gforge/www/themes/debian/images/bright1.png svneol=native#unset
gforge/www/themes/debian/images/debianpowered.png svneol=native#unset
gforge/www/themes/debian/images/fade1.png svneol=native#unset
gforge/www/themes/debian/images/floating.png svneol=native#unset
gforge/www/themes/debian/images/leftbar1.png svneol=native#unset
gforge/www/themes/debian/images/point1.png svneol=native#unset
gforge/www/themes/debian/images/point2.png svneol=native#unset
gforge/www/themes/debian/images/rateit.png svneol=native#unset
gforge/www/themes/debian/images/rightbar1.png svneol=native#unset
gforge/www/themes/debian/images/sf-bar2.png svneol=native#unset
gforge/www/themes/debian/images/sflogo.png svneol=native#unset
gforge/www/themes/debian/images/sflogoblue.png svneol=native#unset
gforge/www/themes/debian/images/sflogogrey.png svneol=native#unset
gforge/www/themes/debian/images/sflogot.jpg svneol=native#unset
gforge/www/themes/debian/images/sflogot.png svneol=native#unset
gforge/www/themes/debian/images/sflogowhite.png svneol=native#unset
gforge/www/themes/debian/images/steel3.jpg svneol=native#unset
gforge/www/themes/debian/images/tbar1.png svneol=native#unset
gforge/www/themes/debian/images/tleft1.png svneol=native#unset
gforge/www/themes/debian/images/tright1.png svneol=native#unset
gforge/www/themes/debian/images/valogo5.jpg svneol=native#unset
gforge/www/themes/forged/images/bbar1.png svneol=native#unset
gforge/www/themes/forged/images/bleft1.png svneol=native#unset
gforge/www/themes/forged/images/bright1.png svneol=native#unset
gforge/www/themes/forged/images/fade1.png svneol=native#unset
gforge/www/themes/forged/images/leftbar1.png svneol=native#unset
gforge/www/themes/forged/images/point1.png svneol=native#unset
gforge/www/themes/forged/images/point2.png svneol=native#unset
gforge/www/themes/forged/images/rateit.png svneol=native#unset
gforge/www/themes/forged/images/rightbar1.png svneol=native#unset
gforge/www/themes/forged/images/sf-bar2.png svneol=native#unset
gforge/www/themes/forged/images/sflogo-hammer1.jpg svneol=native#unset
gforge/www/themes/forged/images/steel3.jpg svneol=native#unset
gforge/www/themes/forged/images/tbar1.png svneol=native#unset
gforge/www/themes/forged/images/tleft1.png svneol=native#unset
gforge/www/themes/forged/images/tright1.png svneol=native#unset
gforge/www/themes/forged/images/valogo5.jpg svneol=native#unset
gforge/www/tracker/tracker-er-diagram.sda svneol=native#unset
