* text=auto !eol
gforge/plugins/scmsvn/www/viewcvs/icons/back.gif svneol=native#unset
gforge/plugins/scmsvn/www/viewcvs/icons/forward.gif svneol=native#unset
gforge/plugins/scmsvn/www/viewcvs/icons/small/back.gif svneol=native#unset
gforge/plugins/scmsvn/www/viewcvs/icons/small/debian.jpg svneol=native#unset
gforge/plugins/scmsvn/www/viewcvs/icons/small/dir.gif svneol=native#unset
gforge/plugins/scmsvn/www/viewcvs/icons/small/text.gif svneol=native#unset
gforge/plugins/scmsvn/www/viewcvs/images/chalk.jpg svneol=native#unset
gforge/plugins/scmsvn/www/viewcvs/images/cvsgraph_16x16.png -text
gforge/plugins/scmsvn/www/viewcvs/images/cvsgraph_32x32.png -text
gforge/plugins/scmsvn/www/viewcvs/images/down.png -text
gforge/plugins/scmsvn/www/viewcvs/images/logo.png -text
gforge/plugins/scmsvn/www/viewcvs/images/up.png -text
