Source: fusionforge
Section: devel
Priority: optional
Maintainer: Roland Mas <lolando@debian.org>
Uploaders: Christian Bayle <bayle@debian.org>, Olivier Berger <obergix@debian.org>, Sylvain Beucler <beuc@debian.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://fusionforge.org/
Vcs-Git: https://fusionforge.org/anonscm/git/deb-packaging/deb-packaging.git
Vcs-Browser: https://fusionforge.org/scm/browser.php?group_id=9


Package: fusionforge
Architecture: all
Depends: fusionforge-common (=${source:Version}), fusionforge-web, ${misc:Depends}
Recommends: fusionforge-shell, fusionforge-plugin-scmsvn
Suggests: fusionforge-plugin-mediawiki
Description: FusionForge collaborative development tool - standard metapackage
 FusionForge provides many tools to aid collaboration in a
 development project, such as bug-tracking, task management,
 mailing-lists, SCM repository, forums, support request helper,
 web/FTP hosting, release management, etc. All these services are
 integrated into one web site and managed through a web interface.
 .
 This metapackage installs a stand-alone FusionForge site.
 See also the Recommends and Suggests dependencies.


Package: fusionforge-common
Architecture: all
Depends: php5-cli, php5-pgsql, php-htmlpurifier, perl, ${misc:Depends}
Description: collaborative development tool - shared files
 FusionForge provides many tools to aid collaboration in a
 development project, such as bug-tracking, task management,
 mailing-lists, SCM repository, forums, support request helper,
 web/FTP hosting, release management, etc. All these services are
 integrated into one web site and managed through a web interface.
 .
 This package contains files and programs used by several other
 subpackages.


Package: fusionforge-db
Architecture: all
Depends: fusionforge-common (=${source:Version}), postgresql, php5-cli, ${misc:Depends}
Description: collaborative development tool - database (using PostgreSQL)
 FusionForge provides many tools to aid collaboration in a
 development project, such as bug-tracking, task management,
 mailing-lists, SCM repository, forums, support request helper,
 web/FTP hosting, release management, etc. All these services are
 integrated into one web site and managed through a web interface.
 .
 This package installs, configures and maintains the FusionForge
 database.


Package: fusionforge-db-remote
Architecture: all
Provides: fusionforge-db
Depends: ${misc:Depends}
Description: collaborative development tool - database (remote)
 FusionForge provides many tools to aid collaboration in a
 development project, such as bug-tracking, task management,
 mailing-lists, SCM repository, forums, support request helper,
 web/FTP hosting, release management, etc. All these services are
 integrated into one web site and managed through a web interface.
 .
 This dummy package tells FusionForge you installed the database on a
 separate machine.  It preserves the fusionforge-db virtual dependency,
 to configure the database before depending packages in single-server
 installs (e.g. plugins activation requires a populated db).


Package: fusionforge-web
Architecture: all
Depends: fusionforge-common (=${source:Version}), fusionforge-db, php5-cli, libapache2-mod-php5, python, ${misc:Depends}
Recommends: locales-all
Description: collaborative development tool - web part (using Apache)
 FusionForge provides many tools to aid collaboration in a
 development project, such as bug-tracking, task management,
 mailing-lists, SCM repository, forums, support request helper,
 web/FTP hosting, release management, etc. All these services are
 integrated into one web site and managed through a web interface.
 .
 This package contains the files needed to run the web part of
 FusionForge on an Apache webserver.


Package: fusionforge-shell
Architecture: all
Depends: fusionforge-common (=${source:Version}), php5-cli, ucf, libnss-pgsql2, openssh-server, unscd | nscd, ${misc:Depends}
Description: collaborative development tool - shell accounts (using PostgreSQL)
 FusionForge provides many tools to aid collaboration in a
 development project, such as bug-tracking, task management,
 mailing-lists, SCM repository, forums, support request helper,
 web/FTP hosting, release management, etc. All these services are
 integrated into one web site and managed through a web interface.
 .
 This package provides shell accounts authenticated via the PostGreSQL
 database to FusionForge users.


Package: fusionforge-plugin-authhttpd
Architecture: all
Depends: fusionforge-web, ${misc:Depends}
Description: collaborative development tool - HTTPD authentication plugin
 FusionForge provides many tools to aid collaboration in a
 development project, such as bug-tracking, task management,
 mailing-lists, SCM repository, forums, support request helper,
 web/FTP hosting, release management, etc. All these services are
 integrated into one web site and managed through a web interface.
 .
 This plugin contains an HTTPD authentication mechanism for
 FusionForge. It allows Apache authentication to be reused for
 FusionForge, for instance where Kerberos is used.


Package: fusionforge-plugin-mediawiki
Architecture: all
Depends: fusionforge-web, mediawiki (>= 1:1.19.1-2~exp2), php5-cli, ${misc:Depends}
Description: collaborative development tool - Mediawiki plugin
 FusionForge provides many tools to aid collaboration in a
 development project, such as bug-tracking, task management,
 mailing-lists, SCM repository, forums, support request helper,
 web/FTP hosting, release management, etc. All these services are
 integrated into one web site and managed through a web interface.
 .
 This plugin allows each project to embed Mediawiki under a tab.


Package: fusionforge-plugin-scmsvn
Architecture: all
Depends: fusionforge-web, subversion, subversion-tools, php5-cli, openbsd-inetd | inet-superserver, update-inetd, ${misc:Depends}
Description: collaborative development tool - Subversion plugin
 FusionForge provides many tools to aid collaboration in a
 development project, such as bug-tracking, task management,
 mailing-lists, SCM repository, forums, support request helper,
 web/FTP hosting, release management, etc. All these services are
 integrated into one web site and managed through a web interface.
 .
 This plugin contains the Subversion subsystem of FusionForge. It allows
 each FusionForge project to have its own Subversion repository, and gives
 some control over it to the project's administrator.
