<?php // -*-php-*-
// rcs_id('$Id: dump-footer.tmpl 7589 2010-07-02 07:31:33Z vargenau $');
  if (empty($revision)) $revision = $page->getCurrentRevision();
?>
<hr class="printer" noshade="noshade" />
<div class="visualClear"></div>
<div><?php echo $WikiTheme->getOwnerMessage($page) ?>  <?php echo $WikiTheme->getLastModifiedMessage($revision) ?> <?php echo $WikiTheme->getAuthorMessage($revision) ?><br />
This page was accessed <?php echo $page->get('hits') ?> times, and edited <?php echo $revision->getVersion() ?> times.</div>

