<?php
/* 
 * This template is responsible mainly for the outer level <html> stuff.
 */
?>
<!DOCTYPE html>
<head>
<meta charset="UTF-8" />
<?php echo Template('head') ?>
<body>
<div class="toolbar"><?php echo Template('navbar') ?></div>
<div class="toolbar"><?php echo Template('actionbar') ?></div>
</body>
</html>
