<?php // -*-php-*-
// rcs_id('$Id: frame-left.tmpl 7589 2010-07-02 07:31:33Z vargenau $');

/* 
 * This template is responsible mainly for the outer level <html> stuff.
 */
printf("<?xml version=\"1.0\" encoding=\"%s\"?>\n", CHARSET);
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<?php echo Template('head') ?>
<body>
<div class="toolbar"><?php echo Template('navbar') ?></div>
<div class="toolbar"><?php echo Template('actionbar') ?></div>
</body>
</html>
