<?php
/*
 * This template is responsible mainly for the outer level <html> stuff.
 */
?>
<!DOCTYPE html>
<html xml:lang="<?php echo $GLOBALS['LANG']?>" lang="<?php echo $GLOBALS['LANG']?>">
<?php echo Template('head') ?>
<?php echo Template('body') ?>
</html>
