<?php // -*-php-*-
// $Id: logo.tmpl 7956 2011-03-03 17:08:31Z vargenau $
?>
<div class="portlet" id="p-logo"><a class="wikilink" href="<?php echo WikiURL(HOME_PAGE)?>" title="Visit the Home Page [<?php echo $WikiTheme->tooltipAccessKeyPrefix() ?>-z]" accesskey="z"><span class="logo"><?php echo WIKI_NAME ?></span></a></div>
<img id="img-logo-right" src="<?php echo $WikiTheme->_findData('images/wiki_stamp.png')?>" alt="This is a WIKI! Edit every page" height="86" width="86" />
