<?php // -*-html-*- ?>
<div class="portlet" id="p-logo"><a class="wikilink" href="<?=WikiURL(HOME_PAGE)?>" target="_top" title="Visit the Home Page [<?= $WikiTheme->tooltipAccessKeyPrefix() ?>-z]" accesskey="z"><span class="logo"><?= WIKI_NAME ?></span></a></div>
<img id="img-logo-right" src="<?= $WikiTheme->_findData('images/wiki_stamp.png')?>" align="right" height="86" width="86" border="0">
