<?php // -*-php-*- 
// rcs_id('$Id: rc.tmpl 7589 2010-07-02 07:31:33Z vargenau $');
?>
<!-- RecentChangesCached Box -->
<div class="portlet" id="p-rc">
  <h5><?php echo _("RecentChanges") ?> <?php echo $WikiTheme->folderArrow('p-rc', 'Closed') ?></h5>
  <div class="pBody" id="p-rc-body" style="display:none;">
<?php
  require_once("lib/WikiTheme.php");
  $box = new PluginSidebarBox("RecentChangesCached", array("limit"=>12));
  printXml($box->format());
?>
  </div>
</div>
