<div id="searchholder">
<form id="searchform" action="<?php echo WikiURL(_("FindPage"))?>"
      method="get" accept-charset="UTF-8" style="display:inline" class="searchform">
<?php
$s = $request->getArg('s') ? $request->getArg('s') : _("Search");
if (! USE_PATH_INFO) { ?>
<input type="hidden" name="pagename" value="<?php echo _("TitleSearch")?>" />
<?php } ?>
<?php echo $SEARCH_BEFORE ?>
<input type="hidden" name="action" value="search" />
<input name="searchterm" size="18" maxlength="256"
   value="<?php echo $s?>"
   onfocus="if (this.value == '<?php echo _("Search")?>') {this.value = '';}"
   onmouseout="window.status=''; return true;"
   onmouseover="window.status='<?php echo _("Quick Search")?>'; return true;"
   type="text" id="search"
   title="<?php echo _("Search term(s)") ?>" />
<?php echo $SEARCH_AFTER ?>
</form>
</div>
