<?php // -*-php-*-
// $Id: signin.tmpl 7956 2011-03-03 17:08:31Z vargenau $
?>
<div class="portlet" id="p-personal"><div class="pBody"><ul>
<?php if ($user->isAuthenticated()) {
     $sp = HTML::Raw("&nbsp;"); $id = $user->getAuthenticatedId(); ?>
     <li id="pt-mypages"><?php echo WikiLink("RecentChangesMyPages", 'auto', HTML($sp,"MyPages",$sp)) ?></li>
     <li id="pt-mychanges"><?php echo WikiLink("MyRecentChanges", 'auto', HTML($sp,"MyChanges",$sp)) ?></li>
     <li id="pt-userpage"><?php echo WikiLink($id, 'auto', HTML($sp,$id,$sp)) ?></li>
     <li id="pt-logout"><?php echo HTML::a(array('href'=>'?auth[logout]=1'), $sp,_("Logout"),$sp) ?></li>
<?php } elseif (ALLOW_ANON_USER) {
  $sp = HTML::Raw("&nbsp;"); $id = $user->getAuthenticatedId();
  if ($id) { ?>
    <li id="pt-userpage"><?php echo WikiLink($id, 'auto', HTML($sp,$id,$sp)) ?></li>
  <?php } ?>
  <!-- Login -->
  <li id="pt-login"><?php echo HTML::a(array('href'=>'?auth[login]=1'),$sp,_("Login"),$sp) ?></li>
<?php } else { ?>
     <li id="pt-login"><a id="login"><?php echo _("Login required...") ?></a></li>
<?php } ?>
  </ul>
 </div>
</div>
