<?php // -*-php-*- 
rcs_id('$Id: signin.tmpl 6261 2008-09-14 10:37:29Z vargenau $');
?>
<!-- list of most popular categories -->
<div class="portlet" id="p-tags">
  <h5><?= _("Favorite Categories") ?> <?= $WikiTheme->folderArrow('p-tags', 'Open') ?></h5>
  <div class="pBody" id="p-tags-body">
    <?plugin PopularTags ?>
  </div>
</div>
