<?php // list of most popular categories ?>
<nav role="navigation" aria-label="<?php echo _("Favorite Categories Menu") ?>">
<div class="portlet" id="p-tags">
  <h2><?php echo _("Favorite Categories") ?> <?php echo $WikiTheme->folderArrow('p-tags', 'Open') ?></h2>
  <div class="pBody" id="p-tags-body">
    << PopularTags >>
  </div>
</div>
</nav>
