<?php // -*-php-*-
rcs_id('$Id: top.tmpl 6409 2009-01-17 14:40:16Z rurban $');
if (ENABLE_RATEIT && !empty($user) && $user->isAuthenticated() && $page->exists())
    $rating = 1;
else
    $rating = 0;
?>
<!-- Page title -->
<a name="top" id="contentTop"></a>
<?php if ($page->_pagename != "HomePage") { ?>
<h1 class="firstHeading<?= $rating ? '-rating' : '' ?>"><?= $HEADER ?></h1>
<?php } ?>
<?php if ($rating && $request->getArg('action') == 'browse') { ?>
<?= Template('ratings') ?>
<?php } elseif ($rating && $WikiTheme->DUMP_MODE) { ?>
<div id="rateit-widget-top">
<?php
  $loader = new WikiPluginLoader();
  printXML($loader->expandPI("<"."?plugin RateIt show=text ?".">", $request, $dbi->_markup));
?></div>
<?php } ?>