system_name=Gforge
domain_name=gforge.company.com
server_admin=webmaster@gforge.company.com
db_host=localhost
db_name=alexandria
db_user=www
db_password=
ip_address=10.GF.OR.GE
cvs_host=cvs.gforge.company.com
shell_host=shell.gforge.company.com
users_host=users.gforge.company.com
lists_host=lists.gforge.company.com
docs_host=gfdocs.gforge.company.com
jabber_host=jabber.gforge.company.com
download_host=download.gforge.company.com
upload_host=upload.gforge.company.com
statsadmin_groupid=2
newsadmin_groupid=3
peerrating_groupid=4
admin_login=admin
admin_password=
skill_list=Ada;C;C++;HTML;LISP;Perl;PHP;Python;SQL
default_trove_cat=18
ldap_host=ldap.gforge.company.com
ldap_base_dn=dc=gforge,dc=company,dc=com
ldap_web_add_password=
cgidir=/path/to/cgidir
cronolog_path=/usr/bin/cronolog
sys_path_to_jpgraph=/path/to/jpgraph
sys_path_to_cvsweb=/path/to/cvsweb
gforge_chroot=
gforge_etc=/etc
groupdir=/home/groups
homedir=/home
uploaddir=/path/to/uploads/
sys_jabber_pass=
usr_share_gforge=/path/to/gforge
var_lib_gforge=/var/lib/gforge
var_log_gforge=/var/log/gforge
sys_show_source=0
sys_force_login=0
sys_session_key=foobar
sys_theme=gforge
sys_lang=English
sys_use_ldap=0
sys_use_jabber=0
sys_use_auth_ldap=1
sys_ldap_auth_host=localhost
sys_ldap_auth_port=389
sys_ldap_auth_version=3
sys_ldap_auth_dn=dc=gforge,dc=company,dc=com
sys_use_cvs=true
sys_use_tracker=true
sys_use_forum=true
sys_use_pm=true
sys_use_docman=true
sys_use_news=true
sys_use_mail=true
sys_use_survey=true
sys_use_frs=true
sys_use_ftp=true
sys_use_trove=true
sys_use_snippet=true
sys_use_ssl=false
sys_use_people=true
sys_project_reg_restricted=true
sys_localization_enable_caching=true
sys_localization_cache_path=/path/to/localization/cache/
sys_localization_enable_timestamp_checking=true
sys_localinc=/path/to/local.inc
sys_jabber_pass=
