# PLEASE DO NOT REMOVE THIS LINE

SetEnv sys_localinc /path/to/local.inc
SetEnv sys_gfdbhost localhost
SetEnv sys_gfdbname alexandria
SetEnv sys_gfdbuser www
SetEnv sys_gfdbpasswd 
SetEnv sys_gfldap_passwd 
SetEnv sys_jabber_pass 
