<?php // -*-html-*- ?>
<!-- $Id: body.tmpl,v 1.3 2004/06/14 11:26:51 rurban Exp $ -->
<body<?= $WikiTheme->getMoreAttr('body') ?>>

<!-- Page title -->
<h1 id="header"><?= $HEADER ?></h1>

<!-- Page title and logo -->
<!--
<h1><a class="wikilink"
       href="<?=WikiURL(HOME_PAGE)?>"
       ><img src="<?=$WikiTheme->getImageURL('logo')?>"
             border="0" alt="<?=fmt(_("%s: %s"), WIKI_NAME, HOME_PAGE) ?>"
             align="bottom" /></a> <?=$HEADER?></h1>
-->
<?= $CONTENT ?>
<?= Template('navbar') ?>
<!-- RELATEDPAGES were here. -->

<?= $GLOBALS['ErrorManager']->getPostponedErrorsAsHTML() ?>

</body>