<?php // -*-html-*-
  rcs_id('$Id: bottom.tmpl 6204 2008-08-26 15:12:03Z vargenau $');
?>
<!-- Add your Disclaimer here -->
<?php if (!$WikiTheme->DUMP_MODE) { ?>
<?= empty($WARNINGS) ? '' : $WARNINGS ?>
<?= $GLOBALS['ErrorManager']->getPostponedErrorsAsHTML() ?>
<?php if (defined('DEBUG') and DEBUG & 1) { ?><?= Template('debug') ?><?php } ?>
<?php } ?>
