<?php // -*-html-*-
  rcs_id('$Id: browse-footer.tmpl 6204 2008-08-26 15:12:03Z vargenau $');
?>
<hr class="printer" noshade="noshade" />
<p class="editdate"><?= $WikiTheme->getOwnerMessage($page) ?>  <?= $WikiTheme->getLastModifiedMessage($revision) ?> <?= $WikiTheme->getAuthorMessage($revision) ?></p>
<?php
global $HIDE_TOOLBARS;
if (!$HIDE_TOOLBARS) {
?>
<hr class="toolbar" noshade="noshade" />
<div class="toolbar">
<?= Template('actionbar') ?>
</div>
<?php } ?>
