<VirtualHost *:80>
	ServerName {vhost_name}
	DocumentRoot {docdir}
	# disabled for CVE-2014-6275
	# Only enable it if you know what you are doing, by default all scripts run as Apache
	#ScriptAlias /cgi-bin/ {cgidir}
	<Directory ${FF__core__groupdir_prefix}>
		Options Indexes FollowSymlinks
		AllowOverride All
		Include ${FF__core__config_path}/httpd.conf.d/auth-projects.inc
	</Directory>
	Include ${FF__core__config_path}/httpd.conf.d/block-trace.inc
	Include ${FF__core__config_path}/httpd.conf.d/log.inc
	Include ${FF__core__config_path}/httpd.conf.d/ssl-off.inc
</VirtualHost>
