<?php // -*-php-*-
// $Id: tags.tmpl 7956 2011-03-03 17:08:31Z vargenau $
?>
<!-- list of most popular categories -->
<div class="portlet" id="p-tags">
  <h5><?php echo _("Favorite Categories") ?></h5>
  <div class="pBody">
    <?plugin PopularTags ?>
  </div>
</div>
