<?php // -*-html-*-
  rcs_id('$Id: browse-footer.tmpl 6189 2008-08-22 13:18:48Z vargenau $');
?>
<hr class="printer" noshade="noshade" />
<p class="editdate"><?= $WikiTheme->getOwnerMessage($page) ?>  <?= $WikiTheme->getLastModifiedMessage($revision) ?> <?= $WikiTheme->getAuthorMessage($revision) ?></p>
