<?php // -*-html-*- ?>
<!-- $Id: navbar.tmpl 6189 2008-08-22 13:18:48Z vargenau $ -->
<!-- The top navigation/search bar -->

<?php 
$curuserprefs = $user->getPreferences();
?>

   <tr><td class="submenu"><?= WikiLink(_("HomePage"), "","Home Page") ?></td></tr>
      <tr><td class="submenu"><?= WikiLink(_("RecentChanges"), "","Recent Changes") ?></td></tr>
      <tr><td class="submenu"><?= WikiLink(_("SpecialPages"), "","Special Pages") ?></td></tr>
   <?php if ($curuserprefs->get('searchMenuItem')) { ?>
     <tr><td class="submenu"><?= WikiLink(_("FindPage"), "","Search") ?></td></tr>
   <?php } ?>
    <?php if (!empty($revision)) { ?>
     <?php if (0) { ?>
       <tr><td class="submenu"><?= Button(array('action'=>'LikePages'),_("Like Pages"),$page->getName()) ?></td></tr>
     <?php } ?>
    <?php } ?>
   <tr><td class="submenu"><?= WikiLink(_("UpLoad"), "","Upload File") ?></td></tr>
    <?php if (!empty($user) && $user->isAdmin()) { ?>
     <tr><td class="submenu"><?= WikiLink(_("PhpWikiAdministration"), "","Admin") ?></td></tr>
    <?php } ?>
    <?php if (!empty($user) && $user->isSignedIn()) { ?>
     <tr><td class="submenu"><?= WikiLink(_("UserPreferences"), "","Preferences") ?></td></tr>
    <?php } ?>
