<?php // -*-html-*-
rcs_id('$Id: body.tmpl 6204 2008-08-26 15:12:03Z vargenau $');
// Todo: set the body attr dynamically. here class="ns-2" for mozilla
?>
<body <?= $WikiTheme->getMoreAttr('body') ?>>
    <div id="global-wrapper">
      <div id="column-content">
	<div id="content">
	  <?= Template('top') ?>
	  <div id="bodyContent">
	    <?= $CONTENT ?>

	    <!-- end content -->
	    <div class="visualClear"></div>
	  </div>
	</div>
	<?php if (empty($NOSIGNIN)) { ?>
	  <?= Template('signin') ?>
	<?php } ?>
	<?= Template('logo') ?>
      </div>
      <div id="column-one">
	<?= Template('navbar') ?>
	<?php if (empty($GLOBALS['HIDE_TOOLBARS'])) { ?>
	  <?= Template('actionbar') ?>
	  <?= Template('tags') ?>
	<?php } ?>
      </div>
      <div id="footer"><?php // for top & bottom toolbars stylesheet ?>
        <?= Template('browse-footer') ?>
      </div>
      <div id="bottom">
	<?= Template('bottom') ?>
      </div>
    </div>
</body>
