<?php // -*-html-*-
rcs_id('$Id: body.tmpl,v 1.2 2004/06/14 11:26:49 rurban Exp $');
// Todo: set the body attr dynamically. here class="ns-2" for mozilla
?>
  <body <?= $WikiTheme->getMoreAttr('body') ?>>
    <div id="global-wrapper">
      <div id="column-content">
	<div id="content">
	  <?= Template('top') ?>
	  <div id="bodyContent">
	    <?= $CONTENT ?>
	    <!-- end content -->
	    <div class="visualClear"></div>
	  </div>
	</div>
      </div>
      <div id="column-one">
	<?= Template('logo') ?>
	<?php if (empty($GLOBALS['HIDE_TOOLBARS'])) { ?>
	  <?= Template('actionbar') ?>
	<?php } ?>
	<?= Template('navbar') ?>
	<?php if (empty($NOSIGNIN)) { ?>
	<div class="portlet" id="p-personal" align="right">
	  <?= Template('signin') ?></div>
	<?php } ?>
	<div>
	  <?= Template('bottom') ?>
	</div>
      </div>
    </div>
  </body>
