<div class="portlet" id="p-logo"><a class="wikilink" href="<?=WikiURL(HOME_PAGE)?>" target="_top"><img src="<?= $WikiTheme->getImageURL('logo') ?>" id="logo-img" border="0" alt="<?=
fmt(_("%s: %s"), WIKI_NAME, HOME_PAGE) ?>" /></a></div>
<div id="img-logo-right" />
