<?php // -*-php-*- 
?>
<!-- $Id: tags.tmpl 6253 2008-09-09 16:40:25Z vargenau $ -->
<!-- list of most popular categories -->
<div class="portlet" id="p-tags">
  <h5><?= _("Favorite Categories") ?></h5>
  <div class="pBody">
    <?plugin PopularTags ?>
  </div>
</div>
