/*
 *
 * the Savannah Project
 * Copyright 2002 (c) Mathieu Roy <yeupou@gnu.org>
 * See the ChangeLog file for a detailed list of changes
 *
 *  http://savannah.gnu.org 
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License
 * as published by the Free Software Foundation; either version 2
 * of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
 *
 * $Id$
 *
*/

/* general stuff */
BODY { 
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  background: fixed url("/themes/savannah_startrek/images/stars.png") #000000;  font-family: arial,helvetica;
  font-size: small;
  color: #d6d6d6;
}

A { text-decoration: none; color: #98dbff;}
a:hover { text-decoration: underline; color: #e73943; }
a:active { color: #0011aa; }

.smaller { font-size: smaller; }
.small { font-size: small; }
.xsmall { font-size: xx-small; }
.center { text-align: center; }
.left { text-align: left; }
.error { font-weight: bold; color: #980000; }
.bold { font-weight: bold; }

PRE,TT { font-family: courier,sans-serif; }
HR { width: 99%; } 
input { background-color: #000000; border: thin solid #e73943; color: #98dbff }
select { background-color: #000000; border: thin solid #e73943; color: #98dbff }
option { background-color: #000000; border: thin solid #e73943; color: #98dbff }
textarea { background-color: #000000; border: thin solid #e73943; color: #98dbff }

.footer { font-size: x-small; }
.standardtable { width: 99%; border-spacing: 0; border: 0; }

/* content frame specific */
.contenttable { vertical-align: top; width: 99%; border-spacing: 0; border: 0; color: #d6d6d6; }

/* left menu specific */
.menutable { vertical-align: top; width: 150px; border-spacing: 0; border: 0; font-size: small;}
.menutitle { vertical-align: top; font-weight: bold; text-align: left; color: #d8d8d8; }
.menuitem { vertical-align: top; text-align: right; color: #d8d8d8; }
.menusearch { font-size: xx-small; } 

/* classic box */
.boxtable { width: 99%; vertical-align: top; border-spacing: 1px; border: 0; }
.boxtitle { border: 2px #98dbff solid; font-weight: bold; text-align: center; text-transform: capitalize; color: #98dbff; }
      /* if there's a link in boxtitle, we use sortbutton */
      /*.sortbutton { color: #000000; }*/
      /*.sortbutton:hover { color: #917400; }*/
.boxitem { background-image: url("/themes/savannah_startrek/images/bgred.png"); text-align: left; color: #ffdaba; }

.boxitemalt { background-image: url("/themes/savannah_startrek/images/bgorange.png"); text-align: left; color: #fff9ba; }



/* priority  */
.priora { background-image: url("/themes/savannah_startrek/images/bgpri1.png");  }
.priorb { background-image: url("/themes/savannah_startrek/images/bgpri2.png"); }
.priorc { background-image: url("/themes/savannah_startrek/images/bgpri3.png"); }
.priord { background-image: url("/themes/savannah_startrek/images/bgpri4.png"); }
.priore { background-image: url("/themes/savannah_startrek/images/bgpri5.png"); }
.priorf { background-image: url("/themes/savannah_startrek/images/bgpri6.png"); }
.priorg { background-image: url("/themes/savannah_startrek/images/bgpri7.png"); }
.priorh { background-image: url("/themes/savannah_startrek/images/bgpri8.png"); }
.priori { background-image: url("/themes/savannah_startrek/images/bgpri9.png"); }

/* page specific */
  /* index.php */
  .indexcenter { vertical-align: top; width: 65%; }
  .indexright { vertical-align: top; width: 35%; }



.tabs { color: #d8d8d8; }
.tabselect { }
.tabselect:hover { text-decoration: none; color: #98dbff; }

        .titlebar { }
        .develtitle {  }
        .legallink {  }



/* This is the original Sourceforge css.. we let this stuff here until this savaannah css is fully used */

/*A.maintitlebar { color: #FFFFFF }
A.maintitlebar:visited { color: #FFFFFF }

yA.sortbutton { color: #FFFFFF; text-decoration: underline; }
A.sortbutton:visited { color: #FFFFFF; text-decoration: underline; }*

A.menus { color: #000000; text-decoration: underline; }
A.menus:visited { color: #000000; text-decoration: underline; }

A.tabs { color: #000000; text-decoration: underline; }
A.tabs:visited { color: #000000; text-decoration: underline; }*/

.menus { color: #6666aa; text-decoration: none; }
.menus:visited { color: #6666aa; text-decoration: none; }

SPAN.center { text-align: center; }
SPAN.boxspace { font-size: 2pt; }
SPAN.alignright { text-align: right }
SPAN.maintitlebar { }
SPAN.titlebar { }
TD.featurebox { }


