/*
 * Stylesheet for Funky Theme.
 *
 * Copyright 2010, Antoine Mercadal - Capgemini
 * Copyright 2010, Franck Villaume - Capgemini
 * Copyright 2011, Iñigo Martinez
 * Copyright 2013-2014, Franck Villaume - TrivialDev
 * Copyright 2015, Roland Mas
 * http://fusionforge.org
 *
 * This file is part of FusionForge. FusionForge is free software;
 * you can redistribute it and/or modify it under the terms of the
 * GNU General Public License as published by the Free Software
 * Foundation; either version 2 of the Licence, or (at your option)
 * any later version.
 *
 * FusionForge is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along
 * with FusionForge; if not, write to the Free Software Foundation, Inc.,
 * 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
 */

/* HTML elements */
a {
	color: #A66B00;
}

a:hover {
	color: #A68B00;
}

#searchBox a{
  color: #A66B00;
}

#searchBox a:hover {
	color: #A68B00;
}
.tabGenerator .tg-middle span span {
	background-color: #FFE673;
}

.tabGenerator .tg-middle span span:hover {
	background-color: #FFE613;
}

.tabGenerator .tg-middle span.selected span {
	background-color: #FFE613;
}

table.listing tbody tr:nth-child(even),
.bgcolor-grey {
	background-color: #FFF3B8;
}

.submenu li {
	background: white;
}

.error {
	background-color: #bc008d; /* red */
	border: 0;
}

.warning_msg, .warning, .tips, .important {
	background-color: #ff8940; /* orange */
	border: 0;
}

.feedback {
	background-color: #b7f300; /* green */
	border: 0;
}

p.information {
	background-color: #ffcd73;
	border: 0;
}

.info-box h2 {
	background: #A63F00;
}

.info-box:nth-child(4n) h2 {
	background: #BF6730;
}
.info-box:nth-child(4n+1) h2 {
	background: #A68800;
}
.info-box:nth-child(4n+2) h2 {
	background: #A63F00;
}
.info-box:nth-child(4n+3) h2 {
	background: #BFA630;
}

#activity_left {
	display: table;
	width: 100%;
}

#activity_right {
	margin-top:5px;
}

#activity_select {
	float: left;
}

#activity_startdate,
#activity_enddate {
	float: left;
	margin-left: 5px;
}

#activity_submit {
	margin-top:10px;
}

#activity_submit input {
	margin-top: 23px;
	margin-left: 5px;
}

input, select {
	vertical-align: middle;
}

.artifact_closed, .artifact_closed:hover {
	text-decoration:line-through;
}
