/*main styles*/
html,body{margin: 0;padding:0}
body{font-family: arial,sans-serif;font-size: 76%}

A {text-decoration: none;color: CornFlowerBlue;}

/* styles for header */
div#container{	BACKGROUND-color:#204a87}

div#container A{
	FONT: 11px Lucida Grande, Tahoma, sans-serif; 
	color: #eeeeec;
}

div#header{background-color:#36C;color: #ff0}


div#logo{float: left;width: 200px;\width:210px;w\idth:210px;padding: 1em 0 0 10px;height: 52px;
	BACKGROUND: url(/themes/gforge-simple-theme/images/logo.png) no-repeat; }

div#logo H1 {
	width: 200px;
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px;
	MARGIN: 0px; POSITION: top; HEIGHT: 52px;
}

div#logo H1 A {
	width: 200px;
	DISPLAY: block; TEXT-INDENT: -99em; HEIGHT: 52px;
}


div#util{float: right; width: 100px;\width:110px;w\idth:110px;padding: 1em 5px;
text-transform: lowercase;
FONT: 11px Lucida Grande, Tahoma, sans-serif; 
border: 0px;
top-margin:0px;

}



div#toolscontent{margin: 0 210px;padding: 1em 10px}


div#content{margin: 0 170px;padding: 1em 10px}


/* style for footer */
div#footer{clear:both; text-align:center; padding: 5px 0;
     color: #000}



/** NAVIGATION **/

div#gforge-top-navigation{	
BACKGROUND-color:#3465a4;}




#gforge-content{
	width: 100%;
	FONT: 11px Lucida Grande, Tahoma, sans-serif; 
	float: right;
	margin: 0px;
	padding: 0px;

	}


.altRowStyleEven { 
	background-color: #EAEAEA; 
	font-weight: none
	}

.altRowStyleOdd { 
	background-color: #E0E0E0; 
	font-weight: none
}


/* definition for content table */
.tableheading {
	background-color:#D0D0D0; 
	text-align: center;
	font-weight:  bold;
	color: black;
	}

.tablecontent {
	text-decoration: none;
	font-size: 11px;
	background-color: #eeeeee;
	
	}

.tablegetmore {
	background-color: #EAEAEA
	}

div#tabletop {
	width: 950px;
	font-size: 11px;
	background-image: url(/themes/gforge-simple-theme/images/box-grad.png);
}

div#tabletop TABLE{
	width: 950px;
}
div#tabletop THEAD{
	text-align: center;
	font-weight: bold;
	border: 0px;
	padding: 0px;
	margin: 0px;
	font-size: 11px;
}

div#tabletop THEAD A{
	color: black;
	font-size: 11px;
}

div#tabletop THEAD TD{
	color: #00004a;
}

div#tabletop TBODY{
	background-color: #eeeeee;
	font-size: 11px;
}





/* priority styles */
.priority1 { background-color: #dadada}
.priority2 { background-color: #dacaca}
.priority3 { background-color: #dababa}
.priority4 { background-color: #daaaaa}
.priority5 { background-color: #da8a8a}


/* START */

/* Default stylesheet for gforge


/* end form elements */

STRONG {
	font-family: Lucida Grande, Tahoma, sans-serif; 
	font-size: 11px;
font-weight: bold}

h1, h2, h3, h4, h5, h6 { 
	font-family: Lucida Grande, Tahoma, sans-serif; 
	font-weight:none;
	padding:0;
}

H1 { 
	font-family: Lucida Grande, Tahoma, sans-serif; 
	font-size: x-large
	}
H2 { 
	font-family: Lucida Grande, Tahoma, sans-serif; 
	font-size: large
	}
H3 { 
	font-family: Lucida Grande, Tahoma, sans-serif; 
	font-size: medium
	}

H4 { 
	font-family: Lucida Grande, Tahoma, sans-serif; 
	font-size: small
	}

H5 { 
	font-family: Lucida Grande, Tahoma, sans-serif; 
	font-size: x-small
	}

H6 { 
	font-family: Lucida Grande, Tahoma, sans-serif; 
	font-size: xx-small
	}



.titlebar  { 
	FONT-SIZE:11px; 
	color: black; 
	text-decoration: none; 
	background-color:#D0D0D0; 
	}

.develtitle {
	FONT-SIZE: 11px; 
	COLOR: #535c5f; 
	font-family: Lucida Grande, Tahoma, sans-serif; 
	}


/* styles for prev next up and down*/
.prev, .next, up, down {
	font-family: Lucida Grande, Tahoma, sans-serif; 
	font-size: small; 
	text-decoration: bold
	}

/* top */
.up {
	color: #009900
	}

.down {
	color: #CC0000
	}

/* global styles */

/* style for error messages 
   Use this style if you need to display an error, e.g:
     User does not exist
*/
.error {
	font-family: Lucida Grande, Tahoma, sans-serif; 
	color: red;
	text-decoration: bold;
	font-size: 14px;
}

/* style for warning messages 
   Use this style if you need to display a warning*/

.warning {
	font-family: Lucida Grande, Tahoma, sans-serif; 
	color: red: 
	text-decoration: none
	}

/* style for feedback  
   Use this style to tell the user that the operation he
   requested was executed successfully, e.g:
   User was successfully registered
*/
.feedback {
	color: red; 
	font-size: 13px; 
	text-align: center; 
	text-decoration: none
	}

/* style for attention 
   Use this if you wish to display important messages
   within a text.
   Note that once registered, the project cannot be deleted
*/

.important {
	color: red; 
	font-weight: bold
	}


.veryimportant {
	color: red; 
	font-weight: bold; 
	font-size: large; 
	text-align: center
	}
   

/* the following style are for displaying items in different states */

.active {
	background-color: #73d216; 
	text-decoration: none; 
	font-weight: normal
	color: white;
	}

.inactive {
	background-color: #c17d11;
	}

.deleted {
	background-color: #cc0000; 
	color: white;
	}

.suspended {

	background-color: #edd400;
	}

.pending {
	background-color: #f57900;
	}

/* TODO */
/* admin users: link sono brutti 

*/
/* the following style is used when a word or an item should be highlighted; e.g.
   selected release or words in the advanced search */

.selected {
	background-color: pink
	}

/* style for required fields */
.requiredfield {
	color: red; 
	font-weight: bold
	}


/* END*/

fieldset {


}
legend {
	font-size: 12px;
}




#outertabscontainer{

width: 95%
margin: 10px auto;
background-color: #ffff;
color: #333;
BACKGROUND-color:#3465a4;
}


#outertabs-left {
float: left;
width: 10px;
margin: 0;
padding: 1em;
}
#outertabs-right {
float: right;
width: 40px;
margin: 0;
padding: 1em;

}
#outertabs-content {
margin-left: 20px;
margin-right: 40px;
border-top: #3465a4 5px solid;
}

#outertabs-content A {
	FONT: 11px/34px Lucida Grande, Tahoma, sans-serif; TEXT-TRANSFORM: lowercase; TEXT-DECORATION: none;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #eeeeec;
}


#outertabs-content A#gforge-home:hover {
	BORDER-TOP: #8ae234 5px solid;
}

#outertabs-content A#gforge-my:hover {
	BORDER-TOP: #fce94f 5px solid
}
#outertabs-content A#gforge-reporting:hover {
	BORDER-TOP: #fcaf3e 5px solid
}
#outertabs-content A#gforge-admin:hover {
	BORDER-TOP: #e9b96e 5px solid
}
#outertabs-content A#gforge-people:hover {
	BORDER-TOP: #8ae234 5px solid
}
#outertabs-content A#gforge-softwaremap:hover {
	BORDER-TOP: #ad7fa8 5px solid
}
#outertabs-content A#gforge-snippet:hover {
	BORDER-TOP: #ef2929 5px solid
}



#outertabs-content A#gforge-selected  {
	BORDER-TOP: #c4a000 5px solid;
	background-color: #c4a000 ;
	color: #2e3436;
}


#projecttabscontainer{

width: 100%;
margin: 0px auto;
color: #333;
border: 0px;
BACKGROUND-color:#729fcf;
}


#projecttabs-left {
float: left;
width: 160px;
margin: 0;
padding: 1em;
BACKGROUND-color:#729fcf;
}
#projecttabs-right {
float: right;
width: 160px;
margin: 0;
padding: 1em;

}
#projecttabs-content {
margin-left: 200px;
margin-right: 200px;
	border-top: #729fcf 5px solid;
}

#projecttabs-content A {
	FONT: 11px/34px Lucida Grande, Tahoma, sans-serif; TEXT-TRANSFORM: lowercase; TEXT-DECORATION: none;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;

	color: #eeeeec;

}


#projecttabs-content A#gforge-project-summary:hover {
	BORDER-TOP: #8ae234 5px solid;
}




#projecttabs-content A#gforge-project-admin:hover {
	BORDER-TOP: #ce5c00 5px solid
}
#projecttabs-content A#gforge-project-forum:hover {
	BORDER-TOP: #8f5902 5px solid
}
#projecttabs-content A#gforge-project-tracker:hover {
	BORDER-TOP: #4e9a06 5px solid
}
#projecttabs-content A#gforge-project-mail:hover {
	BORDER-TOP: #204a87 5px solid
}
#projecttabs-content A#gforge-project-task:hover {
	BORDER-TOP: #5c3566 5px solid
}
#projecttabs-content A#gforge-project-docman:hover {
	BORDER-TOP: #a40000 5px solid
}

#projecttabs-content A#gforge-project-survey:hover {
	BORDER-TOP: #73d216 5px solid
}

#projecttabs-content A#gforge-project-news:hover {
	BORDER-TOP: #c17d11 5px solid
}

#projecttabs-content A#gforge-project-scm:hover {
	BORDER-TOP: #fcaf3e 5px solid
}
#projecttabs-content A#gforge-project-plugin:hover {
	BORDER-TOP: #edd400 5px solid
}

#projecttabs-content A#gforge-project-frs:hover {
	BORDER-TOP: #a40000 5px solid
}





#projecttabs-content A#gforge-selected  {
	BORDER-TOP: #204a87 5px solid;
	background-color: #204a87;


}



