Source: sourceforge
Section: non-US
Priority: optional
Maintainer: Roland Mas <lolando@debian.org>
Build-Depends: debhelper (>= 3.0), sharutils, docbook-to-man
Standards-Version: 3.5.2.0

Package: sourceforge
Architecture: any
Depends: apache (>= 1.3.9), php4, php4-pgsql, php4-gd, php4-cgi, libapache-mod-ssl | apache-ssl, postgresql (>= 7.1.2), perl, libdbi-perl, libdbd-pg-perl, debianutils (>= 1.7), debconf (>= 0.2.26), ssh, libnss-ldap, bind9, slapd, ldap-utils, exim | mail-transport-agent, libpam-ldap
Recommends: proftpd, cvs, cvsweb
Description: Integrated development project framework
 This package provides many services a development project can use,
 such as bug-tracking, task management, mailing-lists, CVS repository,
 forums, support request helper, webpage / FTP hosting, release
 management, etc.  All these services are integrated into one web site.
 They are managed via a nice web interface.
