#- beginning of included section from common-variables.config
db_get @PACKAGE@/shared/domain_name || true
if [ -z "$RET" ] ; then
   hostname=$(hostname -f 2>/dev/null) || hostname=localhost
   db_set @PACKAGE@/shared/domain_name $hostname
fi
db_input medium @PACKAGE@/shared/domain_name || true
db_go || true

db_get @PACKAGE@/shared/server_admin || true
if [ -z "$RET" ] ; then
  db_get @PACKAGE@/shared/domain_name || true
  db_set @PACKAGE@/shared/server_admin "webmaster@$RET"
fi

db_input medium @PACKAGE@/shared/server_admin || true
db_input low @PACKAGE@/shared/system_name || true

db_go || true

vars="system_name domain_name server_admin"
update_mainconffile $vars
#- end of included section from common-variables.config
