#- beginning of included section from dbhost-variables.config
db_fget @PACKAGE@/shared/db_host seen || true
[ "$RET" = "false" ] && db_set @PACKAGE@/shared/db_host 127.0.0.1
db_input medium @PACKAGE@/shared/db_host || true

db_fget @PACKAGE@/shared/db_name seen || true
db_input medium @PACKAGE@/shared/db_name || true

db_fget @PACKAGE@/shared/db_user seen || true
db_input medium @PACKAGE@/shared/db_user || true

db_go || true

vars="db_host db_name db_user"
update_mainconffile $vars
#- end of included section from dbhost-variables.config
