#- beginning of included section from dbpasswd-variables.config
db_fget @PACKAGE@/shared/db_password seen || true
if [ "$RET" = "false" ]; then
    db_set @PACKAGE@/shared/db_password $(gen_random_pw)
    db_get @PACKAGE@/shared/db_password || true
    echo "Since you asked not to see all the debconf questions, I generated a random"
    echo "password for the database.  Use it if you want to have a peek at the"
    echo "database by hand.  It is '${RET}'." ;
    db_fset @PACKAGE@/shared/db_password seen true
fi

db_go || true

vars="db_password"
update_mainconffile $vars
#- end of included section from dbpasswd-variables.config
