#- beginning of included section from dbpasswd-variables.config
db_fget @PACKAGE@/shared/db_password seen || true
if [ "$RET" = "false" ]; then
    pw=$(gen_random_pw)
    if [ -e /etc/gforge/config.ini.d/debian-install-secrets.ini ]; then
        pw=$(grep '^database_password=' /etc/gforge/config.ini.d/debian-install-secrets.ini | sed 's/database_password=//')
        echo "Since you asked not to see all the debconf questions, I reused the" 
	echo "password for the database that was already set in "
	echo "/etc/gforge/config.ini.d/debian-install-secrets.ini."
	echo "Use it if you want to have a peek at the database by hand."
    else
        echo "Since you asked not to see all the debconf questions, I generated a random"
	echo "password for the database.  Use it if you want to have a peek at the"
	echo "database by hand.  It is '$pw'."
    fi    
    db_set @PACKAGE@/shared/db_password $pw
    db_get @PACKAGE@/shared/db_password || true
    db_fset @PACKAGE@/shared/db_password seen true
fi

db_go || true

vars="db_password"
update_mainconffile $vars
#- end of included section from dbpasswd-variables.config
