#- beginning of included section from downloadhost-variables.config
db_fget @PACKAGE@/shared/download_host seen || true
if [ "$RET" = "false" ] ; then
    db_get @PACKAGE@/shared/domain_name
    db_set @PACKAGE@/shared/download_host download.$RET
fi

db_input low @PACKAGE@/shared/download_host || true
db_go || true

vars="download_host"
update_mainconffile $vars
#- end of included section from downloadhost-variables.config
