#- beginning of included section from groupid-variables.config
db_input low @PACKAGE@/shared/newsadmin_groupid || true
db_input low @PACKAGE@/shared/statsadmin_groupid || true
db_input low @PACKAGE@/shared/peerrating_groupid || true

db_go || true

vars="newsadmin_groupid statsadmin_groupid peerrating_groupid"
update_mainconffile $vars
#- end of included section from groupid-variables.config
