#- beginning of included section from host-variables.config
db_fget @PACKAGE@/shared/ip_address seen || true
if [ "$RET" = "false" ] ; then
    db_get @PACKAGE@/shared/domain_name
    db_set @PACKAGE@/shared/ip_address $(hostname -i | cut -f1 -d" ")
fi

db_input medium @PACKAGE@/shared/ip_address || true
db_input medium @PACKAGE@/shared/server_admin || true
db_go || true


vars="ip_address server_admin"
update_mainconffile $vars
#- end of included section from host-variables.config
