#- beginning of included section from lists-variables.config
db_fget @PACKAGE@/shared/lists_host seen || true
if [ "$RET" = "false" ] ; then
    db_get @PACKAGE@/shared/domain_name
    db_set @PACKAGE@/shared/lists_host lists.$RET
fi

db_input medium @PACKAGE@/shared/lists_host || true

db_go || true

vars="lists_host"
update_mainconffile $vars
#- end of included section from lists-variables.config
