#- beginning of included section from shellhost-variables.config
db_fget @PACKAGE@/shared/shell_host seen || true
if [ "$RET" = "false" ] ; then
    db_get @PACKAGE@/shared/domain_name
    db_set @PACKAGE@/shared/shell_host shell.$RET
fi

db_input low @PACKAGE@/shared/shell_host || true
db_go || true

vars="shell_host"
update_mainconffile $vars
#- end of included section from shellhost-variables.config
