#- beginning of included section from users-variables.config
db_fget @PACKAGE@/shared/users_host seen || true
if [ "$RET" = "false" ] ; then
    db_get @PACKAGE@/shared/domain_name
    db_set @PACKAGE@/shared/users_host users.$RET
fi

db_input medium @PACKAGE@/shared/users_host || true

db_go || true

vars="users_host"
update_mainconffile $vars
#- end of included section from users-variables.config
