Source: gforge-plugin-eirc
Section: devel
Priority: optional
Maintainer: Roland Mas <lolando@debian.org>
Build-Depends-Indep: debhelper (>> 4.0.0)
Standards-Version: 3.5.8

Package: gforge-plugin-eirc
Architecture: all
Depends: gforge-common, gforge-db-postgresql | gforge-db, gforge-web-apache | gforge-web
Description: The EIRC World plugin for Sourceforge
 This is a plugin allowing to connect irc groups by project based on
 EIRC Java applet
