Source: fusionforge-plugin-forumml
Section: devel
Priority: optional
Maintainer: Christian Bayle <bayle@debian.org>
Uploaders: Roland Mas <lolando@debian.org>
Build-Depends-Indep: devscripts
Build-Depends: debhelper (>= 7), perl, gettext
Standards-Version: 3.8.4
Homepage: http://fusionforge.org/
Vcs-Bzr: http://scm.fusionforge.org/bzr/fusionforge/svn-trunk-ro/

Package: fusionforge-plugin-forumml
Architecture: all
Depends: gforge-common, gforge-db-postgresql | gforge-db, gforge-web-apache2 | gforge-web, php5-cli, php-mail, php-mail-mime, php-mail-mbox, php-mail-mimedecode, ${misc:Depends}
Description: collaborative development tool - ForumML plugin
 .
 This plugin contains the ForumML subsystem of FusionForge. It allows each
 FusionForge project to have its own ForumML, and gives some
 control over it to the project's administrator.

