<table width="100%" cellpadding="0" cellspacing="0">
<tr>
<td nowrap="nowrap" valign="top">
<br/>
<br/>
<span id="actionbuttons">
<span class="wikiaction"><strong>Wiki Menu</strong></span>
</span>
<br />
<div class="wikiaction">
<table
<?= Template('navbar') ?>
</table>
</div>
</td>
<td>&nbsp;</td>
<td valign="top">
<?php
global $HIDE_TOOLBARS;
if (!$HIDE_TOOLBARS) {
?>
<div class="toolpalettes">
<div class="toolbar">
<?= Template('actionbar') ?>
</div>
</div>
<?php } ?>
<div id="content">
<h1><?= $HEADER ?></h1>
<br />
<?= $CONTENT ?>
</div>
</td>
</tr>
</table>
<?= Template('bottom') ?>
