<?php  // -*-html-*-
  rcs_id('$Id: head.tmpl 6189 2008-08-22 13:18:48Z vargenau $');
?>
<head>
<?php if (ENABLE_XHTML_XML and strstr($request->get('HTTP_ACCEPT'),'application/xhtml+xml')) { ?>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=<?=$charset?>" />
<?php } else { ?>
<meta http-equiv="Content-Type" content="text/html; charset=<?=$charset?>" />
<?php } ?>
<meta http-equiv="content-language" content="<?=$GLOBALS['LANG']?>" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<?php $ROBOTS_CONTENT = isset($ROBOTS_META) ? $ROBOTS_META : "noindex,nofollow"; ?>
<meta name="robots" content="<?= $ROBOTS_CONTENT ?>" />
<?php if (!empty($PAGE_DESCRIPTION)) { ?>
<meta name="description" content="<?=$PAGE_DESCRIPTION?>" />
<?php } ?>
<?php if (!empty($PAGE_KEYWORDS)) { ?>
<meta name="keywords" content="<?=$PAGE_KEYWORDS?>" />
<?php } ?>
<meta name="language" content="<?=$GLOBALS['LANG']?>" />
<meta name="document-type" content="Public" />
<meta name="document-rating" content="General" />
<meta name="generator" content="PhpWiki" />
<meta name="PHPWIKI_VERSION" content="<?=PHPWIKI_VERSION?>" />
<base href="<?=PHPWIKI_BASE_URL?>" />
<link rel="shortcut icon" href="<?=$WikiTheme->getImageURL('favicon.ico')?>" />
<?php /**
       * Additional navigation links are provided here in the html header for browsers
       * which support them: Mozilla, iCab, Amaya (and certain versions of Opera??).
       *
       * See http://www.w3.org/TR/html401/struct/links.html#edef-LINK
       *     http://www.euronet.nl/~tekelenb/WWW/LINK/index.html
       */ ?>
<?php /* The next few lines are wrapped in an odd manner to allow gettext string extraction: cd locale;make */ ?>
<link rel="home" title="<?=HOME_PAGE?>" href="<?=WikiURL(HOME_PAGE)?>" />
<link rel="help" title="<?=
_("HowToUseWiki")?>" href="<?=WikiURL(
_("HowToUseWiki"))?>" />
<link rel="copyright" title="<?=COPYRIGHTPAGE_TITLE?>" href="<?=COPYRIGHTPAGE_URL?>" />
<link rel="author" title="<?=AUTHORPAGE_TITLE?>" href="<?=AUTHORPAGE_URL?>" />
<link rel="search" title="<?=
_("FindPage")?>" href="<?=WikiURL(
_("FindPage"))?>" />
<?php /**
       * Provide alternate variations of the page content:
       * 'viewsource' and 'browse'.
       * Translated pages could go here too.
       */
      if (!empty($revision)) {
          $args = $request->getargs();
          $action = $args['action'];
          if (!($action == "viewsource")) {
            $alternatelinkTitle = fmt("%s: %s", _("View Source"), $page->getName());
            $alternatelinkUrl = WikiURL($revision, array('action' => 'viewsource'));
          }
          if (!($action == "browse")) {
            $alternatelinkTitle = $page->getName();
            $alternatelinkUrl = WikiURL($revision, array('action' => 'browse'));
          } ?>
<link rel="alternate" title="<?= $alternatelinkTitle ?>" href="<?= $alternatelinkUrl ?>" />
<?php }
      /**
       * Link tag for RSS auto-discovery.  See
       * http://diveintomark.org/archives/2002/05/30.html#rss_autodiscovery
       * http://www.oreillynet.com/cs/weblog/view/wlg/1475
       */
?>
<link rel="alternate" type="application/rss+xml" title="RSS" href="<?=WikiURL(
_("RecentChanges"), array('format' => 'rss'))?>" />
<?php /**
       * Add some user-specific links.
       */ ?>
<?php if (!$user->isSignedIn()) {
      /* For users not signed in */ ?>
<link rel="bookmark" title="<?=
_("SandBox")?>" href="<?=WikiURL(
_("SandBox"))?>" />
<link rel="bookmark" title="<?=
_("WikiWikiWeb")?>" href="<?=WikiURL(
_("WikiWikiWeb"))?>" />
<?php } ?>

<?php if ($user->isAdmin()) {
      /* Only for the Administrator */ ?>
<link rel="bookmark" title="<?=
_("PhpWikiAdministration")?>" href="<?=WikiURL(
_("PhpWikiAdministration"))?>" />
<?php } ?>
<?php if ($user->isSignedIn()) {
      /* For signed-in users */ ?>
<link rel="bookmark" title="<?=
_("UserPreferences")?>" href="<?=WikiURL(
_("UserPreferences"))?>" />
<?php /* User's calendar page
       */
      $UserCalPageTitle = $user->getId() . SUBPAGE_SEPARATOR ._("Calendar");
      $UserCalPageUrl = WikiURL($UserCalPageTitle);
      ?>
<link rel="bookmark" title="<?= $UserCalPageTitle ?>" href="<?= $UserCalPageUrl ?>" />
<?php /* Today's calendar page for the user if it exists
       */
      $UserCalPageTodayTitle = $UserCalPageTitle . SUBPAGE_SEPARATOR . strftime("%Y-%m-%d", time()); //FIXME
      $dbi = $request->getDbh();
      if ($dbi->isWikiPage($UserCalPageTodayTitle)) {
          $UserCalPageTodayUrl = WikiURL($UserCalPageTodayTitle);
          ?>
<link rel="bookmark" title="<?= $UserCalPageTodayTitle ?>" href="<?= $UserCalPageTodayUrl ?>" />
<?php } ?>
<?php } //end of links for signed-in user ?>
<?= $WikiTheme->getCSS() ?><?php
  // avoid redundant bookmark title for custom home page
  if ($page->getName() == WIKI_NAME && HOME_PAGE == WIKI_NAME)
      $pagetitle = "";
  else
      $pagetitle = " - ". AsString($TITLE);
?>
<title><?= WIKI_NAME.$pagetitle ?></title>
<?= $WikiTheme->getMoreHeaders() ?>
</head>
