<?php  // -*-html-*-
rcs_id('$Id: html.tmpl 6189 2008-08-22 13:18:48Z vargenau $');
/*
 * No header for Gforge (already provided)
 *
 */
?>
<?php $WikiTheme->header() ?>
<?= $WikiTheme->getMoreHeaders() ?>
<?= Template('body') ?>
<?php $WikiTheme->footer() ?>
<?php 
if (defined('DEBUG') and DEBUG) {
    echo "<!-- phpwiki source: \n";
    echo $RCS_IDS;
    echo "-->\n";
}
?>