<?php // -*-php-*-
// rcs_id('$Id: html.tmpl 7589 2010-07-02 07:31:33Z vargenau $');
?>
<?php
/*
 * No header for Gforge (already provided)
 */
?>
<?php $WikiTheme->header() ?>
<?php echo $WikiTheme->getMoreHeaders() ?>
<?php echo Template('body') ?>
<?php $WikiTheme->footer() ?>
