#!/bin/sh -e

# Source debconf library.
. /usr/share/debconf/confmodule

gen_random_pw () {		# Generate a random password
    if [ -c /dev/urandom ]; then  # ...using /dev/urandom when possible
	tmp=$(dd if=/dev/urandom count=1 bs=8 2> /dev/null | md5sum | cut -b1-8)
    else			# ...or something else if need be.
	# Last I was told, the Hurd had no /dev/urandom
	# (Correct me if it has changed)
	# Suggestions form something more random than $(date) are welcome
	tmp=$(date | md5sum | cut -b1-8)
    fi
    echo $tmp
}

get_pw () {			# Use Debconf to get a password
    get_pw__pwname=$1
    get_pw__priority=$2
    get_pw__ok=''
    while [ -z "$get_pw__ok" ] ; do
	db_input ${get_pw__priority} ${get_pw__pwname} || get_pw__retcode=$? || true
	db_input ${get_pw__priority} ${get_pw__pwname}_confirm || true
	db_go
	if [ "$get_pw__retcode" = 30 ] ; then
	    get_pw__ok="not-asked"
	else
	    db_get ${get_pw__pwname} || true
	    get_pw__PW1=$RET
	    db_get ${get_pw__pwname}_confirm || true
	    get_pw__PW2=$RET
	    if [ "$get_pw__PW1" = "$get_pw__PW2" ] ; then
		get_pw__ok="confirmed"
	    else
		get_pw__ok="mismatch"
		db_fset ${get_pw__pwname} seen false
		db_fset ${get_pw__pwname}_confirm seen false
	    fi
	fi
    done
    case $get_pw__ok in
	not-asked)
	    echo "not-asked"
	;;
	confirmed)
	    echo "confirmed"
	;;
	*)
	    echo "SHOULDN'T HAVE HAPPENED"
	    exit 1
	;;
    esac
}

db_fget @PACKAGE@/shared/admin_password seen || true
if [ "$RET" = "false" ]; then
    if [ "$(get_pw @PACKAGE@/shared/admin_password high)" = "not-asked" ] ; then
	db_set @PACKAGE@/shared/admin_password $(gen_random_pw)
	db_get @PACKAGE@/shared/admin_password || true
	echo "Since you asked not to see all the debconf questions, I generated a random"
	echo "password for the admin user.  It is '${RET}'." ;
	db_fset @PACKAGE@/shared/admin_password seen true
    fi
fi

db_go || true
db_stop
