<?php // -*-html-*- ?>
<!-- $Id: navbar.tmpl,v 1.2 2004/06/14 11:26:49 rurban Exp $ -->
<?php
// With MonoBook it is similar to Sidebar, named boxes at the left.
// navigation, search, toolbox
?>
<!-- The left navigation/search bar -->
<div class="portlet" id="p-nav">
  <h5>Navigation</h5>
  <div class="pBody">
    <ul>
      <li id="n-mainpage"><?= WikiLink(HOME_PAGE) ?></li>
      <li id="t-recentchanges"><?= WikiLink(_("RecentChanges")) ?></li>
      <li id="t-recentcomments"><?= WikiLink(_("RecentComments")) ?></li>
      <li id="n-randompage"><?= WikiLink(_("RandomPage")) ?></li>
      <li id="n-help"><a href="http://www.phpwiki.org/PhpWikiDocumentation">Help</a></li>
    </ul>
  </div>
</div>
<div id="p-search" class="portlet">
  <h5>Search</h5>
  <div class="pBody">
    <form action="<?= WikiURL(_("TitleSearch"))?>"
      method="get" accept-charset="<?=$charset?>">
      <?= WikiLink(_("FindPage"), "searchButton","Search:") ?>
      <input type="hidden" name="auto_redirect" value="1" />
      <input type="text"  name="s" size="12" maxlength="256"
	      title='<?=_("Quick Search")?>'
	      onmouseover="window.status='<?=_("Quick Search")?>'; return true;"
	      onmouseout="window.status=''; return true;" />
    </form>
  </div>
</div>
<div class="portlet" id="p-tb">
  <h5>Toolbox</h5>
  <div class="pBody">
    <ul>
      <?php if (!empty($revision)) { ?>
      <li id="t-whatlinkshere"><?= Button(array('action'=>'LikePages'),_("Like Pages"), $page->getName()) ?></li>
      <li id="t-whatlinkshere"><?= Button(array('action'=>'BackLinks'), _("What links here"), $page->getName()) ?></li>
      <?php } ?>
      <?php $links = $page->getPageLinks(); if ($links->count() > 1) { ?>
    <li id="t-recentchangeslinked"><?= $WikiTheme->makeLinkButton($revision,_("RelatedChanges"),_("RelatedChanges")) ?></li>
    <?php } ?> 
    <?php if (!empty($user) && $user->isAdmin()) { ?>
    <li><?= WikiLink(_("PhpWikiAdministration"), "","Administration") ?></li>
    <?php } ?>
    <?php if (!empty($user) && $user->isSignedIn()) { ?>
    <li><?= WikiLink(_("UserPreferences"), "","Preferences") ?></li>
    <?php } ?>
  </ul>
  </div>
</div>
<!-- end of the left (by default at least) column -->

