<?php // -*-php-*-
// $Id: bottom.tmpl 7956 2011-03-03 17:08:31Z vargenau $
?>
<!--span id="bottom" style="margin-left: 25px"-->
<!-- Add your Disclaimer here -->
<?php if (!$WikiTheme->DUMP_MODE) { ?>
<?php echo $GLOBALS['ErrorManager']->getPostponedErrorsAsHTML() ?>
<?php if (DEBUG & _DEBUG_VERBOSE) { ?><?php echo Template('debug') ?><?php } ?>
<?php } ?>
<!--/span-->
