<?php // -*-php-*-
// $Id: viewsource.tmpl 7956 2011-03-03 17:08:31Z vargenau $
?>
<?php 
if (empty($revision)) $revision = $page->getCurrentRevision(false);
if ($page->get('locked') && !$user->isAdmin()) { ?>
  <p class="warning_msg"><strong><?php echo _("Note:")?></strong>
  <?php echo _("This page has been locked and cannot be edited.")?>
  </p>
<?php } ?>
<?php if (! $revision->isCurrent()) { ?>
  <p class="warning_msg"><?php echo _("You are viewing an old revision of this page.")?>
  <?php echo Button('edit', _("View the current version."), $page) ?>
  </p>
<?php } ?>
<br class="clear-floats" />
<textarea class="wikiedit"
          name="content" 
          rows="<?php echo $request->getPref('editHeight')?>"
          cols="<?php echo $request->getPref('editWidth')?>"
          readonly="readonly"
><?php echo $PAGE_SOURCE ?></textarea>
