<?php if (!$WikiTheme->DUMP_MODE) { ?>
<?php if (defined('DEBUG') and DEBUG) { ?>
<?php echo empty($WARNINGS) ? '' : $WARNINGS ?>
<?php echo $GLOBALS['ErrorManager']->getPostponedErrorsAsHTML() ?>
<?php echo Template('debug') ?>
<?php } ?>
<?php } ?>

<link rel="stylesheet" type="text/css" href="/wiki/highlight.js/styles/github.css"/>
<script type="text/javascript" src="/wiki/highlight.js/highlight.pack.js"></script>
<script>
	hljs.tabReplace = '    ';
	hljs.initHighlightingOnLoad();
</script>
