<?php if (!$WikiTheme->DUMP_MODE) { ?>
<?php if (defined('DEBUG') and DEBUG) { ?>
<?php echo empty($WARNINGS) ? '' : $WARNINGS ?>
<?php echo $GLOBALS['ErrorManager']->getPostponedErrorsAsHTML() ?>
<?php echo Template('debug') ?>
<?php } ?>
<?php } ?>
