<?php // -*-php-*-
// rcs_id('$Id: bottom.tmpl 7660 2010-08-31 15:03:30Z vargenau $');
?>
<?php if (!$WikiTheme->DUMP_MODE) { ?>
<?php if (defined('DEBUG') and DEBUG) { ?>
<?php echo empty($WARNINGS) ? '' : $WARNINGS ?>
<?php echo $GLOBALS['ErrorManager']->getPostponedErrorsAsHTML() ?>
<?php echo Template('debug') ?>
<?php } ?>
<?php } ?>
