<?php // -*-php-*-
// rcs_id('$Id: browse-footer.tmpl 7589 2010-07-02 07:31:33Z vargenau $');
?>
<p class="editdate"><?php echo $WikiTheme->getOwnerMessage($page) ?>  <?php echo $WikiTheme->getLastModifiedMessage($revision) ?> <?php echo $WikiTheme->getAuthorMessage($revision) ?></p>
