<?php // -*-php-*-
// rcs_id('$Id: browse-footer.tmpl 7660 2010-08-31 15:03:30Z vargenau $');
?>
<p class="editdate"><?php echo $WikiTheme->getOwnerMessage($page) ?>  <?php echo $WikiTheme->getLastModifiedMessage($revision) ?> <?php echo $WikiTheme->getAuthorMessage($revision) ?></p>
