<?php // -*-php-*-
// $Id: browse-footer.tmpl 7720 2010-10-22 18:38:33Z vargenau $
?>
<p class="editdate"><?php echo $WikiTheme->getOwnerMessage($page) ?>  <?php echo $WikiTheme->getLastModifiedMessage($revision) ?> <?php echo $WikiTheme->getAuthorMessage($revision) ?></p>
