<?php // -*-php-*-
// $Id: html.tmpl 7720 2010-10-22 18:38:33Z vargenau $
/*
 * No header for FusionForge (already provided)
 */
?>
<?php $WikiTheme->header() ?>
<?php echo $WikiTheme->getMoreHeaders() ?>
<?php echo Template('body') ?>
<?php $WikiTheme->footer() ?>
