<?php // -*-php-*-
// rcs_id('$Id: html.tmpl 7666 2010-08-31 16:02:45Z vargenau $');
?>
<?php
/*
 * No header for FusionForge (already provided)
 */
?>
<?php $WikiTheme->header() ?>
<?php echo $WikiTheme->getMoreHeaders() ?>
<?php echo Template('body') ?>
<?php $WikiTheme->footer() ?>
