<?php // -*-php-*-
// rcs_id('$Id: pagelink.tmpl 7589 2010-07-02 07:31:33Z vargenau $');
?>
<?php
/**
 * Themable paging "|<< <<   - i/sum - >> >>|" links
 *
 * Variables: PREV, NEXT, PREV_LINK, NEXT_LINK,
 * COUNT, OFFSET, SIZE
 * More ideas: FIRST, LAST, ...
 */
if ($WikiTheme->DUMP_MODE) {
  $PREV = false;
  $NEXT = false;
}
?>
<tr><td width="100%" colspan="<?php echo $COLS ?>">&nbsp;</td></tr>
<tr><td width="100%" colspan="<?php echo $COLS ?>"><table style="border-width: 1px; border-style: solid; border-color: black; font-weight: bold;" width="100%"><tr class="wikipaging">
  <td class="wikipaging<?php echo $PREV ? "-enabled" : "-disabled" ?>" align="left">
      <?php echo $PREV ?  HTML::a(array('href'=>$FIRST_LINK),_("|<<")) : _("|<<") ?>
      &nbsp;
      <?php echo $PREV ?  HTML::a(array('href'=>$PREV_LINK),_("<< Prev")) : _("<<") ?>
  </td>
  <td class="wikipaging-enabled" align="center">
      <?php echo fmt(" - %d / %d - ", $ACTPAGE, $NUMPAGES) ?>
  </td>
  <td class="wikipaging<?php echo $NEXT ? "-enabled" : "-disabled" ?>" align="right">
      <?php echo $NEXT ?  HTML::a(array('href'=>$NEXT_LINK),_("Next >>"))  : _(">>") ?> 
      &nbsp;
      <?php echo $NEXT ?  HTML::a(array('href'=>$LAST_LINK),_(">>|")) : _(">>|") ?>
  </td>
</tr></table></td></tr>
<tr><td width="100%" colspan="<?php echo $COLS ?>">&nbsp;</td></tr>
