<?php // -*-php-*-
// rcs_id('$Id: ratings.tmpl 7660 2010-08-31 15:03:30Z vargenau $');
?>
<?php if (!$WikiTheme->DUMP_MODE) {
  $loader = new WikiPluginLoader();
  printXML($loader->expandPI("<"."?plugin RateIt show=top imgPrefix=BStar ?".">", $request, $dbi->_markup));
} ?>
