[Desktop Entry]
Encoding=UTF-8
Name=Build + inst
Exec=sh -c "/usr/src/fusionforge/tools/VM-scripts/build.sh ; /usr/src/fusionforge/tools/VM-scripts/install.sh ; echo Press Enter... ; read i"
Terminal=true
Type=Application
