[Desktop Entry]
Encoding=UTF-8
Name=Build + inst
Exec=sh -c "/root/fusionforge/tools/VM-scripts/build.sh ; /root/fusionforge/tools/VM-scripts/install.sh ; echo Press Enter... ; read i"
Terminal=true
Type=Application
