[Desktop Entry]
Encoding=UTF-8
Name=README
Type=Link
URL=https://fusionforge.org/plugins/mediawiki/wiki/fusionforge/index.php/Virtual_machine_development_environment
Icon=text-html
