<?php // -*-php-*-
// rcs_id('$Id: actionbar.tmpl 7589 2010-07-02 07:31:33Z vargenau $');
?>
<table summary="Toolbar: Mani Navigation"
       width="100%" cellpadding="0" cellspacing="0" border="0">
<tr valign="baseline">
  <td>
  <div class="actionbuttons">
    <?php echo WikiLink(HOME_PAGE, "known",_("Home")) ?>
    <?php echo $SEP?><?php echo WikiLink(_("About")) ?>
    <?php echo $SEP?><?php echo WikiLink(_("BlogArchives"),'',_("Archives")) ?>
    <?php echo $SEP?><?php echo WikiLink(_("PhotoAlbum")) ?>
    <?php echo $SEP?><?php echo WikiLink(_("HowTo")) ?>
    <?php echo $SEP?><?php echo WikiLink(_("RecentChanges")) ?>
    <?php echo $SEP?><?php echo Button("PageInfo", _("Info")) ?>
<?php 
if ($user->isAuthenticated()) {
    if (mayAccessPage('edit', $page->getName()))
        $EditB = Button("edit",_("Edit"),false,array('id'=>'btn-edit'));
    else
        $EditB = Button("viewsource", _("View Source")); 
?>
    <?php echo $SEP?><?php echo $EditB ?>
    <?php } ?>
  </div>
  </td>
  <td>
    <?php echo Template("search") ?>
  </td>
</tr>
</table>
