<!-- Add your Disclaimer here -->
<?php if (!$WikiTheme->DUMP_MODE) { ?>
<?php echo $GLOBALS['ErrorManager']->getPostponedErrorsAsHTML() ?>
<?php if (DEBUG & _DEBUG_VERBOSE) { ?><?php echo Template('debug') ?><?php } ?>
<?php } ?>
<!--/span-->
<script type="text/javascript" src="<?php echo DATA_PATH ?>/themes/default/highlight.js/highlight.pack.js"></script>
<script>
    hljs.tabReplace = '    ';
    hljs.initHighlightingOnLoad();
</script>
<script>
jQuery(document).ready(function()
    {
        jQuery(".sortable").tablesorter();
    }
);
</script>
