<?php // -*-php-*-
// rcs_id('$Id: debug.tmpl 7589 2010-07-02 07:31:33Z vargenau $');
?>
<?php global $RUNTIMER; ?>
<p align="center" id="xhtml-validator"><a href="http://validator.w3.org/check/referer">Valid XHTML 1.0</a>  <a href="http://jigsaw.w3.org/css-validator/check/referer">Valid CSS!</a>
<span class="debug"><?php echo fmt("Page Execution took %s seconds", $RUNTIMER->getStats())?></span>
</p>
