<nav role="navigation" aria-label="<?php echo _("Main Menu") ?>">
<?php // Additional sidebar navigation ?>
<div class="box">
<div class="box-title">
  <?php echo _("Navigation") ?>
</div>
<div class="box-data">
<ul>
<?php if (!empty($revision)) { ?>
<li><?php echo WikiLink(__("BackLinks"), "button",_("BackLinks")) ?></li>
<?php } ?>
<?php if (!empty($user) && $user->isAdmin()) { ?>
<li><?php echo WikiLink(__("PhpWikiAdministration"), "button", _("Admin")) ?></li>
<?php } ?>
<?php if (!empty($user) && $user->isSignedIn()) { ?>
<li><?php echo WikiLink(__("UserPreferences"), "", _("Preferences")) ?></li>
<?php } ?>
</ul>
<?php echo Template("blog/signin") ?>
</div>
</div>
</nav>
