<?php // -*-html-*-
rcs_id('$Id: top.tmpl 6204 2008-08-26 15:12:03Z vargenau $');
?>
<div id="header">
<?php if ( $request->getArg('action') == 'browse' ) { ?>
<div id="yoursiteheader">
<!-- Insert Flash or Logo here -->
<a href=""><?= WIKI_NAME ?></a>
</div>
<?php } ?>
</div>
<?php if (empty($GLOBALS['HIDE_TOOLBARS'])) { ?>
<div id="actionbar">
<?= Template('actionbar') ?>
</div>
<div id="pagetrail"><p><?=_("Page Trail")?>: <?plugin PageTrail numberlinks=7 ?></p></div>
<?php } ?>

