patch_apache_propose () {
	for flavour in $* ; do
		[ -e /etc/php4/$flavour/php.ini ] && propose_update_install /etc/php4/$flavour/php.ini || true
		[ -e /etc/php5/$flavour/php.ini ] && propose_update_install /etc/php5/$flavour/php.ini || true
	done
	[ -e /etc/php4/cgi/php.ini ] && propose_update_install /etc/php4/cgi/php.ini || true
	[ -e /etc/php5/cgi/php.ini ] && propose_update_install /etc/php5/cgi/php.ini || true
}
