<?php // -*-php-*-
  rcs_id('$Id: actionbar.tmpl 6204 2008-08-26 15:12:03Z vargenau $');
?>
<table summary="Toolbar: Mani Navigation"
       width="100%" cellpadding="0" cellspacing="0" border="0">
<tr valign="baseline">
  <td>
  <div class="actionbuttons">
    <?= WikiLink(HOME_PAGE, "known",_("Home")) ?>
    <?=$SEP?><?= WikiLink(_("About")) ?>
    <?=$SEP?><?= WikiLink(_("BlogArchives"),'',_("Archives")) ?>
    <?=$SEP?><?= WikiLink(_("PhotoAlbum")) ?>
    <?=$SEP?><?= WikiLink(_("HowTo")) ?>
    <?=$SEP?><?= WikiLink(_("RecentChanges")) ?>
    <?=$SEP?><?= Button("PageInfo", _("Info")) ?>
<?php 
if ($user->isAuthenticated()) {
    if (mayAccessPage('edit', $page->getName()))
        $EditB = Button("edit",_("Edit"),false,array('id'=>'btn-edit'));
    else
        $EditB = Button("viewsource", _("View Source")); 
?>
    <?= $SEP?><?= $EditB ?>
    <?php } ?>
  </div>
  </td>
  <td>
    <?= Template("search") ?>
  </td>
</tr>
</table>
