<?php // -*-html-*-
  rcs_id('$Id: bottom.tmpl 6204 2008-08-26 15:12:03Z vargenau $');
?>
<!--span id="bottom" style="margin-left: 25px"-->
<!-- Add your Disclaimer here -->
<?php if (!$WikiTheme->DUMP_MODE) { ?>
<?= $GLOBALS['ErrorManager']->getPostponedErrorsAsHTML() ?>
<?php if (DEBUG & _DEBUG_VERBOSE) { ?><?= Template('debug') ?><?php } ?>
<?php } ?>
<!--/span-->
