<?php // -*-php-*-
// $Id: frameset.tmpl 7956 2011-03-03 17:08:31Z vargenau $

/*
 * This template is used for the FrameInclude plugin.
 */

$topurl = $request->getURLtoSelf(array('frame' => 'header'));
$boturl = $request->getURLtoSelf(array('frame' => 'footer'));
$lefturl = $request->getURLtoSelf(array('frame' => 'left'));

printf("<?xml version=\"1.0\" encoding=\"%s\"?>\n", CHARSET);
?>
<!DOCTYPE html   PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<?php echo Template('head') ?>

<frameset rows="<?php echo $ROWS?>">
  <frame name="header" src="<?php echo $topurl?>" <?php echo $FRAMEARGS ?> />
  <frameset cols="<?php echo $COLS?>">
    <frame name="left" src="<?php echo $lefturl?>" <?php echo $FRAMEARGS ?> />
    <?php echo $CONTENT_FRAME ?>
  </frameset>
  <frame name="footer" src="<?php echo $boturl?>" <?php echo $FRAMEARGS ?> />
  <noframes><?php echo Template('body') ?></noframes>
</frameset>
</html>
