<?php  // -*-php-*-
// $Id: html.tmpl 7827 2011-01-13 13:55:52Z vargenau $
/*
 * This template is responsible mainly for the outer level <html> stuff.
 */
echo "<","?xml version=\"1.0\" encoding=\"", $charset, "\"?", ">\n";
?><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html <?php /* xmlns="http://www.w3.org/1999/xhtml" */ ?> xml:lang="<?php echo $GLOBALS['LANG']?>" lang="<?php echo $GLOBALS['LANG']?>">
<?php echo Template('head') ?>
<?php echo Template('body') ?>
</html>
