<?php // -*-php-*- ?>
<!-- $Id: actionbar.tmpl 6204 2008-08-26 15:12:03Z vargenau $ -->
<?php
  if ($revision and (!$page->get('locked') || $user->isAdmin()))
      $EditB = Button("edit",
                      $revision->isCurrent() ? _("EditText") : _("Edit Old Revision"));
  else
      $EditB = Button("viewsource", _("View Source"));
  $EditB = fmt("%s of this page", $EditB);
  if (empty($revision)) $revision = $page->getCurrentRevision(false);
?>
<?= $EditB ?> 
<a href="<?=WikiURL($revision,array('action'=>'diff'))?>"><?= $WikiTheme->getLastModifiedMessage($revision) ?></a>
    <?=$SEP?><?= Button("PageHistory", _("PageHistory")) ?>
    <?=$SEP?><?= Button("PageInfo", _("PageInfo")) ?>
<?php if (defined('DEBUG') && DEBUG || $user->isAdmin()) { ?>
    <?=$SEP?><?= Button("DebugInfo", _("DebugInfo")) ?> <!-- For debugging only, really -->
<?php } ?>
<br />
