<?php // -*-php-*-
// $Id: body.tmpl 7956 2011-03-03 17:08:31Z vargenau $
?>
<body<?php echo $WikiTheme->getMoreAttr('body') ?>>
<!-- Page title and logo -->
<h1><a class="wikilink"
       href="<?php echo WikiURL(HOME_PAGE)?>"
       ><img src="<?php echo $WikiTheme->getImageURL('logo')?>"
             border="0" alt="<?php echo fmt(_("%s: %s"), WIKI_NAME, HOME_PAGE) ?>"
             align="bottom" /></a> <?php echo $HEADER?></h1>
<?php echo $CONTENT ?>
<?php echo Template('navbar') ?>
<!-- RELATEDPAGES were here. -->

<?php echo $GLOBALS['ErrorManager']->getPostponedErrorsAsHTML() ?>

<?php if (defined('DEBUG') && DEBUG) { ?><?php echo Template('debug') ?><?php } ?>
</body>
