<?php // -*-php-*-
// $Id: browse.tmpl 8155 2011-10-03 12:33:36Z vargenau $
?>

<br class="clear-floats" />

<?php if ($revision and !$revision->isCurrent()) { ?>
  <p><strong><?php echo _("Note:")?></strong>
     <?php echo _("You are viewing an old revision of this page.")?>
     <?php echo WikiLink($page, 'existing', _("View the current version."))?></p>
  <hr class="ignore" />
<?php } ?>

<?php echo $CONTENT?>
<hr />
<?php echo Template('actionbar') ?>
<!-- The bottom navigation/search bar -->
