<?php // -*-php-*-
// rcs_id('$Id: top.tmpl 7589 2010-07-02 07:31:33Z vargenau $');
?>
<!-- The logo -->
<div id="logo"><a class="wikilink" 
    href="<?php echo WikiURL(HOME_PAGE)?>"
    ><img src="<?php echo $WikiTheme->getImageURL('logo')?>" id="logo-img"
      border="0" alt="<?php echo fmt(_("%s: %s"), WIKI_NAME, HOME_PAGE) ?>"
    align="right" /></a></div>
<!-- The top navigation/search bar -->
<div class="wikinavbar">
<a class="wikilink" href="<?php echo WikiURL(HOME_PAGE)?>">
<?php echo WIKI_NAME ?></a> - 
<!-- Wiki description here -->
<!-- Page title -->
<?php echo $HEADER ?>
<?php if (empty($GLOBALS['HIDE_TOOLBARS'])) { ?>
 - <form action="<?php echo WikiURL(_("TitleSearch"))?>"
      method="get" accept-charset="<?php echo $charset?>" style="display: inline">
   <a class="wikilink" href="<?php echo WikiURL(_("RecentChanges"))?>"><?php echo _("RecentChanges")?></a>
   - <a class="wikilink" href="<?php echo WikiURL(_("FindPage"))?>"><?php echo _("FindPage")?>:</a>
   <input type="hidden" name="auto_redirect" value="1" />
      <input type="text"  name="s" size="12" maxlength="256"
             title='<?php echo _("Quick Search")?>'
             onmouseover="window.status='<?php echo _("Quick Search")?>'; return true;"
             onmouseout="window.status=''; return true;" />
    <?php if (!empty($user) && $user->isSignedIn()) { ?>
     - <a class="wikilink" href="<?php echo WikiURL(_("UserPreferences"))?>"><?php echo _("Preferences")?>:</a>
    <?php } // isSignedIn ?>
  </form>
  <?php if (empty($NOSIGNIN)) { ?>
  <div class="signin"><?php echo Template('signin') ?></div>
  <?php } // $NOSIGNIN?>
</div>
<?php } // HIDE_TOOLBARS ?>
