<nav role="navigation" aria-label="<?php echo _("Main Menu") ?>">
<?php // The top navigation/search bar ?>
<form action="<?php echo WikiURL(_("TitleSearch"))?>"
      method="get" accept-charset="UTF-8">
  <div id="navbuttons">
   <?php echo WikiLink(__("RecentChanges"), "", _("News")) ?>
   <?php echo $SEP?><?php echo WikiLink(__("FindPage"), "", _("Search")._(":")) ?>
   <input type="hidden" name="auto_redirect" value="1" />
      <input type="text"  name="s" size="12" maxlength="256"
             title='<?php echo _("Quick Search")?>'
             onmouseover="window.status='<?php echo _("Quick Search")?>'; return true;"
             onmouseout="window.status=''; return true;" />
    <?php if (!empty($revision)) { ?>
     <?php echo $SEP?><?php echo Button(array('action'=>__("LikePages")), _("LikePages"), $page->getName()) ?>
     <?php echo $SEP?><?php echo Button(array('action'=>__("BackLinks")), _("BackLinks"), $page->getName()) ?>
    <?php } ?>
    <?php if (!empty($user) && $user->isAdmin()) { ?>
     <?php echo $SEP?><?php echo WikiLink(__("PhpWikiAdministration"), "", _("Admin")) ?>
    <?php } ?>
    <?php if (!empty($user) && $user->isSignedIn()) { ?>
     <?php echo $SEP?><?php echo WikiLink(__("UserPreferences"), "", _("Preferences")) ?>
    <?php } ?>
  </div>
</form>
</nav>
