<?php // -*-html-*- ?>
<!-- $Id: actionbar.tmpl,v 1.20 2004/06/14 11:26:50 rurban Exp $ -->
<?php
  $Sep = $WikiTheme->getButtonSeparator();

  if (!$page->get('locked') || $user->isAdmin())
      $EditB = Button("edit",
                      $revision->isCurrent() ? _("EditText") : _("Edit Old Revision"));
  else
      $EditB = Button("viewsource", _("View Source"));
  $EditB = fmt("%s of this page", $EditB);

?>

<?= $EditB ?> 
<a href="<?=WikiURL($revision,array('action'=>'diff'))?>"
   ><?= $WikiTheme->getLastModifiedMessage($revision) ?></a>
	<?=$Sep?><?= Button("PageHistory", _("PageHistory")) ?>
    <?=$Sep?><?= Button("PageInfo", _("PageInfo")) ?>
<?php if (defined('DEBUG') && DEBUG || $user->isAdmin()) { ?>
	<?=$Sep?><?= Button("DebugInfo", _("DebugInfo")) ?> <!-- For debugging only, really -->
<?php } ?>
<br />
