db_fget gforge/shared/ip_address seen || true
if [ "$RET" = "false" ] ; then
    db_get gforge/shared/domain_name
    db_set gforge/shared/ip_address $(hostname -i | cut -f1 -d" ")
fi

db_input medium gforge/shared/ip_address || true
db_input medium gforge/shared/server_admin || true
db_go || true


vars="ip_address server_admin"
update_mainconffile $vars
