Source: gforge-plugin-cvstracker
Section: devel
Priority: optional
Maintainer: Francisco Gimeno <kikov@kikov.org>
Build-Depends-Indep: debhelper (>> 4.0.0)
Standards-Version: 3.6.1

Package: gforge-plugin-cvstracker
Architecture: all
Depends: gforge-common, gforge-db-postgresql | gforge-db, gforge-web-apache | gforge-web, php4-cgi, gforge-plugin-scmcvs
Description: Plugin for Gforge that allowes linking CVS logs to Tracker and Tasks
 This is a plugin for Gforge that allowes linking CVS commit logs to 
 Tracker and Tasks 
