<?php // -*-php-*-
  rcs_id('$Id: actionbar.tmpl,v 1.10 2006/12/06 22:05:38 rurban Exp $');
  $dbh = $request->getDbh();
  $isAdmin = $user->isAdmin();
  $pagename = $page->getName();
  $isActionPage = $request->_isActionPage($pagename, false);
  $isBrowse = $request->getArg('action') == 'browse';
  $mayEdit = mayAccessPage('edit', $pagename);
  $mayChange = mayAccessPage('change', $pagename);
?>
<div class="portlet" id="p-cactions">
  <h5><?= _("Views") ?></h5>
  <ul>
    <?php if ($request->getArg('action') != "") { ?>
      <?= ActionButton("browse", _("View Page"), false, array('title' => _("View the page")." [alt-c]")) ?>
    <?php } else { ?>
      <li class="selected"><a class="named-wiki" name="browse"><?= _("View Page") ?></a></li>
    <?php } ?>
    <?php if (($isAdmin or $mayEdit) and $revision) { ?>
      <?= ActionButton("edit", $dbh->isWikiPage($page->getName()) ? ($revision->isCurrent() ? _("Edit") : _("Edit Old Revision")) : _("Create Page"), false, array('id' => 'btn-edit', 'title' => _("You can edit this page. Please use the preview button before saving.")." [alt-e]")) ?>
      <?php if (ENABLE_WYSIWYG) { ?>
        <?= Button(array("action" => "edit", "mode"=> "wysiwyg"), _("Wysiwyg Editor"), false, array('id' => 'btn-wysiwyg-edit')) ?>
      <?php } ?>
    <?php } elseif ($page->exists()) { ?>
      <?= ActionButton("viewsource", _("View Source")) ?>
    <?php } ?>
    <?= ActionButton(_("PageHistory"),_("History"),false,array('title'=>_("Past versions of this page.")." [alt-h]")) ?>
    <?= ActionButton("diff") ?>
    <?php if ($user->isSignedIn()) { ?>
      <?= ActionButton("WatchPage", _("Watch"), false, 
		       array('title'=>_("Add/Remove this to/from the list of pages you're monitoring for changes")." [alt-l]")) ?>
    <?php } ?>
  </ul>
</div>

<?php if ($user->isSignedIn()) { ?>
<div class="portlet" id="p-tbx">
  <h5><?= _("Special Actions") ?> <?= $WikiTheme->folderArrow('p-tbx', 'Closed') ?></h5>
  <div class="pBody" id="p-tbx-body" style="display:none;">
  <ul>
     <?php if ($isAdmin or $mayEdit) { ?>
      <?= ActionButton('rename') ?>
     <?php } ?>
     <?php if (!empty($revision) and ($isAdmin or mayAccessPage('remove', $pagename))) { ?>
      <?= ActionButton('remove') ?>
      <?= ActionButton('purge') ?>
      <?= ActionButton('revert',_("Revert"), $revision->isCurrent() ? $page->GetRevisionBefore() : $revision) ?>
     <?php } ?>
     <?php if ($isAdmin or $mayChange) { ?>
      <?= ActionButton($page->get('locked') ? 'unlock' : 'lock') ?>
      <?php if (ENABLE_PAGEPERM and $mayChange) { ?>
       <?= ActionButton('chown') ?>
       <?= ActionButton('setacl') ?>
     <?php }} ?>
     <?= ActionButton("viewsource", _("View Source")) ?>
     <?= ActionButton(array('action'=>'PageInfo'), _("PageInfo"), $pagename) ?>
     <?= ActionButton(_("AuthorHistory")) ?>
     <?= ActionButton(_("PageHistory")) ?>
     <?= ActionButton("diff") ?>
     <?php if ($isAdmin) { ?>
      <?= ActionButton(_("PageDump")) ?>
      <?php if (USECACHE) { ?>
       <?= ActionButton(array('nocache' => 'purge'), _("PurgeHtmlCache"), $pagename,
		        array('title'=>_("Purge HTML cache for this page. Regenerate from WikiMarkup when next accessed."))) ?>
     <?php }} ?>
  </ul>
  </div>
</div>
<?php } //isSignedIn ?>