<?php // -*-php-*-
rcs_id('$Id: body.tmpl 6409 2009-01-17 14:40:16Z rurban $');
// Set the body attr dynamically. here class="ns-2" for Mozilla
?>
  <body <?= $WikiTheme->getMoreAttr('body') ?>>
    <div id="global-wrapper">
      <div id="column-content">
	<div id="content">
	  <?= Template('top') ?>
	  <div id="bodyContent">
	    <?= $CONTENT ?>

	    <!-- end content -->
	    <div class="visualClear"></div>
	  </div>
	</div>
<?php if (!$WikiTheme->DUMP_MODE) { ?>
	<?= Template('logo') ?>
        <div id="footer"><?php // for top & bottom toolbars stylesheet ?>
          <?= Template('browse-footer') ?>
        </div>
        <div id="bottom">
	  <?= Template('bottom') ?>
        </div>
      </div>
      <div id="column-one">
<?php if (ALLOW_ANON_USER or $user->isAuthenticated()) { ?>
	<?= Template('navbar') ?>
	<?php if (empty($GLOBALS['HIDE_TOOLBARS'])) { ?>
	  <?= Template('actionbar') ?>
	<?php } ?>
<?php } // isAuthenticated ?>
	<?php if (empty($NOSIGNIN)) { ?>
	  <?= Template('signin', array('NOFORM' => 0)) ?>
	<?php } ?>
      </div>
<?php } // !DUMP_MODE ?>
    </div>
  </body>
