body {
	margin: 0;
	padding: 0;
        background-color: #fcaf3c;
}

div.header {

        background-color: #fcaf3c;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 6px;

}

div.menu {
	margin-left: 0em;
}

div.union_menu {
        background: #FFEDCF;

	height: 4px;
}
div.toptab {
	padding-top: 1em;
	padding-bottom: 0.3em;
	padding-left: 1em;
	font-size: 1.05em;
	background-color: #F57900;
	overflow: none;
}

div.bottomtab {
	background-color: #FF910F;
	background-color: #Fcaf3c;
	padding-left: 1em;
	font-size: 1em;
	margin-bottom: 2em;
}

.titlebar {
	color: white;
	font-size: 1.05em;
	font-weight: bold;
}

a {
	color: #03a;
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: #FF6400;
	text-decoration: underline;
}

a.tablink {
	display: inline;
	padding: .3em;
	border-width: 1px;
	border-style: dotted;
	border-style: solid;
	border-color: white;
	border-color: #fdd7a9;
	color: white;
	text-decoration: none;
}

a.tablink:hover {
	display: inline;
	padding: .3em;
        border-color: black;
	color: #555753;
	background: #FFEDCF;
	background: #fce94f;
	background: #FFEDCF;
	background: #729fcf;
	background: #edd400;
	background: #FFEDCF;
	text-decoration: none;

}
a.tabsellink {
	display: inline;
	padding: .3em;
        border-color: black;
	color: #555753;
	background: #FFEDCF;
	background: #fce94f;
	background: #FFEDCF;
	background: #729fcf;
	background: #edd400;
	background: #FFEDCF;
	text-decoration: none;
}

.bottomtab .tablink {
	border: none;
}

.bottomtab .tabsellink {
	background: none;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 4px;
	color: black;
	border: none;
	background: #FFEDCF;
}

.bottomtab .tablink:hover {
	background: none;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 4px;
	color: black;
	border: none;
	background: #FFEDCF;
}

tr.tableheading {
	background: #Fcaf3c;
	text-color: white;

}

td .tableheading {
	color: white;
}

div.content {
	background: white;
	padding-left: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	margin-left: 2px;
	margin-right: 2px;
}
