#
# .htaccess to force image MIME types on php scripts
# 
# SourceForge: Breaking Down the Barriers to Open Source Development
# Copyright 1999-2001 (c) VA Linux Systems
# http://sourceforge.net
#
# @version   $Id: .htaccess,v 1.14 2001/06/19 20:03:01 jbyers Exp $
#
<Files projects>
  ForceType application/x-httpd-php
</Files>

<Files users>
  ForceType application/x-httpd-php
</Files>

<Files docs>
  ForceType application/x-httpd-php
</Files>

<Files foundry>
  ForceType application/x-httpd-php
</Files>
