#!/bin/sh

# Source functions
if [ -e %DATADIR%/%NAME%/config/util/functions ] ; then
	. %DATADIR%/%NAME%/config/util/functions
else
	echo "File '%DATADIR%/%NAME%/config/util/functions' is missing"
	exit 1
fi
init_variables $*
if [ $EXIT -eq 0 ] ; then
	echo -e "$PREFIX_CHAR Creating file '%SYSCONFDIR%/group.org'"
	if [ -e %SYSCONFDIR%/group.org ] ; then
		echo -e "$PREFIX_CHAR -> File already exists"
	else
		if [ -e %SYSCONFDIR%/group ] ; then
			cp -af %SYSCONFDIR%/group %SYSCONFDIR%/group.org
			if [ $? -ne 0 ] ; then
				echo -e "$PREFIX_CHAR -> Error while creating file"
				EXIT=1
			fi
		else
			echo -e "$PREFIX_CHAR -> File '%SYSCONFDIR%/group' is missing"
			EXIT=1
		fi
	fi
fi
if [ $EXIT -eq 0 ] ; then
	echo -e "$PREFIX_CHAR Creating file '%SYSCONFDIR%/passwd.org'"
	if [ -e %SYSCONFDIR%/passwd.org ] ; then
		echo -e "$PREFIX_CHAR -> File already exists"
	else
		if [ -e %SYSCONFDIR%/passwd ] ; then
			cp -af %SYSCONFDIR%/passwd %SYSCONFDIR%/passwd.org
			if [ $? -ne 0 ] ; then
				echo -e "$PREFIX_CHAR -> Error while creating file"
				EXIT=1
			fi
		else
			echo -e "$PREFIX_CHAR -> File '%SYSCONFDIR%/passwd' is missing"
			EXIT=1
		fi
	fi
fi
if [ $EXIT -eq 0 ] ; then
	echo -e "$PREFIX_CHAR Creating file '%SYSCONFDIR%/shadow.org'"
	if [ -e %SYSCONFDIR%/shadow.org ] ; then
		echo -e "$PREFIX_CHAR -> File already exists"
	else
		if [ -e %SYSCONFDIR%/shadow ] ; then
			cp -af %SYSCONFDIR%/shadow %SYSCONFDIR%/shadow.org
			if [ $? -ne 0 ] ; then
				echo -e "$PREFIX_CHAR -> Error while creating file"
				EXIT=1
			fi
		else
			echo -e "$PREFIX_CHAR -> File '%SYSCONFDIR%/shadow' is missing"
			EXIT=1
		fi
	fi
fi
if [ $EXIT -eq 0 ] ; then
	restart_service crond
fi
exit $EXIT
