#!/bin/sh

# Source functions
if [ -e %DATADIR%/%NAME%/config/util/functions ] ; then
	. %DATADIR%/%NAME%/config/util/functions
else
	echo "File '%DATADIR%/%NAME%/config/util/functions' is missing"
	exit 1
fi
init_variables $*
source_init_parameters
if [ $EXIT -eq 0 ] ; then
	echo -e "$PREFIX_CHAR Creating views"
	psql -f %DATADIR%/%NAME%/db/%NAME%-auth-pgsql.sql >> /dev/null 2>&1
	if [ $? -ne 0 ] ; then
		echo -e "$PREFIX_CHAR -> Error while creating views"
		EXIT=1
	fi
fi
if [ $EXIT -eq 0 ] ; then
	echo -e "$PREFIX_CHAR Adding user '%NAME%_nss'"
	DB_AUTH_PASSWORD="`pwgen -N 1 -c -n -s`"
	if [ $? -ne 0 ] ; then
		echo -e "$PREFIX_CHAR -> Error while generating password"
		EXIT=1
	fi
	if [ $EXIT -eq 0 ] ; then
		NAME=`su - postgres -c "psql -d %NAME% -At -c \"SELECT usename FROM pg_user WHERE usename='%NAME%_nss'\" 2>/dev/null"`
		if [ $? -ne 0 ] ; then
			echo -e "$PREFIX_CHAR -> Error while searching user"
			EXIT=1
		else
			if [ "$NAME" = "%NAME%_nss" ] ; then
				su - postgres -c "psql -d %NAME% -c \"ALTER USER %NAME%_nss ENCRYPTED PASSWORD '$DB_AUTH_PASSWORD' NOCREATEDB NOCREATEUSER\" >> /dev/null 2>&1"
				if [ $? -ne 0 ] ; then
					echo -e "$PREFIX_CHAR -> Error while altering user"
					EXIT=1
				fi
			else
				su - postgres -c "psql -d %NAME% -c \"CREATE USER %NAME%_nss ENCRYPTED PASSWORD '$DB_AUTH_PASSWORD' NOCREATEDB NOCREATEUSER\" >> /dev/null 2>&1"
				if [ $? -ne 0 ] ; then
					echo -e "$PREFIX_CHAR -> Error while creating user"
					EXIT=1
				fi
			fi
			if [ $EXIT -eq 0 ] ; then
				su - postgres -c "psql -d %NAME% -c \"GRANT SELECT ON TABLE nss_passwd,nss_groups,nss_usergroups TO %NAME%_nss\" >> /dev/null 2>&1"
				if [ $? -ne 0 ] ; then
					echo -e "$PREFIX_CHAR -> Error while granting select"
					EXIT=1
				fi
			fi
		fi
	fi
fi
if [ $EXIT -eq 0 ] ; then
	echo -e "$PREFIX_CHAR Saving file '%SYSCONFDIR%/nss-pgsql.conf' as '%SYSCONFDIR%/nss-pgsql.conf.%NAME%'"
	if [ ! -e %SYSCONFDIR%/nss-pgsql.conf.%NAME% ] ; then
		if [ -e %SYSCONFDIR%/nss-pgsql.conf ] ; then
			cp -af %SYSCONFDIR%/nss-pgsql.conf %SYSCONFDIR%/nss-pgsql.conf.%NAME%
			if [ $? -ne 0 ] ; then
				echo -e "$PREFIX_CHAR -> Error while saving file"
				EXIT=1
			fi
		else
			echo -e "$PREFIX_CHAR -> File is missing"
			EXIT=1
		fi
	else
		echo -e "$PREFIX_CHAR -> File already exists"
	fi
fi
if [ $EXIT -eq 0 ] ; then
	echo -e "$PREFIX_CHAR Creating file '%SYSCONFDIR%/nss-pgsql.conf'"
	sed \
		-e "s/@db_auth_password@/$DB_AUTH_PASSWORD/g" \
		%DATADIR%/%NAME%/config/skel/auth-pgsql/nss-pgsql.conf > %SYSCONFDIR%/nss-pgsql.conf
	if [ $? -ne 0 ] ; then
		echo -e "$PREFIX_CHAR -> Error while creating file"
		mv -f %SYSCONFDIR%/nss-pgsql.conf.%NAME% %SYSCONFDIR%/nss-pgsql.conf
		EXIT=1
	else
		chown root.root %SYSCONFDIR%/nss-pgsql.conf
		chmod 644 %SYSCONFDIR%/nss-pgsql.conf
	fi
fi
if [ $EXIT -eq 0 ] ; then
	echo -e "$PREFIX_CHAR Saving file '%SYSCONFDIR%/nsswitch.conf' as '%SYSCONFDIR%/nsswitch.conf.%NAME%'"
	if [ ! -e %SYSCONFDIR%/nsswitch.conf.%NAME% ] ; then
		if [ -e %SYSCONFDIR%/nsswitch.conf ] ; then
			cp -af %SYSCONFDIR%/nsswitch.conf %SYSCONFDIR%/nsswitch.conf.%NAME%
			if [ $? -ne 0 ] ; then
				echo -e "$PREFIX_CHAR -> Error while saving file"
				EXIT=1
			fi
		else
			echo -e "$PREFIX_CHAR -> File is missing"
			EXIT=1
		fi
	else
		echo -e "$PREFIX_CHAR -> File already exists"
	fi
fi
if [ $EXIT -eq 0 ] ; then
	echo -e "$PREFIX_CHAR Creating file '%SYSCONFDIR%/nsswitch.conf'"
	# Create temporary file
	if [ $EXIT -eq 0 ] ; then
		rm -f %SYSCONFDIR%/nsswitch.conf.%NAME%.tmp
		cp -af %SYSCONFDIR%/nsswitch.conf.%NAME% %SYSCONFDIR%/nsswitch.conf.%NAME%.tmp
		if [ $? -ne 0 ] ; then
			echo -e "$PREFIX_CHAR -> Error while creating temporary file"
			EXIT=1
		fi
	fi
	# Add passwd: and group: if necessary
	if [ $EXIT -eq 0 ] ; then
		grep -E "^[[:blank:]]*passwd[[:blank:]]*:" %SYSCONFDIR%/nsswitch.conf.%NAME%.tmp > /dev/null 2>&1
		if [ $? -ne 0 ] ; then
			echo -e "passwd: files" >> %SYSCONFDIR%/nsswitch.conf.%NAME%.tmp
		fi
		grep -E "^[[:blank:]]*group[[:blank:]]*:" %SYSCONFDIR%/nsswitch.conf.%NAME%.tmp > /dev/null 2>&1
		if [ $? -ne 0 ] ; then
			echo -e "group: files" >> %SYSCONFDIR%/nsswitch.conf.%NAME%.tmp
		fi
	fi
	# Prepend valid lines with #%NAME%
	if [ $EXIT -eq 0 ] ; then
		sed \
			-e "s/^[[:blank:]]*passwd[[:blank:]]*:/#%NAME%passwd:/" \
			-e "s/^[[:blank:]]*group[[:blank:]]*:/#%NAME%group:/" \
			-i %SYSCONFDIR%/nsswitch.conf.%NAME%.tmp
		if [ $? -ne 0 ] ; then
			echo -e "$PREFIX_CHAR -> Error while commenting entries in temporary file"
			EXIT=1
		fi
	fi
	# Replace first occurences of #%NAME%[passwd|shadow|group]:* with [passwd|shadow|group]: files pgsql
	if [ $EXIT -eq 0 ] ; then
		LINE=`awk '{if ((trouve == 0) && (match($0,"^#%NAME%passwd:") > 0)) {print FNR; trouve = 1}}' trouve=0 %SYSCONFDIR%/nsswitch.conf.%NAME%.tmp`
		if [ -n "$LINE" ] ; then
			sed \
				-e "$LINE s/^#%NAME%passwd:[[:blank:]]*[[:print:]]*$/passwd: files pgsql/" \
				-i %SYSCONFDIR%/nsswitch.conf.%NAME%.tmp
			if [ $? -ne 0 ] ; then
				echo -e "$PREFIX_CHAR -> Error while replacing first occurence of #%NAME%passwd:"
				EXIT=1
			fi
		else
			echo -e "$PREFIX_CHAR -> Error while searching first occurence of #%NAME%passwd:"
			EXIT=1
		fi
	fi
	if [ $EXIT -eq 0 ] ; then
		LINE=`awk '{if ((trouve == 0) && (match($0,"^#%NAME%group:") > 0)) {print FNR; trouve = 1}}' trouve=0 %SYSCONFDIR%/nsswitch.conf.%NAME%.tmp`
		if [ -n "$LINE" ] ; then
			sed \
				-e "$LINE s/^#%NAME%group:[[:blank:]]*[[:print:]]*$/group: files pgsql/" \
				-i %SYSCONFDIR%/nsswitch.conf.%NAME%.tmp
			if [ $? -ne 0 ] ; then
				echo -e "$PREFIX_CHAR -> Error while replacing first occurence of #%NAME%group:"
				EXIT=1
			fi
		else
			echo -e "$PREFIX_CHAR -> Error while searching first occurence of #%NAME%group:"
			EXIT=1
		fi
	fi
	# Remove lines prepended with #%NAME%[passwd|shadow|group]:
	if [ $EXIT -eq 0 ] ; then
		sed \
			-e "/^#%NAME%passwd:/d" \
			-e "/^#%NAME%group:/d" \
			-i %SYSCONFDIR%/nsswitch.conf.%NAME%.tmp
		if [ $? -ne 0 ] ; then
			echo -e "$PREFIX_CHAR -> Error while removing entries in temporary file"
			EXIT=1
		fi
	fi
	# Rename or remove temporary file
	if [ $EXIT -eq 0 ] ; then
		mv -f %SYSCONFDIR%/nsswitch.conf.%NAME%.tmp %SYSCONFDIR%/nsswitch.conf
		if [ $? -ne 0 ] ; then
			echo -e "$PREFIX_CHAR -> Error while renaming temporary file"
			EXIT=1
		fi
	else
		rm -f %SYSCONFDIR%/nsswitch.conf.%NAME%.tmp
	fi
fi
exit $EXIT
