#!/bin/sh

# Source functions
if [ -e %DATADIR%/%NAME%/config/util/functions ] ; then
	. %DATADIR%/%NAME%/config/util/functions
else
	echo "File '%DATADIR%/%NAME%/config/util/functions' is missing"
	exit 1
fi
init_variables $*
source_init_parameters
if [ $EXIT -eq 0 ] ; then
	source_config_parameters
fi
if [ $EXIT -eq 0 ] ; then
	echo -e "$PREFIX_CHAR Creating plugin tables in database"
	NUMBER=`psql -At -c "SELECT COUNT(tablename) FROM pg_tables WHERE tablename='plugin_svntracker_data_artifact' OR tablename='plugin_svntracker_data_master'" 2>/dev/null`
	if [ $? -eq 0 ] ; then
		if [ "$NUMBER" = "0" ] ; then
			psql -q -f %DATADIR%/%NAME%/plugins/%PLUGIN_NAME%/db/%PLUGIN_NAME%-init.sql > /dev/null 2>&1
			if [ $? -ne 0 ] ; then
				echo -e "$PREFIX_CHAR -> Error while creating tables"
				EXIT=1
			fi
		else
			echo -e "$PREFIX_CHAR -> Tables already exist"
		fi
	else
		echo -e "$PREFIX_CHAR -> Error while searching tables"
		EXIT=1
	fi
fi
if [ $EXIT -eq 0 ] ; then
	echo -e "$PREFIX_CHAR Creating file '%SYSCONFDIR%/%NAME%/plugins/%PLUGIN_NAME%/config.php'"
	sed \
		-e "s|@fqdn_hostname@|$FQDN_HOSTNAME|g" \
		%DATADIR%/%NAME%/config/skel/plugin-%PLUGIN_NAME%/config.php > %SYSCONFDIR%/%NAME%/plugins/%PLUGIN_NAME%/config.php
	if [ $? -ne 0 ] ; then
		echo -e "$PREFIX_CHAR -> Error while creating file"
		rm -f %SYSCONFDIR%/%NAME%/plugins/%PLUGIN_NAME%/config.php
		touch %SYSCONFDIR%/%NAME%/plugins/%PLUGIN_NAME%/config.php
		EXIT=1
	else
		for MODULE in $SYS_USE_MODULES ; do
			MODULE_NAME=`echo $MODULE | cut -d':' -f1`
			MODULE_ENABLED=`echo $MODULE | cut -d':' -f2`
			sed \
				-e "s|@sys_use_$MODULE_NAME@|$MODULE_ENABLED|" \
				-i %SYSCONFDIR%/%NAME%/plugins/%PLUGIN_NAME%/config.php
			if [ $? -ne 0 ] ; then
				echo -e "$PREFIX_CHAR -> Error while updating file"
				EXIT=1
				break
			fi
		done
	fi
	chown root.root %SYSCONFDIR%/%NAME%/plugins/%PLUGIN_NAME%/config.php
	chmod 644 %SYSCONFDIR%/%NAME%/plugins/%PLUGIN_NAME%/config.php
fi
if [ $EXIT -eq 0 ] ; then
	register_plugin %PLUGIN_NAME% "SVN Tracker Plugin"
fi
if [ $EXIT -eq 0 ] ; then
	restore_plugin_config %PLUGIN_NAME%
fi
exit $EXIT
