#!/bin/sh

# Source functions
if [ -e %DATADIR%/%NAME%/config/util/functions ] ; then
	. %DATADIR%/%NAME%/config/util/functions
else
	echo "File '%DATADIR%/%NAME%/config/util/functions' is missing"
	exit 1
fi
init_variables $*
source_init_parameters
if [ $EXIT -eq 0 ] ; then
	source_config_parameters
fi
if [ $EXIT -eq 0 ] ; then
	echo -e "$PREFIX_CHAR Saving file '%BINDIR%/svnserve' as '%BINDIR%/svnserve.subversion'"
	if [ ! -e %BINDIR%/svnserve.subversion ] ; then
		cp -af %BINDIR%/svnserve %BINDIR%/svnserve.subversion
		if [ $? -ne 0 ] ; then
			echo -e "$PREFIX_CHAR -> Error while saving file"
			EXIT=1
		fi
	else
		echo -e "$PREFIX_CHAR -> File already exists"
	fi
fi
if [ $EXIT -eq 0 ] ; then
	echo -e "$PREFIX_CHAR Creating file '%BINDIR%/svnserve'"
	cp -af %BINDIR%/svnserve.%NAME% %BINDIR%/svnserve
	if [ $? -ne 0 ] ; then
		echo -e "$PREFIX_CHAR -> Error while creating file"
		EXIT=1
	fi
fi
if [ $EXIT -eq 0 ] ; then
	echo -e "$PREFIX_CHAR Saving file '%SYSCONFDIR%/services' as '%SYSCONFDIR%/services.%NAME%'"
	if [ ! -e %SYSCONFDIR%/services.%NAME% ] ; then
		if [ -e %SYSCONFDIR%/services ] ; then
			cp -af %SYSCONFDIR%/services %SYSCONFDIR%/services.%NAME%
			if [ $? -ne 0 ] ; then
				echo -e "$PREFIX_CHAR -> Error while creating file"
				EXIT=1
			fi
		else
			echo -e "$PREFIX_CHAR -> File is missing"
			EXIT=1
		fi
	else
		echo -e "$PREFIX_CHAR -> File already exists"
	fi
fi
if [ $EXIT -eq 0 ] ; then
	echo -e "$PREFIX_CHAR Creating file '%SYSCONFDIR%/services'"
	sed \
		-e "/[[:blank:]]*3690\/tcp[[:blank:]]*/d" \
		-e "/[[:blank:]]*3690\/udp[[:blank:]]*/d" \
		%SYSCONFDIR%/services.%NAME% > %SYSCONFDIR%/services
	if [ $? -ne 0 ]; then
		echo -e "$PREFIX_CHAR -> Error while creating files"
		EXIT=1
	else
		echo -e "svnserve\t3690/tcp\t\t\t# Subversion client/server operations" >> %SYSCONFDIR%/services
		echo -e "svnserve\t3690/udp\t\t\t# Subversion client/server operations" >> %SYSCONFDIR%/services
	fi
fi
if [ $EXIT -eq 0 ] ; then
	echo -e "$PREFIX_CHAR Creating file '%SYSCONFDIR%/httpd/conf.d/%NAME%-plugin-%PLUGIN_NAME%.conf'"
	sed \
		-e "s|@db_password@|$DB_PASSWORD|g" \
		%DATADIR%/%NAME%/config/skel/plugin-%PLUGIN_NAME%/%NAME%-plugin-%PLUGIN_NAME%.conf > %SYSCONFDIR%/httpd/conf.d/%NAME%-plugin-%PLUGIN_NAME%.conf
	if [ $? -ne 0 ] ; then
		echo -e "$PREFIX_CHAR -> Error while creating file"
		rm -f %SYSCONFDIR%/httpd/conf.d/%NAME%-plugin-%PLUGIN_NAME%.conf
		touch %SYSCONFDIR%/httpd/conf.d/%NAME%-plugin-%PLUGIN_NAME%.conf
		EXIT=1
	fi
	chown root.%APACHE_GROUP% %SYSCONFDIR%/httpd/conf.d/%NAME%-plugin-%PLUGIN_NAME%.conf
	chmod 640 %SYSCONFDIR%/httpd/conf.d/%NAME%-plugin-%PLUGIN_NAME%.conf
fi
if [ $EXIT -eq 0 ] ; then
	echo -e "$PREFIX_CHAR Creating file '%SYSCONFDIR%/%NAME%/plugins/%PLUGIN_NAME%/config.php'"
	sed \
		-e "s|@fqdn_hostname@|$FQDN_HOSTNAME|g" \
		%DATADIR%/%NAME%/config/skel/plugin-%PLUGIN_NAME%/config.php > %SYSCONFDIR%/%NAME%/plugins/%PLUGIN_NAME%/config.php
		if [ $? -ne 0 ] ; then
			echo -e "$PREFIX_CHAR -> Error while creating file"
			rm -f %SYSCONFDIR%/%NAME%/plugins/%PLUGIN_NAME%/config.php
			touch %SYSCONFDIR%/%NAME%/plugins/%PLUGIN_NAME%/config.php
			EXIT=1
		else
			for MODULE in $SYS_USE_MODULES ; do
				MODULE_NAME=`echo $MODULE | cut -d':' -f1`
				MODULE_ENABLED=`echo $MODULE | cut -d':' -f2`
				sed \
					-e "s|@sys_use_$MODULE_NAME@|$MODULE_ENABLED|" \
					-i %SYSCONFDIR%/%NAME%/plugins/%PLUGIN_NAME%/config.php
				if [ $? -ne 0 ] ; then
					echo -e "$PREFIX_CHAR -> Error while updating file"
					EXIT=1
					break
				fi
			done
		fi
		chown root.root %SYSCONFDIR%/%NAME%/plugins/%PLUGIN_NAME%/config.php
		chmod 644 %SYSCONFDIR%/%NAME%/plugins/%PLUGIN_NAME%/config.php
fi
if [ $EXIT -eq 0 ] ; then
	register_plugin %PLUGIN_NAME% "Subversion Plugin"
fi
if [ $EXIT -eq 0 ] ; then
	restore_plugin_config %PLUGIN_NAME%
fi
if [ $EXIT -eq 0 ] ; then
	restart_service httpd
fi
if [ $EXIT -eq 0 ] ; then
	restart_service crond
fi
if [ $EXIT -eq 0 ] ; then
	restart_service xinetd
fi
exit $EXIT
