# 060maindirhttp.vhost begin
<VirtualHost *:80>
	ServerName {domain_name}
	ServerAlias www.{domain_name}
	ServerAdmin {server_admin}
	DocumentRoot {usr_share_gforge}/www
	#
	# Apache 1.3
	# User {sys_apache_user}
	# Group {sys_apache_group}
	#
	# Apache 2 apache2-mpm-perchild
	# AssignUserID {sys_apache_user} {sys_apache_group}
	# Apache 2
	# <IfModule mod_suexec.c>
	#	SuexecUserGroup {sys_apache_user} {sys_apache_group}
	# </IfModule>
# 060maindirhttp.vhost end
