# 20zlist.vhost begin
	RedirectMatch permanent ^/$ http://{lists_host}/mailman/listinfo
	LogFormat "%h %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" fusionforge
	CustomLog "|{cronolog_path} {var_log_gforge}/%Y/%m/%d/fusionforge-lists.log" fusionforge
	# Ensure that we don't try to use SSL on SSL Servers
	<IfModule apache_ssl.c>
    		SSLDisable
	</IfModule>

	RewriteEngine on
	RewriteCond %{REQUEST_METHOD} ^(TRACE|TRACK)
	RewriteRule .* - [F]
</VirtualHost>
# 20zlist.vhost end
