# 40project.vhost begin
<VirtualHost *:80>
	ServerName {domain_name}
	ServerAlias *.{domain_name}
	VirtualDocumentRoot {gforge_chroot}{groupdir}/%1/htdocs
        VirtualScriptAlias {gforge_chroot}{groupdir}/%1/cgi-bin
	DirectoryIndex index.html index.php
	php_admin_value default_charset "UTF-8"
	php_admin_value include_path "{sys_custom_path}:/etc/gforge:{usr_share_gforge}:{usr_share_gforge}/www:{usr_share_gforge}/www/include:{usr_share_gforge}/plugins:/usr/share/php:."
	Alias /themes-gforge/ /usr/share/gforge/www/themes/
        <Directory {gforge_chroot}{groupdir}>
		Options Indexes FollowSymlinks
		AllowOverride All
		order allow,deny
		allow from all
	</Directory>
	LogFormat "%h %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" fusionforge
	CustomLog "|{cronolog_path} {var_log_gforge}/%Y/%m/%d/fusionforge-project-vhost.log" fusionforge
	# Ensure that we don't try to use SSL on SSL Servers
	<IfModule apache_ssl.c>
		SSLDisable
	</IfModule>
</VirtualHost>
# 40project.vhost end
