# 55dnsalias.vhost begin
#This may be used 
#ServerPath /sub1/
#RewriteEngine On
#RewriteRule ^(/sub1/.*) /www/subdomain$1

# Other virtual hosts, as requested by users
Include /var/lib/gforge/etc/httpd.vhosts
# 55dnsalias.vhost end
