<?php // -*-html-*-
rcs_id('$Id: body.tmpl,v 1.5 2005/01/25 07:23:31 rurban Exp $');
?>
<body<?= $WikiTheme->getMoreAttr('body') ?>>
<div id="header"><?php // for top toolbars style sheet ?>
  <?= Template('top') ?>
</div>
<div class="toolbar"><?= Template('navbar') ?></div>
<!-- Page content -->
<div id="content">
<?php if (isset($HEADER)) { ?>
<!-- Page title -->
<h1><?= $HEADER ?></h1>
<?php } ?>
<?= $CONTENT ?>
<?= Template('bottom') ?>
</div>
<?php if (isset($revision)) { ?>
<!-- Actionbar -->
<?= Template('actionbar') ?>
<?php } ?>
</body>
