Source: gforge-plugin-ldapextauth
Section: devel
Priority: optional
Maintainer: Roland Mas <lolando@debian.org>
Build-Depends-Indep: debhelper (>> 4.0.0)
Standards-Version: 3.6.1

Package: gforge-plugin-ldapextauth
Architecture: all
Depends: gforge-common, gforge-db-postgresql | gforge-db, gforge-web-apache | gforge-web
Description: A Gforge plugin to authenticate from an external LDAP directory
 This plugin allows Gforge to use an external LDAP directory to
 authenticate the users.  When they first try to log in, their
 login-name and password are checked against the LDAP tree.  If they
 match, the user is transparently inserted into the Gforge database
 and authentication proceeds normally from then on.
