{% include 'ListTableTop.html' with { 'class': 'fullwidth', 'id': 'header' } only %}

      {% include 'multiTableRow.html' with { 'rowattrs': {}, 'cells': siteheader_celldata } only %}

      {% if session_loggedin %}

{% if naventries|length > 0 %}
{% set indentarray = { 0: '', 1: '   ↳ ', 2: '      ↳ ' } %}
      <tr>
	<td id="header-line2" colspan="2">
<form id="quicknavform" name="quicknavform" action="">
  <div>
    <select name="quicknav" id="quicknav" onchange="location.href=document.quicknavform.quicknav.value">
      <option value="">Quick Jump To...</option>
      {% for e in naventries %}
      <option value="{{ e.url }}">{{ indentarray[e.indent]|raw }}{{ e.title }}</option>
      {% endfor %}
    </select>
  </div>
	  </form>
	</td>
      </tr>

{% endif %}

{% endif %}      

      {% include 'ListTableBottom.html' only %}

{% include 'Tabs.html' with { 'use_tooltips': use_tooltips, 'tabs': outertabsdata, 'total_width': '100%' } only %}

      {% if projecttabsdata|length > 0 %}
      <div class="innertabs">
      {% include 'Tabs.html' with { 'use_tooltips': use_tooltips, 'tabs': projecttabsdata, 'total_width': '100%', 'nested': true } only %}
      </div>
      {% endif %}

      
    <div id="maindiv">

      {% include 'errorMessage.html' %}
      {% include 'warningMessage.html' %}
      {% include 'feedback.html' %}

      {% if h1 %}
      <h1>{{ h1 }}</h1>
      {% else %}
      <h1 class="hide">{{ title }}</h1>
      {% endif %}

    {{ submenu|raw }}