<body <?php echo $WikiTheme->getMoreAttr('body') ?> >
<header role="banner">
<div id="header"><?php // for top toolbars style sheet ?>
  <?php echo Template('top') ?>
</div>
</header>
<div class="toolbar"><?php echo Template('navbar') ?></div>
<?php // Page content ?>
<div id="content">
<?php if (isset($HEADER)) { ?>
<?php // Page title ?>
<h1><?php echo $HEADER ?></h1>
<?php } ?>
<main role="main">
<?php echo $CONTENT ?>
</main>
<?php echo Template('bottom') ?>
</div>
<?php if (isset($revision)) { ?>
<?php // Actionbar ?>
<?php echo Template('actionbar') ?>
<?php } ?>
</body>
