<?php // -*-php-*-
// $Id: browse.tmpl 7956 2011-03-03 17:08:31Z vargenau $
?>

<?php if ($revision and !$revision->isCurrent()) { ?>
  <p><strong><?php echo _("Note:")?></strong>
     <?php echo _("You are viewing an old revision of this page.")?>
  <?php echo Button('browse', _("View the current version"), $page)?>.
  </p>
<?php } ?>
<?php if (!empty($redirected)) { ?>
  <p><?php echo $redirected ?></p>
<?php } ?>
<?php echo $CONTENT?>

<div id="revision">
<p class="editdate"><?php echo $WikiTheme->getLastModifiedMessage($revision) ?></p>
<?php
global $HIDE_TOOLBARS;
if (!$HIDE_TOOLBARS) {
?>
</div>


<?php } ?>
