<?php if (isset($PREVIEW_CONTENT)) { ?>
  <p>
      <?php echo _("Preview only! Changes not saved.") ?>
      <?php echo _("Please continue editing. (You'll find your edit area at the bottom of the page.)") ?>
  </p>
  <hr class="printer" />
  <?php echo $PREVIEW_CONTENT ?>
  <hr class="printer" />
<?php } ?>
<?php echo $PAGE_LOCKED_MESSAGE ?>
<?php echo $CONCURRENT_UPDATE_MESSAGE ?>
<?php if (! $IS_CURRENT) { ?>
  <p class="warning_msg">
      <?php echo _("Warning: You are editing an old revision.")?>
      <?php echo _("Saving this page will overwrite the current version.")?>
  </p>
<?php } ?>
<form method="post" id="editpage" name="editpage"
      action="<?php echo $request->getPostURL() ?>"
      accept-charset="UTF-8">
  <?php if (!empty($_GET['start_debug'])) echo '<input type="hidden" name="start_debug" value="1" >'; ?>
  <br class="clear-floats" />
  <?php if (isset($EDIT_TOOLBAR)) { ?>
      <?php echo $EDIT_TOOLBAR ?>
  <?php } ?>
  <fieldset class="editarea">
  <legend><?php echo _("Page Content: ")?></legend>
  <a id="editarea"></a><?php echo $EDIT_TEXTAREA?>
  </fieldset>
 <fieldset class="editarea">
    <legend><?php echo _("Summary")._(":") ?></legend><br />
    <?php echo $SUMMARY_INPUT?>
  </fieldset>
<?php if (ENABLE_CAPTCHA) { ?>
  <fieldset class="toolbar" style="text-align: center;">
    <?php echo $CAPTCHA_IMAGE ?><br/>
    <?php echo $CAPTCHA_LABEL ?><?php echo $CAPTCHA_INPUT ?>
  </fieldset>
  <?php } ?>
  <fieldset class="toolbar">
    <?php echo $MINOR_EDIT_CB ?> <label for="edit-minor_edit"><?php echo _("This is a minor change.")?></label>&nbsp;&nbsp;
<?php if ($user->isAdmin()) { ?>
    <?php echo $LOCKED_CB ?> <label for="edit-locked"><?php echo _("Locked")?></label>
<?php } ?>
  </fieldset>
  <fieldset class="toolbar">
    <?php echo $PREVIEW_B ?>
    <?php if ($SAVE_B) { ?>
      <?php echo $SEP?><?php echo $SAVE_B ?>
    <?php } ?>
  </fieldset>
  <fieldset class="toolbar">
    <?php echo $AUTHOR_MESSAGE?>
    <label><?php echo Template('signin', array('FORMNAME' => 'editpage')) ?></label>
  </fieldset>
<hr />
<div class="wiki-edithelp">
<!-- FIXME: do we need this at all?  If so, it could probably be moved to TextFormattingRules -->
<p><?php echo fmt("See %s tips for editing.", WikiLink(_("Help")."/"._("GoodStyle"))) ?></p>
<?plugin IncludePage page=_("Help/TextFormattingRules") section=_("Synopsis") quiet=1?>
</div>
<?php echo $HIDDEN_INPUTS?>
</form>
