<?php // -*-php-*-
rcs_id('$Id: actionbar.tmpl 6409 2009-01-17 14:40:16Z rurban $');
?>
<?php
  $dbh = $request->getDbh();
  $isAdmin = $user->isAdmin();
  $pagename = $page->getName();
  $isActionPage = $request->_isActionPage($pagename, false);
?>
<div class="portlet" id="p-cactions">
  <h5>Views</h5>
  <ul>
    <?php if ($request->getArg('action') != "") { ?>
      <?= ActionButton("browse", _("View Page"), false, array('title' => "View the page [alt-c]")) ?>
    <?php } else { ?>
      <li class="selected"><a class="named-wiki" name="browse"><?= _("View Page") ?></a></li>
    <?php } ?>
    <?php if (($isAdmin or mayAccessPage('edit', $pagename)) and $revision) {
            $label = $revision->isCurrent() ? _("Edit") : _("Edit Old Revision"); ?>
      <?= ActionButton("edit", $revision->isCurrent() ? _("Edit") : _("Edit Old Revision"), 
		       false, array('id' => 'btn-edit', 'title' => "You can edit this page. Please use the preview button before saving. [alt-e]")) ?>
      <?php if (ENABLE_WYSIWYG) { ?>
        <?= ActionButton(array("action" => "edit", "mode"=> "wysiwyg"), "Wysiwyg Editor", false, array('id' => 'btn-wysiwyg-edit')) ?>
      <?php } ?>
    <?php } else { ?>
      <?= ActionButton("viewsource", _("View Source")) ?>
    <?php } ?>
    <?= ActionButton(_("PageHistory"),_("History"),false,array('title'=>"Past versions of this page. [alt-h]")) ?>
    <?= ActionButton("diff") ?> 
    <? if ( $user->isSignedIn() ) { ?>
      <?= ActionButton("WatchPage", _("Watch"), false, 
		       array('title'=>"Add/Remove this to/from the list of pages you're monitoring for changes [alt-l]")) ?>
    <?php } ?>
  </ul>
</div>

<?php if ($user->isSignedIn()) { ?>
<div class="portlet" id="p-tbx">
  <h5>Special Actions <?= $WikiTheme->folderArrow('p-tbx', 'Closed') ?></h5>
  <div class="pBody" id="p-tbx-body" style="display:none;">
  <ul>
     <?php if ($isAdmin or mayAccessPage('edit', $pagename)) { ?>
      <?= ActionButton('rename') ?>
     <?php } ?>
     <?php if (!empty($revision) and ($isAdmin or mayAccessPage('remove', $pagename))) { ?>
      <?= ActionButton('remove') ?>
      <?= ActionButton('revert',_("Revert"), $revision->isCurrent() ? $page->GetRevisionBefore() : $revision) ?>
     <?php } ?>
     <?php if ($isAdmin or mayAccessPage('change', $pagename)) { ?>
      <?= ActionButton($page->get('locked') ? 'unlock' : 'lock') ?>
      <?php if (ENABLE_PAGEPERM and mayAccessPage('change', $pagename)) { ?>
       <?= ActionButton('chown') ?>
       <?= ActionButton('setacl') ?>
     <?php }} ?>
     <?= ActionButton(array('action'=>'PageInfo'), _("PageInfo"),$pagename) ?>
     <?= ActionButton(_("AuthorHistory")) ?>
     <?= ActionButton(_("PageHistory")) ?>
     <?= ActionButton("diff") ?> 
     <?php if ($isAdmin) { ?>
      <?= ActionButton(_("PageDump")) ?>
      <?php if (DEBUG & _DEBUG_SQL and USECACHE) {
        $PurgeCache = Button(array('nocache' => 'purge'),
                     _("PurgeHtmlCache"), $pagename);
        $PurgeCache->addTooltip(_("Purge HTML cache for this page. Regenerate from WikiMarkup when next accessed.")); ?>
        <?= $PurgeCache ?>
      <?php } ?>
    <?php } // isAdmin ?>
  </ul>
  </div>
</div>
<?php } //isSignedIn ?>
