<?php // -*-php-*-
// rcs_id('$Id: bottom.tmpl 7589 2010-07-02 07:31:33Z vargenau $');
?>
<!-- Add your Disclaimer here -->
<?php if (!$WikiTheme->DUMP_MODE) { ?>
<?php echo empty($WARNINGS) ? '' : $WARNINGS ?>
<?php echo $GLOBALS['ErrorManager']->getPostponedErrorsAsHTML() ?>
<?php if (defined('DEBUG') and DEBUG & 1) { ?><?php echo Template('debug') ?><?php } ?>
<?php } ?>
