<hr class="printer" />
<p class="editdate"><?php echo $WikiTheme->getOwnerMessage($page) ?>  <?php echo $WikiTheme->getLastModifiedMessage($revision) ?> <?php echo $WikiTheme->getAuthorMessage($revision) ?></p>
<?php
global $HIDE_TOOLBARS;
if (!$HIDE_TOOLBARS) {
?>
<hr class="toolbar" />
<div class="toolbar">
<?php echo Template('actionbar') ?>
</div>
<?php } ?>
