<?php // -*-php-*-
// rcs_id('$Id: nochanges.tmpl 7589 2010-07-02 07:31:33Z vargenau $');
?>
<p><strong><?php echo _("Edit aborted.")?></strong>
<?php echo _("You have not made any changes so no new version has been saved.")?></p>
<?php if (!empty($LOCK_CHANGED_MSG)) { ?>
  <p><?php echo $LOCK_CHANGED_MSG?></p>
<?php } ?>
<?php echo Template('browse') ?>
