<?php // -*-php-*-
// $Id: pagelink.tmpl 8021 2011-04-05 17:19:14Z vargenau $

/**
 * Themable paging "|<< <<   - i/sum - >> >>|" links
 *
 * Variables: PREV, NEXT, PREV_LINK, NEXT_LINK,
 * COUNT, OFFSET, SIZE
 * More ideas: FIRST, LAST, ...
 */
if ($WikiTheme->DUMP_MODE) {
  $PREV = false;
  $NEXT = false;
}
?>
<tr><td width="100%" colspan="<?php echo $COLS ?>"><table width="100%" class="wikipaging"><tr class="wikipaging">
  <td class="wikipaging<?php echo $PREV ? "-enabled" : "-disabled" ?>" align="left">
      <?php echo $PREV ? HTML::a(array('href'=>$FIRST_LINK), "|<<") : "|<<" ?>
      &nbsp;
      <?php echo $PREV ? HTML::a(array('href'=>$PREV_LINK), "<< " . _("Prev")) : "<<" ?>
  </td>
  <td class="wikipaging-enabled" align="center">
      <?php echo fmt(" - %d / %d - ", $ACTPAGE, $NUMPAGES) ?>
  </td>
  <td class="wikipaging<?php echo $NEXT ? "-enabled" : "-disabled" ?>" align="right">
      <?php echo $NEXT ? HTML::a(array('href'=>$NEXT_LINK), _("Next") . " >>") : ">>" ?>
      &nbsp;
      <?php echo $NEXT ? HTML::a(array('href'=>$LAST_LINK), ">>|") : ">>|" ?>
  </td>
</tr></table></td></tr>
