<?php // -*-html-*- ?>
<!-- $Id: savepage.tmpl 6204 2008-08-26 15:12:03Z vargenau $ -->
<?php
    $signatureURL = $WikiTheme->getImageURL('signature');
?>
<p><?=fmt("Thank you for editing %s.", WikiLink($page))?> 
<?=_("Your careful attention to detail is much appreciated.")?></p>

<?php if (!empty($WARNINGS)) { ?>
  <p><?= $WARNINGS ?></p>
<?php } ?>

<?php if ($signatureURL) { ?>
  <p><img src="<?=$signatureURL?>" id="signature" alt="signature" /></p>
<?php } ?>

<?php if (!empty($LOCK_CHANGED_MSG)) { ?>
  <p><?=$LOCK_CHANGED_MSG?></p>
<?php } ?>

<hr noshade="noshade" />
<?= Template('browse') ?>
