<?php // -*-php-*-
// rcs_id('$Id: savepage.tmpl 7589 2010-07-02 07:31:33Z vargenau $');
?>
<?php
    $signatureURL = $WikiTheme->getImageURL('signature');
?>
<p><?php echo fmt("Thank you for editing %s.", WikiLink($page))?> 
<?php echo _("Your careful attention to detail is much appreciated.")?></p>

<?php if (!empty($WARNINGS)) { ?>
  <?php echo $WARNINGS ?>
<?php } ?>

<?php if ($signatureURL) { ?>
  <p><img src="<?php echo $signatureURL?>" id="signature" alt="signature" /></p>
<?php } ?>

<?php if (!empty($LOCK_CHANGED_MSG)) { ?>
  <p><?php echo $LOCK_CHANGED_MSG?></p>
<?php } ?>

<hr />
<?php echo Template('browse') ?>
