<body <?php echo $WikiTheme->getMoreAttr('body') ?> >
    <div id="global-wrapper">
      <div id="column-content">
    <div id="content">
      <header role="banner">
      <?php echo Template('top') ?>
      </header>
      <main role="main">
      <div id="bodyContent">
        <?php echo $CONTENT ?>

        <?php // end content ?>
        <div class="clear-floats"></div>
      </div>
      </main>
    </div>
    <?php if (empty($NOSIGNIN)) { ?>
      <?php echo Template('signin') ?>
    <?php } ?>
    <?php echo Template('logo') ?>
      </div>
      <div id="column-one">
    <?php echo Template('navbar') ?>
    <?php if (empty($GLOBALS['HIDE_TOOLBARS'])) { ?>
      <?php echo Template('actionbar') ?>
      <?php echo Template('tags') ?>
    <?php } ?>
      </div>
      <div id="footer"><?php // for top & bottom toolbars stylesheet ?>
        <?php echo Template('browse-footer') ?>
      </div>
      <div id="bottom">
    <?php echo Template('bottom') ?>
      </div>
    </div>
</body>
