<?php // -*-php-*-
// $Id: info.tmpl 7956 2011-03-03 17:08:31Z vargenau $
?>
<?php
if (empty($revision)) $revision = $page->getCurrentRevision(false);
$modifed = $WikiTheme->formatDateTime($revision->get('mtime'));

$author = $revision->get('author');
global $WikiNameRegexp;
$dbi = $request->getDbh();
$author = $revision->get('author');
$authorLink = $author;
if (preg_match("/^$WikiNameRegexp\$/", $author) && $dbi->isWikiPage($author))
    $authorLink = WikiLink($author);

$authorId = $revision->get('author_id');
$version = $revision->getVersion();
$hits = $page->get('hits');

$is_minor_edit = $revision->get('is_minor_edit') ? _("minor edit") : false;
if ($minor_flag = $is_minor_edit) {
    $minor_flag = HTML(" ",
                       HTML::span(array('class' => 'pageinfo-minoredit'),
                                  "(" . _("minor edit") . ")"));
}

/* better way to do this? */
$bytes = strlen($revision->_data['%content']);
if ($bytes < 1024 )
    $size = fmt("%s bytes", $bytes);
else {
    $kb = round($bytes / 1024, 1);
    $size = fmt("%s KiB (%s bytes)", $kb, $bytes);
}
// Count words
preg_match_all('/\\w+\\W*/', $revision->_data['%content'], $whitespacematches);
if (1 == $c = count_all($whitespacematches))
  $wordcount = fmt("1 word");
else
  $wordcount = fmt("%s words", $c);


$markupVersion = ($markupVersion = $revision->get('markup'))
               ? fmt("Version %s", $markupVersion)
               : _("Original (1.2 or 1.0)");

$summary = HTML::textarea(array('name' => 'summary',
                                'class' => 'summary',
                                /* use fixed dimensions? */
                                'rows' => intval($request->getPref('editHeight')/4),
                                'cols' => intval($request->getPref('editWidth')/2),
                                'readonly' => 'readonly',
                               ),
                          $revision->get('summary'));

if ($is_current = $revision->isCurrent()) {

    $LOCKED_CB = HTML::input(array('type' => 'checkbox',
                                   'name' => 'edit[locked]',
                                   'disabled' => !$user->isadmin(),
                                   'checked'  => $page->get('locked')));

    // Not sure if I want to keep this... --Carsten
    if ($user->isadmin()) {
        $lockunlock = $page->get('locked') ? 'unlock' : 'lock';
        $clickcheckbUrl = WikiURL($revision, array('action' => $lockunlock));
        $clickcheckb = "location.href='$clickcheckbUrl'";

        $LOCKED_CB->setAttr('onclick', $clickcheckb);
    }

    $label['date'] = _("Last Modified").':';
    $label['author'] = _("Last Author").':';
    $label['summary'] = _("Last Summary").':';

} else {
    $label['date'] = _("Saved on:");
    $label['author'] = _("Author").':';
    $label['summary'] = _("Summary").':';
}

$tableSummary = fmt("Statistics about %s.", $page->getName());

$perm_tree = pagePermissions($page->getName());
list($type, $perm) = pagePermissionsAcl($perm_tree[0], $perm_tree);
if ($type == 'inherited') {
    $type = sprintf(_("page permission inherited from %s"), $perm_tree[1][0]);
} elseif ($type == 'page') {
    $type = _("individual page permission");
} elseif ($type == 'default') {
    $type = _("default page permission");
}

?>

<!-- FIXME: move table formatting to css -->
<table summary="<?php echo $tableSummary ?>" class="pageinfo"
       border="0" cellspacing="0" cellpadding="3">

<?php if (!$is_current) { ?>
  <tr>
    <td align="right" class="pageinfo"><?php echo _("Supplanted on:")?></td>
    <td><?php echo $WikiTheme->formatDateTime($revision->get('_supplanted')) ?></td>
  </tr>
<?php } ?>

  <tr>
    <td align="right" nowrap="nowrap" class="pageinfo"><?php echo $label['date'] ?></td>
    <td><?php echo $modifed ?><?php echo $minor_flag ?></td>
  </tr>
  <tr>
    <td align="right" class="pageinfo"><?php echo $label['author'] ?></td>
    <td><?php echo $authorLink ?>
      <?php if (! ($author == $authorId)) { ?>
        <span class="pageinfo-authorid">(<?php echo $authorId ?>)</span>
      <?php } ?></td>
  </tr>
  <tr>
    <td align="right" class="pageinfo"><?php echo _("Page Version:")?></td>
    <td><?php echo $version ?></td>
  </tr>
  <tr>
    <td align="right" class="pageinfo"><?php echo _("Markup:")?></td>
    <td><?php echo $markupVersion ?></td>
  </tr>
  <tr>
    <td align="right" class="pageinfo"><?php echo _("Size:")?></td>
    <td><?php echo $wordcount ?>, <?php echo $size ?></td>
  </tr>
<?php if ($is_current) { ?>
  <tr>
    <td align="right" class="pageinfo"><?php echo _("Hits:") ?></td>
    <td><?php echo $hits ?></td>
  </tr>
<?php } ?>
  <tr>
    <td align="right" valign="top" class="pageinfo"><?php echo $label['summary'] ?></td>
    <td><?php echo $summary ?></td>
  </tr>
<?php if ($is_current) { ?>
  <tr>
    <td align="right"><?php echo $LOCKED_CB ?></td>
    <td class="pageinfo"><?php echo _("Locked")?></td>
  </tr>
  <tr>
    <td align="right" class="pageinfo">ACL type</td>
    <td><?php echo $type ?></td>
  </tr>
  <tr>
    <td align="right" valign="top" class="pageinfo">ACL</td>
    <td><?php echo $perm->asAclLines() ?></td>
  </tr>
<?php } ?>

<?php // determine page type
if (HOME_PAGE == $page->getName()) {
    $pagetype []= sprintf('%s %s', WIKI_NAME, _("home page"));
}
if (0 && $page->isUserPage($include_empty=true)) {
    $pagetype []= _("User page");
}
if (isActionPage($page->getName())) {
    $pagetype []= _("Action page");
}
if ($page->get('pagetype') == 'wikiblog') {
    $pagetype []= _("Blog page");
}
if ($page->getName() == _("InterWikiMap")) {
    $pagetype []= _("InterWikiMap");
}
if (0 and isSubPage($page->getName())) {
    $pagetype []= _("Subpage");
} ?>

<?php if (!empty($pagetype)) { $pagetype = implode(", ", $pagetype); ?>
  <tr>
    <td align="right" class="pageinfo"><?php echo _("Page Type:")?></td>
    <td align="left"><?php echo $pagetype?></td>
  </tr>
<?php } ?>

</table>

<div id="actionbuttons">
    <?php echo Button("viewsource", _("View Source")) ?>
    <?php echo $SEP?><?php echo Button("PageHistory", _("PageHistory")) ?>
    <?php echo $SEP?><?php echo Button("AuthorHistory", _("AuthorHistory")) ?>
    <?php echo $SEP?><?php echo Button("Diff") ?> 
    <?php echo $SEP?><?php echo Button(array('action'=>'diff','previous' => 'minor'),_("Diff previous Revision"),$page->getName()) ?> 
    <?php echo $SEP?><?php echo Button(array('action'=>'diff','previous' => 'author'),_("Diff previous Author"),$page->getName()) ?> 
<?php if ((defined('DEBUG') && DEBUG) || $user->isAdmin()) { ?> 
    <!-- Buttons really only for debugging -->
    <?php echo $SEP?><?php echo Button("DebugInfo", _("DebugInfo")) ?>
<?php
     $PurgeCache = Button(array('nocache' => 'purge'),
                     _("PurgeHtmlCache"), $page->getName());
     $PurgeCache->addTooltip(_("Purge HTML cache for this page. Regenerate from WikiMarkup when next accessed."));
?>
    <?php echo $SEP?><?php echo $PurgeCache ?>

    <!-- End debugging buttons -->
<?php } ?>
</div>
