<?php // -*-php-*-
// $Id: logo.tmpl 7956 2011-03-03 17:08:31Z vargenau $
?>
<div class="portlet" id="p-logo"><a class="wikilink" href="<?php echo WikiURL(HOME_PAGE)?>"><img src="<?php echo $WikiTheme->getImageURL('logo') ?>" id="logo-img" alt="<?php echo 
fmt(_("%s: %s"), WIKI_NAME, HOME_PAGE) ?>" /></a></div>
<div id="img-logo-right" />
