<?php // list of most popular categories ?>
<nav role="navigation" aria-label="<?php echo _("Favorite Categories Menu") ?>">
<div class="portlet" id="p-tags">
  <h2><?php echo _("Favorite Categories") ?></h2>
  <div class="pBody">
    <<PopularTags>>
  </div>
</div>
</nav>
