<?php // -*-php-*-
  $Sep = $WikiTheme->getButtonSeparator();
?>
<!-- $Id: actionbar.tmpl,v 1.1 2004/12/19 17:34:19 rurban Exp $ -->
<?= Button(array('action'=>'PageInfo'),_("PageInfo"),$page->getName()) ?>
<?=$Sep?><?= Button("edit", $revision->isCurrent() ? _("Edit") : _("Edit Old Revision")) ?>
<?php if ($user->isAdmin() or mayAccessPage('change',$page->getName())) { ?>
  <?=$Sep?><?= Button($page->get('locked') ? 'unlock' : 'lock') ?>
  <?php if (ENABLE_PAGEPERM) { ?>
     <?=$Sep?><?= Button('chown') ?>
     <?=$Sep?><?= Button('setacl') ?>
  <?php } ?>
<?php } ?>
<?php if ($user->isAdmin() or mayAccessPage('remove',$page->getName())) { ?>
   <?=$Sep?><?= Button('remove') ?>
<?php } ?>
<?php if (!empty($user) && $user->isAdmin()) { ?>
  <?=$Sep?><?= WikiLink(_("PhpWikiAdministration"), "","Admin") ?>
  <!-- Buttons really only for debugging. See info for more -->
  <?=$Sep?><?= Button(_("PageHistory")) ?>
  <?=$Sep?><?= Button("diff") ?>
  <?=$Sep?><?= Button(_("PageDump")) ?>
  <!-- End debugging buttons -->
<?php } ?>
