#!/bin/sh -e

# Source debconf library.
. /usr/share/debconf/confmodule

db_get @PACKAGE@/shared/web_host || true
if [ -z "$RET" ] ; then
   hostname=$(hostname -f 2>/dev/null) || hostname=localhost
   db_set @PACKAGE@/shared/web_host $hostname
fi
db_input medium @PACKAGE@/shared/web_host || true
db_go || true

db_get @PACKAGE@/shared/server_admin || true
if [ -z "$RET" ] ; then
  db_get @PACKAGE@/shared/web_host || true
  db_set @PACKAGE@/shared/server_admin "webmaster@$RET"
fi

db_input medium @PACKAGE@/shared/server_admin || true
db_input low @PACKAGE@/shared/forge_name || true

db_go || true
