#!/bin/sh -e

# Source debconf library.
. /usr/share/debconf/confmodule

#DSFHELPER:get-pw-from-debconf#
#DSFHELPER:create-random-pw#

db_fget @PACKAGE@/shared/admin_password seen || true
if [ "$RET" = "false" ]; then
    if [ "$(get_pw @PACKAGE@/shared/admin_password high)" = "not-asked" ] ; then
	db_set @PACKAGE@/shared/admin_password $(gen_random_pw)
	db_get @PACKAGE@/shared/admin_password || true
	echo "Since you asked not to see all the debconf questions, I generated a random"
	echo "password for the admin user.  It is '${RET}'." ;
	db_fset @PACKAGE@/shared/admin_password seen true
    fi
fi

db_go || true
db_stop
